@model List<LMS_WebAPP_Domain.LeaveTransaction>
@{
    ViewBag.Title = "LeaveTransaction";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .disabled {
        pointer-events: none;
        cursor: default;
        color: gray !important;
    }

    .pagination > .active > a,
    .pagination > .active > span,
    .pagination > .active > a:hover,
    .pagination > .active > span:hover,
    .pagination > .active > a:focus,
    .pagination > .active > span:focus {
        z-index: 3;
        color: #fff;
        cursor: default;
        background-color: black !important;
        border-color: black !important;
    }
</style>
<!-- Font Awesome -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
<!-- Ionicons -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
<!-- DataTables -->
<link rel="stylesheet" href="../../plugins/datatables/dataTables.bootstrap.css">
<!-- iCheck for checkboxes and radio inputs -->
<link rel="stylesheet" href="../../plugins/iCheck/all.css">
<link href="~/plugins/Toastr/toastr.css" rel="stylesheet" />
<link href="~/plugins/BootstrapToggle/bootstrap-toggle.min.css" rel="stylesheet" />

@*<style>
        .paginate_button{
            background-color:#222d32 !important;
        }
    </style>*@
<section class="content-header" style="height:41px">
    <h1 class="col-md-9" style="padding-left:0px">
        Leave Details
    </h1>
    <div style="float:right;padding-right:0px" class="col-md-2">
        <button type="button" id="btnaddleave" class="btn btn-block bg-black" data-toggle="modal" data-target=".bs-add-leave-modal" style="background-color:#222d32 !important"><i class="fa fa-plus"></i>&nbsp; Add Leave </button>

    </div>
</section>

<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-body" id="tblAppliedLeave">
                    <table id="example1" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>From Date</th>
                                <th>To Date</th>
                                <th>Submitted Date</th>
                                <th>Status</th>
                                <th style="width:160px">Number of working Days</th>
                                <th>Leave Type</th>
                                @*<th>Apply</th>*@
                                <th>Delete</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (LMS_WebAPP_Domain.LeaveTransaction m in Model)
                            {
                                var btnDisabled = m.RefStatus > 9 ? "disabled" : "";


                                <tr>
                                    <td>@m.FromDate.Date.ToString("dd/MM/yyyy")</td>
                                    <td>@m.ToDate.Date.ToString("dd/MM/yyyy")</td>
                                    <td>@m.CreatedDate.Date.ToString("dd/MM/yyyy")</td>
                                    <td>@(LMS_WebAPP_Utils.CommonMethods.Description((LMS_WebAPP_Utils.LeaveStatus)m.RefStatus))</td>
                                    <td>@m.NumberOfWorkingDays</td>
                                    <td>@(LMS_WebAPP_Utils.CommonMethods.Description((LMS_WebAPP_Utils.LeaveType)m.RefLeaveType))</td>
                                    @*<td style="align-content:center">
                                            <a href="#" id="btnApplyLeave" class="@btnDisabled" style="color:green" data-content="@m.Id">
                                                <span class="fa fa-check"></span>
                                            </a>

                                        </td>*@
                                    <td>
                                        <a href="#" id="btnDeleteLeave" style="color:red" data-content="@m.Id">
                                            <span class="fa fa-close"></span>
                                        </a>

                                    </td>
                                </tr>


                            }
                        </tbody>
                        <tfoot>
                            <tr>
                                <td></td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>
<div class="modal bs-add-leave-modal" id="AddLeaveModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Apply Leave</h4>
            </div>
            <div class="modal-body">
                <div class="form-group" style="padding-bottom:20px">

                    <div>
                        <label>Leave Type</label>
                    </div>
                    <span class="form-group has-error" style="display:none" id="divLeaveTypeError">
                        <label class="control-label" for="inputError">
                            <i class="fa fa-times-circle-o"></i> Please select leave type:
                        </label>
                    </span>

                    <div id="rddiv">
                        @foreach (var value in Enum.GetValues(typeof(LMS_WebAPP_Utils.LeaveType)))
                        {
                            <div class="col-md-3">
                                <input type="radio" name="r1" id="RdLeaveType_@Convert.ToInt16((LMS_WebAPP_Utils.LeaveType)value)" class="flat-red" value="@Convert.ToInt16((LMS_WebAPP_Utils.LeaveType)value)">&nbsp; @(LMS_WebAPP_Utils.CommonMethods.Description((LMS_WebAPP_Utils.LeaveType)Convert.ToInt16((LMS_WebAPP_Utils.LeaveType)value)))
                            </div>
                        }

                    </div>
                </div>
                <div class="form-group" id="divHalfDay">
                    <div>
                        <label>Please Select:</label>
                    </div>

                    <input type="checkbox" checked data-toggle="toggle" id="toggleOne" data-on="Full Day" data-off="Half Day" data-width="100" style="background-color:black !important">
                </div>
                <div class="form-group" id="divDateRange" style="display:none">
                    <div>
                        <label>Date range:</label>
                    </div>

                    <div class="input-group">
                        <div class="input-group-addon">
                            <i class="fa fa-calendar"></i>
                        </div>
                        <input type="text" class="form-control pull-right" id="leaveDatepicker">
                    </div>


                    <div class="form-group has-error" style="display:none" id="divDatePickerError">
                        <label class="control-label" for="inputError">
                            <i class="fa fa-times-circle-o"></i> Please select a valid date range.
                        </label>

                    </div>
                </div>
                <div class="form-group" id="divNoOfWorking" style="display:none">
                    <div>
                        <label>Number Of Working Days:</label>
                        <span id="lblTotalWorkingDays"></span>
                    </div>
                </div>
                <div class="form-group" id="CompoDatePicker" style="display:none">
                    <label>Date:</label>
                    <div class="input-group date">
                        <div class="input-group-addon">
                            <i class="fa fa-calendar"></i>
                        </div>
                        <input type="text" class="form-control pull-right" id="datepicker" readonly="readonly">
                    </div>
                    <!-- /.input error -->
                    <div class="form-group has-error" style="display:none" id="divDateError">
                        <label class="control-label" for="datepicker">
                            <i class="fa fa-times-circle-o"></i> Please select Date
                        </label>

                    </div>
                </div>
                <div class="form-group" id="SickDatePicker" style="display:none">
                    <label>Date:</label>
                    <div class="input-group date">
                        <div class="input-group-addon">
                            <i class="fa fa-calendar"></i>
                        </div>
                        <input type="text" class="form-control pull-right" id="sickDate" readonly="readonly">
                    </div>
                    <!-- /.input group -->
                </div>
                <div class="form-group">
                    <div>
                        <label>Reason:</label>
                    </div>

                    <div>
                        <textarea id="leaveComment" rows="3" style="width:568px" placeholder="Enter ..."></textarea>
                    </div>
                    <div class="form-group has-error" style="display:none" id="divCommentError">
                        <label class="control-label" for="leaveComment">
                            <i class="fa fa-times-circle-o"></i> Please enter the reason
                        </label>

                    </div>

                </div>
            </div>

            <div class="modal-footer">
                <button type="button" id="btnLeaveRequestSubmit" style="background-color:#222d32 !important" class="btn btn-primary">Submit</button>
                <button type="button" class="btn btn-default pull-right Close" data-dismiss="modal">Cancel</button>

            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
<!-- /.content -->
<!-- ./wrapper -->
<!-- DataTables -->
<script src="../../plugins/datatables/jquery.dataTables.min.js"></script>
<script src="../../plugins/datatables/dataTables.bootstrap.min.js"></script>
<!-- SlimScroll -->
<script src="../../plugins/slimScroll/jquery.slimscroll.min.js"></script>
<!-- FastClick -->
<script src="../../plugins/fastclick/fastclick.js"></script>
<!-- AdminLTE App -->
<script src="../../dist/js/app.min.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="../../dist/js/demo.js"></script>
<!-- page script -->
<script src="~/plugins/BootstrapToggle/bootstrap-toggle.min.js"></script>
<script src="~/plugins/daterangepicker/moment.min.js"></script>
@*<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.11.2/moment.min.js"></script>*@
<script src="../../plugins/daterangepicker/daterangepicker.js"></script>
<!-- bootstrap datepicker -->
<script src="../../plugins/datepicker/bootstrap-datepicker.js"></script>
<script src="../../plugins/iCheck/icheck.min.js"></script>
<script src="../../plugins/Toastr/toastr.js"></script>
<script>
    var fromDate;
    var toDate;
    var IsFullDay;
    var workingDays;
    var sickLeaveId = '@Convert.ToInt16((LMS_WebAPP_Utils.LeaveType.SickLeave))';
    var sickleavename = "r1_RdLeaveType_" + sickLeaveId;
    //set default

    function formatDate(date) {
        var mm = date.getMonth() + 1;
        var dd = date.getDate();
        var yyyy = date.getFullYear();
        mm = (mm < 10) ? '0' + mm : mm;
        return mm + "-" + dd + "-" + yyyy;
    }
    var today = (formatDate(new Date()));

    $("#RdLeaveType_" + sickLeaveId).attr('checked', true);
    $('#SickDatePicker').show();
    $('#sickDate').val(today);

    $(document).ready(function () {
        if (localStorage.getItem("leaveDeleted") == 1) {
            showSuccessMessage("Leave request deleted");
            localStorage.removeItem("leaveDeleted");
        }

        $('.toggle-on').css("background-color", "Black");

        $(function () {
            $('#example1').DataTable({
                "paging": true,
                "lengthChange": true,
                "searching": false,
                "ordering": false,
                "info": true,
                "autoWidth": false,
            });
            $("#example1.dataTables_filter").hide();
            $('#leaveDatepicker').daterangepicker(
                {
                    minDate: new Date()
                });
            $('#leaveDatepicker').on('change.daterangepicker', function (ev, picker) {
                var date = ev.target.value;
                var dates = [];
                dates = date.split('-');
                var start = dates[0].trim();
                var startDate = new Date(start);
                var startMonth = startDate.getMonth() + 1;
                fromDate = startDate.getFullYear() + "-" + startMonth + "-" + startDate.getDate();
                var end = dates[1].trim();
                var endDate = new Date(end);
                var endMonth = endDate.getMonth() + 1;
                toDate = endDate.getFullYear() + "-" + endMonth + "-" + endDate.getDate();
                //toDate = end.toString("YYYY-MM-DD");
                var days = (endDate - startDate) / (1000 * 60 * 60 * 24);
                days += 1;
                var weekend_count = 0;
                for (i = startDate.valueOf() ; i <= endDate.valueOf() ; i += 86400000) {
                    var temp = new Date(i);
                    if (temp.getDay() == 0 || temp.getDay() == 6) {
                        weekend_count++;
                    }
                }
                days = days - weekend_count;
                $("#lblTotalWorkingDays").html(Math.round(days));
            });
            $('#leaveDatepicker').on('apply.daterangepicker', function (ev, picker) {

                var start = picker.startDate;
                fromDate = start.format('YYYY-MM-DD');
                var end = picker.endDate;
                toDate = end.format('YYYY-MM-DD');
                var days = (end - start) / (1000 * 60 * 60 * 24);

                var weekend_count = 0;
                for (i = start.valueOf() ; i <= end.valueOf() ; i += 86400000) {
                    var temp = new Date(i);
                    if (temp.getDay() == 0 || temp.getDay() == 6) {
                        weekend_count++;
                    }
                }
                days = days - weekend_count
                $("#lblTotalWorkingDays").html(Math.round(days));
            });
        });
        $('#AddLeaveModal').on('hidden.bs.modal', function () {
            debugger;
            $(this).find("textarea#leaveComment").val('').end();
            //$("#leaveDatepicker").daterangepicker("destroy");
            //$("#leaveDatepicker").daterangepicker("refresh");

            $("#divCommentError").hide();
            $('#sickDate').val(today);
            $("#divLeaveTypeError").hide();
            $(this).find("input.flat-red:checked").parent().removeClass('checked');
            $("#RdLeaveType_" + sickLeaveId).parent().addClass('checked');
            //  $('#RdLeaveType_" + sickLeaveId'+" 'input'").iCheck('check');
        });
    });
    $(function () {
        $('#toggleOne').bootstrapToggle({
            on: 'Full Day',
            off: 'Half Day'
        });
    })

    $(function () {
        $('#toggle-event').change(function () {
            if ($(this).prop('checked')) {
                IsFullDay = true;
            }
            else {
                IsFullDay = false;
            }
        })
    })
    $(document).on('click', '#btnClose,.close,.Close', function (e) {
        debugger;
        $("#RdLeaveType_" + sickLeaveId).attr('checked', true);
        $('#SickDatePicker').show();
        $('#sickDate').val(today);
        $('#divDateRange').hide();
        $('#divNoOfWorking').hide();
        $('#CompoDatePicker').hide();
        $('#leaveComment').val("");
    });




    $('input').on('ifChecked', function (event) {
        debugger;
        //  alert(event.type + ' callback');
        var clickedradioButton = $('input[name=r1]:checked').val();
        switch (clickedradioButton) {
            case '@Convert.ToInt16((LMS_WebAPP_Utils.LeaveType.SickLeave))':
                console.log("SickLeave");
                $('#divDateRange').hide();
                $('#divNoOfWorking').hide();
                $('#leaveComment').val("");
                $('#CompoDatePicker').hide();
                $('#divDateError').hide();
                $('#toggleOne').bootstrapToggle('on');
                $('#divCommentError').hide();
                $("#divLeaveTypeError").hide();
                $('#SickDatePicker').show();
                $('#divHalfDay').show();
                break;
            case '@Convert.ToInt16((LMS_WebAPP_Utils.LeaveType.CasualLeave))':
                $('#divDateRange').show();
                $('#divNoOfWorking').show();
                $('#CompoDatePicker').hide();
                $('#SickDatePicker').hide();
                $('#divDateError').hide();
                $('#leaveComment').val("");
                $('#toggleOne').bootstrapToggle('on');
                $('#divCommentError').hide();
                $("#divLeaveTypeError").hide();
                $('#divHalfDay').show();
                break;
            case '@Convert.ToInt16((LMS_WebAPP_Utils.LeaveType.AdvanceLeave))':
                $('#divDateRange').show();
                $('#divNoOfWorking').show();
                $('#CompoDatePicker').hide();
                $('#divDateError').hide();
                $('#divCommentError').hide();
                $('#leaveComment').val("");
                $("#divLeaveTypeError").hide();
                $('#SickDatePicker').hide();
                $('#divHalfDay').hide();
                break;
            case '@Convert.ToInt16((LMS_WebAPP_Utils.LeaveType.CompoOff))':
                $('#divDateRange').hide();
                $('#divNoOfWorking').hide();
                $('#CompoDatePicker').show();
                $("#datepicker").val() != "";
                $('#divCommentError').hide();
                $('#leaveComment').val("");
                $('#divDateError').hide();
                $("#divLeaveTypeError").hide();
                $('#SickDatePicker').hide();
                $('#divHalfDay').hide();
                break;
            default:
                break;

        }
        console.log("sick leave clicked;");
    });

    $("#leaveComment").keypress(function (e) {
        $('#divCommentError').hide();
    });
    $('input[name=r1]').parent().click(function (e) {
        $("#divLeaveTypeError").hide();
    });

    //Form validation

    function FormValidate() {
        var clickedradioButton = $('input[name=r1]:checked').val();
        switch (clickedradioButton) {
            case '@Convert.ToInt16((LMS_WebAPP_Utils.LeaveType.SickLeave))':
                //check comments
                if ($("#leaveComment").val() != "") {
                    //set from date to date IsFullDay,noof working days
                    fromDate = $("#sickDate").val();
                    toDate = fromDate;
                    workingDays = 1;
                    return true;
                }
                else {
                    $('#divCommentError').show();
                    return false;
                }

                break;
            case '@Convert.ToInt16((LMS_WebAPP_Utils.LeaveType.CompoOff))':
                //check date
                if ($("#leaveComment").val() != "" && $("#datepicker").val() != "") {
                    fromDate = $("#datepicker").val();
                    toDate = fromDate;
                    workingDays = 1;
                    return true;
                }
                else if ($("#leaveComment").val() == "" && $("#datepicker").val() == "") {
                    $('#divCommentError').show();
                    $('#divDateError').show();
                    return false;
                }
                else {
                    if ($("#leaveComment").val() == "") {
                        $('#divCommentError').show();
                        return false;
                    }
                    else if ($("#datepicker").val() == "") {
                        $('#divDateError').show();
                        return false;
                    }
                }
                //check comment
                break;
            case '@Convert.ToInt16((LMS_WebAPP_Utils.LeaveType.CasualLeave))':
            case '@Convert.ToInt16((LMS_WebAPP_Utils.LeaveType.AdvanceLeave))':

                //check date range
                //check comment
                if ($("#leaveComment").val() != "" && $("#leaveDatepicker").val() != "") {
                    //set values
                    fromDate = fromDate;
                    toDate = toDate;
                    workingDays = $("#lblTotalWorkingDays").html();
                    return true;
                }
                else if ($("#leaveComment").val() == "" && $("#leaveDatepicker").val() == "") {
                    $('#divCommentError').show();
                    $('#divDatePickerError').show();
                    return false;
                }
                else {
                    if ($("#leaveComment").val() == "") {
                        $('#divCommentError').show();
                        return false;
                    }
                    else if ($("#leaveDatepicker").val() == "") {
                        $('#divDatePickerError').show();
                        return false;
                    }
                }
                break;
            default:
                return true;
                break;
        }
    }


    // submitting leave request

    $(document).on('click', '#btnLeaveRequestSubmit', function (e) {
        debugger;
        if (FormValidate()) {
            var comments = $("#leaveComment").val();
            var leaveType = $('input[name=r1]:checked').val();
            $.ajax({
                cache: false,
                type: 'post',
                url: '/ApplyLeave/SubmitLeaveRequest',
                data: { leaveType: leaveType, fromDate: fromDate, toDate: toDate, comments: comments, workingDays: workingDays, isFullDay: IsFullDay },
                //contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {
                    $('#AddLeaveModal').modal('hide');
                    showSuccessMessage("Leave request successfully submitted for approval");
                    updateLeaveTable(data.result);
                }
            });
        }
    }
    );
    $('input[type="checkbox"].flat-red, input[type="radio"].flat-red').iCheck({
        checkboxClass: 'icheckbox_flat-green',
        radioClass: 'iradio_flat-green'
    });

    $('#datepicker').datepicker({
        autoclose: true,
        setDate: today
    })
    .on('changeDate', function (ev) {
        $('#divDateError').hide();
    });

    // $('#datepicker').datepicker('setDate', today);

    $(document).on('click', '#btnApplyLeave', function (e) {
        var id = $(this).data("content");
        $.ajax({
            cache: false,
            type: 'post',
            url: '/ApplyLeave/SubmitLeaveForApproval',
            data: { id: id },
            //contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data) {
                localStorage.setItem("leaveSubmitted", 1);
                location.reload();
            }
        });
    }
    );


    $(document).on('click', '#btnDeleteLeave', function (e) {
        var id = $(this).data("content");
        $.ajax({
            cache: false,
            type: 'post',
            url: '/ApplyLeave/DeleteLeaveRequest',
            data: { leaveId: id },
            //contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data) {
                updateLeaveTable(data.result);
                showSuccessMessage("Leave request successfully deleted");
            }
        });
    }
   );

    function showSuccessMessage(message, fadeOut) {
        //To clear existing toastr
        toastr.clear();
        //fadeOut = false;
        var position = "bottom-full-width";
        toastr.options.positionClass = 'toast-' + position;
        if (typeof fadeOut !== "undefined" && fadeOut == false) { toastr.options.timeOut = 0; }
        toastr.success(message);
    }

    function convertToJsonDate(jsonDate) {
        //var dateFormat = dateTimeFormat;
        if (jsonDate != undefined && jsonDate != null) {
            var regex = /-?\d+/;
            var matches = regex.exec(jsonDate);
            var date = new Date(parseInt(matches[0]));
            var d = new Date(date);
            if (d.getFullYear() < 2000) {
                return "";
            }
            if (!isNaN(d.getDate()) && !isNaN(d.getMonth()) && !isNaN(d.getFullYear())) {
                formattedDate = d.getDate() + "-" + (d.getMonth() + 1) + "-" + d.getFullYear();
                return formattedDate;
            }
            else {
                return "";
            }
        }
        else {
            return "";
        }
    }

    function updateLeaveTable(data) {
        $("#tblAppliedLeave").html("");
        var html = "<table id='example1' class='table table-bordered table-striped'><thead>" +
                "<tr><th>From Date</th><th>To Date</th><th>Submitted Date</th><th>Status</th>" +
                    "<th style=width:160px'>Number of working Days</th><th>Leave Type</th><th>Delete</th></tr></thead><tbody>";
        for (var i = 0; i < data.length; i++) {
            html += "<tr><td>" + convertToJsonDate(data[i].FromDate) + "</td><td>" + convertToJsonDate(data[i].ToDate) + "</td>" +
               "<td>" + convertToJsonDate(data[i].CreatedDate) + "</td>" +
                       "<td>" + data[i].RefStatus + "</td><td>" + data[i].NumberOfWorkingDays + "</td>" +
           "<td>" + data[i].RefLeaveType + "</td><td><a href='#' id='btnDeleteLeave' style='color:red' data-content='" + data[i].Id + "'><span class='fa fa-close'></span></a> </td> </tr>"
        }
        html += "</tbody></table>";
        $("#tblAppliedLeave").html(html);
        $('#example1').DataTable({
            "paging": true,
            "lengthChange": true,
            "searching": false,
            "ordering": true,
            "info": true,
            "autoWidth": false,
        });
    }
</script>
