@model List<LMS_WebAPP_Domain.ApproveLeave>
@{
    ViewBag.Title = "ApproveLeave";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
    <!-- DataTables -->
    <link rel="stylesheet" href="../../plugins/datatables/dataTables.bootstrap.css">

    <!-- iCheck for checkboxes and radio inputs -->
    <link rel="stylesheet" href="../../plugins/iCheck/all.css">
    <link rel="stylesheet" href="../../dist/css/AdminLTE.min.css">
    <link href="~/Content/Style.css" rel="stylesheet" />
    <link href="~/plugins/Toastr/toastr.css" rel="stylesheet" />

    <!-- Content Wrapper. Contains page content -->
    <!-- Main content -->
    <section class="content-header" style="height:41px">
        <h1 class="col-md-9" style="padding-left:0px">
            Approve Leave
        </h1>

    </section>

    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box box-success">
                    <div class="box-body">
                        <table id="example1" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>Employee Name</th>
                                    <th>From Date</th>
                                    <th>To Date</th>
                                    <th>Submitted Date</th>
                                    <th>Status</th>
                                    <th style="width:160px">Number of working Days</th>
                                    <th>Leave Type</th>
                                    <th>View</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (LMS_WebAPP_Domain.ApproveLeave m in Model)
                                {
                                    var btnDisabled = m.RefStatus > 9 ? "disabled" : "";


                                    <tr>
                                        <td>@m.EmployeeName</td>
                                        <td>@m.FromDate.Date.ToString("dd/MM/yyyy")</td>
                                        <td>@m.ToDate.Date.ToString("dd/MM/yyyy")</td>
                                        <td>@m.CreatedDate.Date.ToString("dd/MM/yyyy")</td>
                                        <td>@(LMS_WebAPP_Utils.CommonMethods.Description((LMS_WebAPP_Utils.LeaveStatus)m.RefStatus))</td>
                                        <td>@m.NumberOfWorkingDays</td>
                                        <td>@(LMS_WebAPP_Utils.CommonMethods.Description((LMS_WebAPP_Utils.LeaveType)m.RefLeaveType))</td>
                                        <td><button type="button" id="btnViewLeave" class="btn bg-black" data-toggle="modal" data-target=".bs-add-leave-modal" style="background-color:#222d32 !important" data-content="@m.Id" data-COMMENT="@m.EmployeeComment"><i class="fa fa-eye"></i></button></td>

                                    </tr>


                                }
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td></td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </section>
    <div class="modal bs-add-leave-modal" id="ViewLeaveModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content border-radius-modalBottom">
                <div class="modal-header modalHeaderStyle">
                    <button type="button" class="close text-color-white" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h3 class="modal-title">View Leave</h3>
                </div>
                <div class="modal-body">
                    <div class="form-group" style="padding-left: 20px;">
                        <div>
                            <table width="100%">
                                <tr>
                                    <td width="50%">
                                        <label>Employee Name :  </label> &nbsp;
                                        <span id="MdlName"></span>
                                    </td>
                                    <td style="padding-left: 48px;">
                                        <label>Leave Type :  </label> &nbsp;
                                        <span id="MdlLeaveType"></span>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div>

                        </div>
                        <div>
                            <label style="padding-top:20px">From Date : </label> &nbsp;<span id="MdlFromDate"></span>
                            <label style="padding-left:180px">To Date : </label> &nbsp;<span id="MdlToDate"></span>
                        </div>
                        <div>

                        </div>
                        <div>
                            <label style="padding-top:20px">Submitted Date : </label> &nbsp;<span id="MdlSubmittedDate"></span>
                            <label style="padding-left:150px">Number Of Working Days :</label> &nbsp;<span id="MdlNumberOfWorkingDays"></span>
                        </div>
                        <div>

                        </div>
                        <div>
                            <label style="padding-top:20px">Employee Comments :</label> &nbsp;<span id="MdlEmployeeComments"></span>
                        </div>
                    </div>
                    <div class="form-group" style="padding-left: 20px;">
                        <div>
                            <label id="managercomments" style="padding-top:20px">Manager Comments <span style="color:red">*</span> :</label>
                        </div>

                        <div>
                            <textarea id="leaveComment" rows="3" style="width:100%" placeholder="Enter ..."></textarea>
                        </div>
                        <div class="form-group has-error" style="display:none" id="divCommentError">
                            <label class="control-label" for="managercomments">
                                <i class="fa fa-times-circle-o"></i> Please enter the comments
                            </label>

                        </div>
                        <div>
                            <label style="padding-top:20px">Do you want to reassign? <span style="color:red">*</span> :</label>
                            <span style="padding-top:20px;padding-left:50px">
                                NO
                                <input id="rd1" value="NO" style="padding-top:20px" type="radio" name="r1" class="flat-red" checked>
                            </span>
                            <span style="padding-top:20px; padding-left:50px">
                                YES
                                <input value="YES" style="padding-top:20px" type="radio" name="r1" class="flat-red">
                            </span>

                        </div>
                        <div class="form-group" id="assignto">
                            <label>Assign To:</label>
                            <select class="form-control select2" style="width: 100%;" id="dropdownassignto" name="dropdownassignto"></select>
                        </div>
                        <label id="lblHiddenId" style="display:none"></label>
                        <div class="form-group has-error" style="display:none" id="divselectError">
                            <label class="control-label" for="dropdownassignto">
                                <i class="fa fa-times-circle-o"></i> Please select the manager
                            </label>

                        </div>

                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" id="btnAssignTo" style="background-color:#222d32 !important" class="btn btn-primary">Assign</button>
                    <button type="button" id="btnApproveLeave" style="background-color:#222d32 !important" class="btn btn-primary">Approve</button>
                    <button type="button" id="btnRejectLeave" style="background-color:#222d32 !important" class="btn btn-primary">Reject</button>
                    @*<button type="button" id="btnCancelLeave" style="background-color:#222d32 !important" class="btn btn-primary">Cancel</button>*@
                    <button type="button" class="btn btn-primary pull-right" style="background-color:#222d32 !important" data-dismiss="modal" data->Cancel</button>

                </div>
            </div>
        </div>
    </div>
    <!-- /.modal -->
    <!-- /.content -->
    <!-- ./wrapper -->
    <!-- DataTables -->
    <script src="../../plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="../../plugins/datatables/dataTables.bootstrap.min.js"></script>
    <!-- AdminLTE App -->
    <script src="../../dist/js/app.min.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="../../dist/js/demo.js"></script>
    <!-- page script -->
    <script src="~/plugins/daterangepicker/moment.min.js"></script>
    <script src="../../plugins/daterangepicker/daterangepicker.js"></script>
    <!-- bootstrap datepicker -->
    <script src="../../plugins/datepicker/bootstrap-datepicker.js"></script>
    <script src="../../plugins/iCheck/icheck.min.js"></script>
    <script src="../../plugins/Toastr/toastr.js"></script>
    <script>
        var fromDate;
        var toDate;
        $(document).ready(function () {
            $('#approveLeave').parent().addClass('active');
            if (localStorage.getItem("leaveApproved") == 1) {
                showMessage("Leave request successfully approved", "1", true);
                localStorage.removeItem("leaveApproved");
            }
            if (localStorage.getItem("leaveRejected") == 1) {
                showMessage("Leave request rejected", "2", true);
                localStorage.removeItem("leaveRejected");
            }
            if (localStorage.getItem("leaveAssigned") == 1) {
                showMessage("Leave request successfully assigned", "1", true);
                localStorage.removeItem("leaveAssigned");
            }
            if (localStorage.getItem("leaveCanceled") == 1) {
                showMessage("Leave request Canceled", "1", true);
                localStorage.removeItem("leaveCanceled");
            }
            $(function () {
                $('#example1').DataTable({
                    "paging": true,
                    "lengthChange": true,
                    "searching": false,
                    "ordering": true,
                    "info": true,
                    "autoWidth": false,
                });
                $("#example1.dataTables_filter").hide();
            });
        });

        $("#leaveComment").keypress(function (e) {
            $("#divCommentError").hide();
        });

        $('input:radio[name=r1]').change(function (e) {
            if ($("input[name='r1']:checked").val() == 'NO') {
                $("#assignto").hide();
                $("#btnAssignTo").hide();
                $("#btnApproveLeave").show();
                $("#btnRejectLeave").show();
                $("#divselectError").hide();
            }
            if ($("input[name='r1']:checked").val() == 'YES') {
                $("#assignto").show();
                $("#btnAssignTo").show();
                $("#btnApproveLeave").hide();
                $("#btnRejectLeave").hide();
                $.ajax({
                    cache: false,
                    type: 'post',
                    url: '/ApproveLeave/GetAllManagers',
                    data: {},
                    //contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (data) {
                        $('#dropdownassignto').empty().append('<option selected="selected" value="0">Please select</option>');
                        for (var i = 0; i < data.result.length; i++) {
                            var name = data.result[i].FirstName;
                            if (data.result[i].LastName != null) {
                                name += " ";
                                name += data.result[i].LastName;
                            }
                            var opt = new Option(name, data.result[i].Id);
                            $('#dropdownassignto').append(opt);
                        }
                    }
                });
            }

        });

        $('input:radio[name=r2]:checked').change(function (e) {
            if ($("input[name='r1']:checked").val() == 'YES') {
                $("#assignto").show();
            }

        });

        $(document).on('click', '#btnViewLeave', function (e) {
            var tt = $(this);
            var name = tt.parent().parent().children()[0].innerText;
            var leavetype = tt.parent().parent().children()[6].innerText;
            var fromdate = tt.parent().parent().children()[1].innerText;
            var todate = tt.parent().parent().children()[2].innerText;
            var submitteddate = tt.parent().parent().children()[3].innerText;
            var numberofworkingdays = tt.parent().parent().children()[5].innerText;
            var leavetype = tt.parent().parent().children()[6].innerText;
            var employeecomments = $(this).attr("data-COMMENT");

            $("#rd1").prop('checked', true);
            $("#btnApproveLeave").show();
            $("#btnRejectLeave").show();
            $("#divCommentError").hide();
            $("#divselectError").hide();
            $('#assignto').hide();

            $('#MdlName').html(name);
            $('#MdlLeaveType').html(leavetype);
            $('#MdlFromDate').html(fromdate);
            $('#MdlToDate').html(todate);
            $('#MdlSubmittedDate').html(submitteddate);
            $('#MdlNumberOfWorkingDays').html(numberofworkingdays);
            $('#MdlEmployeeComments').html(employeecomments);


            var id = $(this).data("content");
            $('#lblHiddenId').html(id);
            $("#btnAssignTo").hide();
            var status = 1;
            $.ajax({
                cache: false,
                type: 'get',
                url: '/ApproveLeave/GetApproveLeave',
                data: { id: id, status: status },
                //contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {

                    $('#ViewLeaveModal').modal('show');

                }
            });
        }
);

        $(document).on('click', '#btnApproveLeave', function (e) {
            $("#divCommentError").hide();
            if ($("#leaveComment").val() == "") {
                $("#divCommentError").show();
            }
            else {
                $("#divCommentError").hide();
                var Leavecomments = $("#leaveComment").val();
                var Leaveid = $("#lblHiddenId").html();
                var Leavestatus = "Approved";
                var Approverid = 0;
                $("#Loading").show();
                $.ajax({
                    cache: false,
                    type: 'post',
                    url: '/ApproveLeave/TakeActionOnEmployeeLeave',
                    data: { Leaveid: Leaveid, Leavecomments: Leavecomments, Leavestatus: Leavestatus, Approverid: Approverid },
                    //contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (data) {
                        if (data) {
                            $('#ViewLeaveModal').modal('hide');
                            localStorage.setItem("leaveApproved", 1);
                            location.reload();
                            $("#Loading").hide();
                        }
                    }
                });
            }
        }
);

        $(document).on('click', '#btnRejectLeave', function (e) {

            $("#divCommentError").hide();
            if ($("#leaveComment").val() == "") {
                $("#divCommentError").show();
            }
            else {
                $("#Loading").show();
                $("#divCommentError").hide();
                var Leavecomments = $("#leaveComment").val();
                var Leaveid = $("#lblHiddenId").html();
                var Leavestatus = "Rejected";
                var Approverid = 0;
                $.ajax({
                    cache: false,
                    type: 'post',
                    url: '/ApproveLeave/TakeActionOnEmployeeLeave',
                    data: { Leaveid: Leaveid, Leavecomments: Leavecomments, Leavestatus: Leavestatus, Approverid: Approverid },
                    //contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (data) {
                        $('#ViewLeaveModal').modal('hide');
                        localStorage.setItem("leaveRejected", 1);
                        location.reload();
                        $("#Loading").hide();
                    }
                });
            }
        }
);


        $(document).on('click', '#btnAssignTo', function (e) {
            $("#divCommentError").hide();
            $("#divselectError").hide();
            if ($("#dropdownassignto").val() == 0) {
                $("#divselectError").show();
            }
            else if ($("#leaveComment").val() == "") {
                $("#divCommentError").show();
            }
            else {
                $("#Loading").show();
                $("#divselectError").hide();
                var Leavecomments = $("#leaveComment").val();
                var Leaveid = $("#lblHiddenId").html();
                var Approverid = $("#dropdownassignto").val();
                var Leavestatus = "Reassigned";
                $.ajax({
                    cache: false,
                    type: 'post',
                    url: '/ApproveLeave/TakeActionOnEmployeeLeave',
                    data: { Leaveid: Leaveid, Leavecomments: Leavecomments, Leavestatus: Leavestatus, Approverid: Approverid },
                    //contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (data) {
                        $('#ViewLeaveModal').modal('hide');
                        localStorage.setItem("leaveAssigned", 1);
                        location.reload();
                        $("#Loading").hide();
                    }
                });
            }
        }
);

        $('#dropdownassignto').on('change', function () {
            if ($("#dropdownassignto").val() != 0) {
                $("#divselectError").hide();
            }
            else {
                $("#divselectError").show();
            }
        });
    </script>


