@model LMS_WebAPP_Domain.ResourceDetails
@{
    var lstRequestStatus = new Dictionary<int, string>();
    foreach (var name in Enum.GetNames(typeof(LMS_WebAPP_Utils.ResourceRequestStatus)))
    {
        lstRequestStatus.Add((int)Enum.Parse(typeof(LMS_WebAPP_Utils.ResourceRequestStatus), name), LMS_WebAPP_Utils.CommonMethods.Description((LMS_WebAPP_Utils.ResourceRequestStatus)Enum.Parse(typeof(LMS_WebAPP_Utils.ResourceRequestStatus), name, true)));
    }
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="../../plugins/iCheck/all.css">
<link rel="stylesheet" href="../../plugins/select2/select2.min.css">
<link rel="stylesheet" href="../../dist/css/AdminLTE.min.css">
<link rel="stylesheet" href="../../plugins/FooTable/footable.core.min.css">
<link href="~/Content/Style.css" rel="stylesheet" />
<link href="~/plugins/datatables/jquery.dataTables.min.css" rel="stylesheet" />
<link href="~/plugins/datatables/dataTables.bootstrap.css" rel="stylesheet" />
<link href="~/plugins/Toastr/toastr.css" rel="stylesheet" />
<section class="content-header">
</section>
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">Resource Requests</h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                            <i class="fa fa-minus"></i>
                        </button>
                        <button type="button" class="btn btn-box-tool" data-widget="remove">
                            <i class="fa fa-times"></i>
                        </button>
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <table class="table no-margin" id="resourceRequestHistoryTable">
                            <thead>
                                <tr>
                                    <th>Request Ticket</th>
                                    <th>Request Title</th>
                                    <th>Created on</th>
                                    <th>Status</th>
                                    <th>Cancel Request</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var resource in Model.ResourceRequestHistory)
                                {
                                    <tr id="@resource.Ticket">
                                        <td><a href="#" data-ticket="@resource.Ticket" data-created="@resource.CreatedDate" data-updated="@resource.UpdatedDate" data-title="@resource.ResourceRequestTitle" data-noRsource="@resource.NumberRequestedResources" data-skills="@resource.Skills" data-sentTo="@resource.RequestToName" data-statusKey="@resource.Status" data-status="@resource.StatusValue" onclick="ticketClicked(this)">@resource.Ticket</a></td>
                                        <td>@resource.ResourceRequestTitle</td>
                                        @{
                                            var dateWithTime = resource.CreatedDate;
                                            string createdDate = "";
                                            createdDate = dateWithTime.ToString("MM/dd/yyyy");
                                        }
                                        <td>@createdDate</td>
                                        <td>
                                            <div class="btn-group">
                                                @if (resource.Status == 1)
                                                {
                                                    <span class="label btn-color-requested">@resource.StatusValue</span>
                                                }
                                                else if (resource.Status == 2)
                                                {
                                                    <span class="label btn-color-processing">@resource.StatusValue</span>
                                                }
                                                else if (resource.Status == 3)
                                                {
                                                    <span class="label btn-color-partialApproval">@resource.StatusValue</span>
                                                }
                                                else 
                                                {
                                                    <span class="label btn-color-approved">@resource.StatusValue</span>
                                                }
                                            </div>
                                        </td>
                                       
                                        <td class="text-align_center">
                                        @if (resource.Status != 4)
                                        {
                                            <a href="#"><span class="label btn-danger" data-ticket="@resource.Ticket" onclick="cancelRequest(this)">Cancel</span></a>
                                        }
                                        </td>
                                </tr>
                                }
                            </tbody>
                        </table>
                </div>
                <!-- /.box-body -->
                <div class="box-footer clearfix">
                    <a href="javascript:void(0)" class="btn btn-sm btn-flat pull-left bg-black"data-toggle="modal" data-target=".addResourceRequest-modal">Place New Request</a>
                    @if (Model.Count > 10)
                    {
                        <a href="javascript:void(0)" id="" class="btn btn-sm btn-flat pull-right bg-black viewAllBtn" onclick="getAllRequests()">View All Requests</a>
                    }
                    else
                    {
                        <a href="javascript:void(0)" id="" class="btn btn-sm btn-flat pull-right bg-black viewAllBtn" onclick="getAllRequests()" style="display:none">View All Requests</a>
                    }
                </div>
            </div>
        </div>
        
    </div>
    <!-- /.row -->
</section>
<div class="modal addResourceRequest-modal" id="addResourceRequestModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h3 class="modal-title">Resource Request</h3>
            </div>
            <div class="modal-body">
                <div class="box-body">
                    <div class="form-group" style="padding-bottom:20px">
                        <div class="form-group col-md-6">
                            <label for="txtRequestTitle">Request Title</label>
                            <input type="text" class="form-control" id="txtRequestTitle" placeholder="Enter Request Title" maxlength="50">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="txtNoOfResourcesRequired">No of Resources Required</label>
                            <input type="number" min="1" max="20" class="form-control" id="txtResourcesRequired">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="ddlSkills">Skills</label>
                            <select id="ddlSkills" multiple="multiple" class="form-control skills" style="width: 100%;">
                                @foreach (var skill in Model.Skills)
                            {
                                    <option value="@skill">@skill</option>
                            }
                            </select>
                        </div>
                        <div class="form-group col-md-6" id="ddlRequestToDiv">
                            <label>Request send to</label>
                            <select class="form-control" style="width: 100%;" id="ddlRequestSendToSel">
                                @foreach (var hr in Model.ListOfHR)
                            {
                                    <option value="@hr.Id">@hr.FirstName @hr.LastName</option>
                            }
                            </select>
                        </div>
                    </div>
                </div>
                <!-- /.box-body -->
                <div class="box-footer">
                    <div class="form-group col-md-6 margin-bottom-0 btn-backgroundColor-dark">
                        <button type="submit" id="btnSendResourceRequest" class="btn btn-primary bg-black">Send request</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<div class="modal requestResourceDetails-modal" id="RequestResourceDetailsModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h3 class="modal-title">Resource Request Status Details</h3>
            </div>
            <div class="modal-body">
                <div class="form-group" style="padding-bottom:20px">
                    <div class="padding-top-bottom10">
                        <div class="row">
                            <div class="col-md-4"><label class="">Request Title:</label></div>
                            <div class="col-md-8"><span class="requestTitle"></span></div>
                        </div>
                        <div class="row">
                            <div class="col-md-4"><label class="">Request ticket:</label></div>
                            <div class="col-md-8"><span class="requestTicket"></span></div>
                        </div>
                        <div class="row">
                            <div class="col-md-4"><label class="">No of resources required:</label></div>
                            <div class="col-md-8"><span class="requestResourceNumber"></span></div>
                        </div>
                        <div class="row">
                            <div class="col-md-4"><label class="">Skills required:</label></div>
                            <div class="col-md-8"><span class="requestedSkills"></span></div>
                        </div>
                        <div class="row">
                            <div class="col-md-4"><label class="">Request sent to:</label></div>
                            <div class="col-md-8"><span class="requestSentTo"></span></div>
                        </div>
                        <div class="row">
                            <div class="col-md-4"><label class="">Request sent date:</label></div>
                            <div class="col-md-8"><span class="requestSentDate"></span></div>
                        </div>
                        <div class="row">
                            <div class="col-md-4"><label class="">Request response date:</label></div>
                            <div class="col-md-8"><span class="requestResponseDate"></span></div>
                        </div>
                        <div class="row">
                            <div class="col-md-4"><label class="">Status:</label></div>
                            <div class="col-md-8"><span class="requestStatus"></span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<script src="../../plugins/iCheck/icheck.min.js"></script>
<script src="../../plugins/select2/select2.full.min.js"></script>
<script src="~/plugins/daterangepicker/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.11.2/moment.min.js"></script>
<script src="../../plugins/daterangepicker/daterangepicker.js"></script>
<script src="~/plugins/FooTable/footable.js"></script>
<script src="../../plugins/datatables/jquery.dataTables.min.js"></script>
<script src="../../plugins/datatables/dataTables.bootstrap.min.js"></script>
<script src="~/Content/Scripts/Common.js"></script>
<script src="../../plugins/Toastr/toastr.js"></script>
<script>
    var educationFromDate;
    var educationToDate;
    var experienceFromDate;
    var experienceToDate;
    var imgpath = "";
    var imgId;
    $(document).ready(function () {
        $(function () {
            //Initialize Select2 Elements
            $(".skills").select2({
                placeholder: "Select skills",
                maximumSelectionLength: 1
            });
            //$('#resourceRequestHistoryTable').DataTable();
            $('#resourceRequestHistoryTable').DataTable({
                "ordering": true,
                "paging": false,
                "lengthChange": false,
                "searching": false,
                "autoWidth": false,
                "info": false,
            });

            $('#experienceDatePicker').on('change.daterangepicker', function (ev, picker) {
                var date = ev.target.value;
                var dates = [];
                dates = date.split('-');
                var start = dates[0].trim();
                var startDate = new Date(start);
                var startMonth = startDate.getMonth() + 1;
                experienceFromDate = startDate.getFullYear() + "-" + startMonth + "-" + startDate.getDate();
                var end = dates[1].trim();
                var endDate = new Date(end);
                var endMonth = endDate.getMonth() + 1;
                experienceToDate = endDate.getFullYear() + "-" + endMonth + "-" + endDate.getDate();
            });

        });
    });

    $(document).on('click', '#btnSendResourceRequest', function (e) {
        var requestTitle = $("#txtRequestTitle").val();
        if ($(requestTitle).length > 50) {
            $("#txtRequestTitle").val("");
            showMessage("Request title too long", "2", true);
            return false;
        }
        else if (requestTitle == "") {
            showMessage("Please enter request title", "2", true);
            return false;
        }
        var noOfResourcesRequested = $("#txtResourcesRequired").val();
        if (parseInt(noOfResourcesRequested) < 0 || parseInt(noOfResourcesRequested) == 0 || parseInt(noOfResourcesRequested) > 20) {
            $("#txtResourcesRequired").val("");
            showMessage("Number of requested resources must be between 1 and 10", "2", true);
            return false;
        }
        var skills = [];
        if (null != $("#ddlSkills").val()) {
            for (i = 0; i < $("#ddlSkills").val().length; i++) {
                skills.push($("#ddlSkills").val()[i]);
            }
        }
        else {
            showMessage("Please select required skills", "2", true);
            return false;
        }
        
        var requestSendTo = parseInt($("#ddlRequestSendToSel option:selected").val());
        var model = {
            ResourceRequestTitle: $("#txtRequestTitle").val(),
            RequestToId:requestSendTo,
            NumberRequestedResources: $("#txtResourcesRequired").val(),
            Skills: skills,
            HRId: $("#ddlRequestSendToSel option:selected").val()
        };
        $.ajax({
            cache: false,
            type: 'post',
            url: '/ResourceRequest/SendRequestForResources',
            data: JSON.stringify(model),
            contentType: "application/json",
            dataType: "json",
            processData:false,
            success: function (data) {
                if (data.result == true) {
                   
                    $("#txtRequestTitle").val("");
                    $("#txtResourcesRequired").val("");
                    $("#ddlSkills").val(null).trigger("change");
                    $("#resourceRequestHistoryTable").find('tbody').html("");
                    for (i = 0; i < data.model.length;i++){
                        var tableRow = tabeRowPopulate(data.model[i]);
                        $("#resourceRequestHistoryTable").find('tbody').append(tableRow);
                    }
                    var noOfRows = parseInt($('#resourceRequestHistoryTable tr').length);
                    if (noOfRows > 10) {
                        for (i = noOfRows - 1; i > 10; i--) {
                            $('table#resourceRequestHistoryTable tr:nth-child(' + i + ')').remove();
                        }
                    }
                    if (data.count <= 10) {
                        $(".viewAllBtn").hide();
                    }
                    else {
                        $(".viewAllBtn").show();
                    }
                    $('#addResourceRequestModal').modal('hide');
                    showMessage("Request sent successfully", "1", true);
                }
                else {
                    showMessage("Request could not be sent", "2", true);
                }

            }
        });
    }
   );

    function ticketClicked(id) {
        $(".requestTitle").html($(id).attr('data-title'));
        $(".requestTicket").html($(id).attr('data-ticket'));
        $(".requestResourceNumber").html($(id).attr('data-noRsource'));
        $(".requestedSkills").html($(id).attr('data-skills'));
        $(".requestSentTo").html($(id).attr('data-sentTo'));
        var statusKey = parseInt($(id).attr('data-statusKey'));
        if (statusKey == 1) {
            $(".requestStatus").html('<span class="label btn-color-requested">' + $(id).attr("data-status") + '</span>');
        }
        else if (statusKey == 2) {
            $(".requestStatus").html('<span class="label btn-color-processing">' + $(id).attr("data-status") + '</span>');
        }
        else if (statusKey == 3) {
            $(".requestStatus").html('<span class="label btn-color-partialApproval">' + $(id).attr("data-status") + '</span>');
        }
        else {
            $(".requestStatus").html('<span class="label btn-color-approved">' + $(id).attr("data-status") + '</span>');
        }
        var createdDate = $(id).attr('data-created').split(" ")[0];
        $(".requestSentDate").html(createdDate);
        $(".requestResponseDate").html($(id).attr('data-updated'));

        $('#RequestResourceDetailsModal').modal('show');
    }

    function getAllRequests() {
        $.ajax({
            cache: false,
            type: 'post',
            url: '/ResourceRequest/ViewAllRequests',
            contentType: "application/json",
            dataType: "json",
            processData: false,
            success: function (data) {
                var model = data.model;
                for (i = 0; i < model.length;i++ ){
                    var tableRow = tabeRowPopulate(model[i]);
                    $("#resourceRequestHistoryTable").find('tbody').append(tableRow);
                }
            }
        });
    }  

    function tabeRowPopulate(model) {
        var createdDate = ToJavaScriptDate(model.CreatedDate);
        var updatedDate = ToJavaScriptDate(model.UpdatedDate);
        var statusKey = parseInt(model.Status);
        var tableRow = '<tr id="' + model.Ticket + '">';
        tableRow += '<td><a href="#" data-ticket="' + model.Ticket + '" data-created="' + createdDate + '"' +
            ' data-updated="' + updatedDate + '" data-title="' + model.ResourceRequestTitle + '"' +
            ' data-noRsource="' + model.NumberRequestedResources + '" data-skills="' + model.Skills + '"' +
            ' data-sentTo="' + model.RequestToName + '" data-status="' + model.StatusValue + '" onclick="ticketClicked(this)">' +
            '' + model.Ticket + '</a></td>';
        tableRow += '<td>' + model.ResourceRequestTitle + '</td>';
        tableRow += '<td>' + createdDate + '</td>';
        if (statusKey == 1) {
            tableRow += '<td>' + '<span class="label btn-color-requested">' + model.StatusValue + '</span>' + '</td>';
        }
        else if (statusKey == 2) {
            tableRow += '<td>' + '<span class="label btn-color-processing">' + model.StatusValue + '</span>' + '</td>';
        }
        else if (statusKey == 3) {
            tableRow += '<td>' + '<span class="label btn-color-partialApproval">' + model.StatusValue + '</span>' + '</td>';
        }
        else {
            tableRow += '<td>' + '<span class="label btn-color-approved">' + model.StatusValue + '</span>' + '</td>';
        }
        
        tableRow += '<td class="text-align_center">';
        if (statusKey != 4) {
            tableRow += '<a href="#"><span class="label btn-danger" data-ticket="' + model.Ticket + '" onclick="cancelRequest(this)">Cancel</span></a>';                        
        }
        tableRow += '</td>';
        tableRow += '</tr>';
        return tableRow;
    }

    function cancelRequest(id) {
        var ticket = $(id).attr('data-ticket');
        $.ajax({
            type: "POST",
            url: "/ResourceRequest/CancelRequest",
            dataType: "json",
            data: { ticket: ticket },
            async: false,
            success: function (data) {
                if (data.result) {
                    $("#resourceRequestHistoryTable").find('tbody').html("");
                    for (i = 0; i < data.model.length; i++) {
                        var tableRow = tabeRowPopulate(data.model[i]);
                        $("#resourceRequestHistoryTable").find('tbody').append(tableRow);
                    }
                    if (data.count <= 10) {
                        $(".viewAllBtn").hide();
                    }
                    else {
                        $(".viewAllBtn").show();
                    }
                    showMessage("Request cancelled successfully", "1", true);
                }
                else {
                    showMessage("Request could not be cancelled", "2", true);
                }
            },
            error: function (result) {
                //alert("GetCompanyDetails");
            }
        });
    }

    function showMessage(message, Type, fadeOut) {
        //To clear existing toastr
        toastr.clear();
        //fadeOut = false;
        var position = "bottom-full-width";
        toastr.options.positionClass = 'toast-' + position;
        if (typeof fadeOut !== "undefined" && fadeOut == false) { toastr.options.timeOut = 0; }
        else {
            toastr.options.timeOut = 5000;
        }
        switch (Type) {
            case "1":
                toastr.success(message);
                break;
            case "2":
                toastr.error(message);
                break;
        }
    }
</script>