@model List<LMS_WebAPP_Domain.ResourceRequestDetailModel>
@{ 
    var lstRequestStatus = new Dictionary<int, string>();
    foreach (var name in Enum.GetNames(typeof(LMS_WebAPP_Utils.ResourceRequestStatus)))
    {
        lstRequestStatus.Add((int)Enum.Parse(typeof(LMS_WebAPP_Utils.ResourceRequestStatus), name), LMS_WebAPP_Utils.CommonMethods.Description((LMS_WebAPP_Utils.ResourceRequestStatus)Enum.Parse(typeof(LMS_WebAPP_Utils.ResourceRequestStatus), name, true)));
    }
    var serializedlstRequestStatus = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(lstRequestStatus));
}

<link href="~/Content/Style.css" rel="stylesheet" />
<link href="~/plugins/datatables/jquery.dataTables.min.css" rel="stylesheet" />
<link href="~/plugins/datatables/dataTables.bootstrap.css" rel="stylesheet" />
<section class="content">
    <input id="requestStatusEnum" data-val="@serializedlstRequestStatus" hidden>    
    <div class="box box-info">
        <div class="box-header with-border">
            <h3 class="box-title">Latest Orders</h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse">
                    <i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-box-tool" data-widget="remove">
                    <i class="fa fa-times"></i>
                </button>
            </div>
        </div>
        <!-- /.box-header -->
        <div class="box-body">            
            <table class="table no-margin" id="resourceRequestsTable">
                    <thead>
                        <tr>
                            <th>Request Ticket</th>
                            <th>Request Title</th>
                            <th>Created On</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var resource in Model)
                        {
                            <tr>
                                <td><a href="#" onClick="showRequestedDetails(this)" data-ticket="@resource.Ticket" data-created="@resource.CreatedDate" data-updated="@resource.UpdatedDate" data-title="@resource.ResourceRequestTitle" data-noRsource="@resource.NumberRequestedResources" data-skills="@resource.Skills" data-from="@resource.RequestFromName" data-status="@resource.StatusValue" data-statusKey="@resource.Status">@resource.Ticket</a></td>
                                <td>@resource.ResourceRequestTitle</td>
                                <td>@resource.CreatedDate</td>
                                <td>
                                    <div class="btn-group">
                                        @if (resource.Status == 1)
                                        {
                                            <span class="label btn-color-requested">@resource.StatusValue</span>
                                        }
                                        else if (resource.Status == 2)
                                        {
                                            <span class="label btn-color-processing">@resource.StatusValue</span>
                                        }
                                        else if (resource.Status == 3)
                                        {
                                            <span class="label btn-color-partialApproval">@resource.StatusValue</span>
                                        }
                                        else 
                                        {
                                            <span class="label btn-color-approved">@resource.StatusValue</span>
                                        }
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>   
        </div>
        <!-- /.box-body -->
        <div class="box-footer clearfix">
            <a href="javascript:void(0)" class="btn btn-sm btn-default btn-flat pull-right"  onclick="getAllRequests()">View All Requests</a>
        </div>
    </div>
</section>
<div class="modal requestResourceDetails-modal" id="ResourceRequestToRespondModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h3 class="modal-title">Resource Request Status Details</h3>
            </div>
            <div class="modal-body">
                <div class="form-group" style="padding-bottom:20px">
                    <div class="padding-top-bottom10">
                        <div class="row">
                            <div class="col-md-4"><label class="">Request Title:</label></div>
                            <div class="col-md-8"><span class="requestTitle"></span></div>
                        </div>
                        <div class="row">
                            <div class="col-md-4"><label class="">Request ticket:</label></div>
                            <div class="col-md-8"><span class="requestTicket"></span></div>
                        </div>
                        <div class="row">
                            <div class="col-md-4"><label class="">No of resources required:</label></div>
                            <div class="col-md-8"><span class="requestResourceNumber"></span></div>
                        </div>
                        <div class="row">
                            <div class="col-md-4"><label class="">Skills required:</label></div>
                            <div class="col-md-8"><span class="requestedSkills"></span></div>
                        </div>
                        <div class="row">
                            <div class="col-md-4"><label class="">Request from:</label></div>
                            <div class="col-md-8"><span class="requestFrom"></span></div>
                        </div>
                        <div class="row">
                            <div class="col-md-4"><label class="">Request sent date:</label></div>
                            <div class="col-md-8"><span class="requestSentDate"></span></div>
                        </div>
                        @*<div class="row">
                            <div class="col-md-4"><label class="">Request response date:</label></div>
                            <div class="col-md-8"><span class="requestResponseDate"></span></div>
                        </div>*@
                        <div class="row">
                            <div class="col-md-4"><label class="">Status:</label></div>
                            <div class="btn-group">
                                <button type="button" id="btnModalStatus" class="btn text-color-white dropdown-toggle" data-status="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    
                                </button>
                                <ul class="dropdown-menu statusListDropdown">
                                    
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<script src="../../plugins/datatables/jquery.dataTables.min.js"></script>
<script src="../../plugins/datatables/dataTables.bootstrap.min.js"></script>
<script src="~/Content/Scripts/Common.js"></script>
<script>
    $(document).ready(function () {
        $(function () {
            $('#resourceRequestsTable').DataTable({
                "ordering": true,
                "paging": false,
                "lengthChange": false,
                "searching": false,
                "autoWidth": false,
                "info": false
            });
        });
    });
    function showRequestedDetails(id) {
        var deserializedStatusList = jQuery.parseJSON('@serializedlstRequestStatus');
        var statusDict = []; 
        $.each(deserializedStatusList, function (index, value) {
            debugger;
            statusDict.push({
                key: parseInt(index),
                value: value
            });
        });
        var statusKey = parseInt($(id).attr('data-statusKey'));
        var requestId = parseInt($(id).attr('data-id'));
        $(".requestTitle").html($(id).attr('data-title'));
        $(".requestTicket").html($(id).attr('data-ticket'));
        $(".requestResourceNumber").html($(id).attr('data-noRsource'));
        $(".requestedSkills").html($(id).attr('data-skills'));
        $(".requestFrom").html($(id).attr('data-from'));
        $(".requestStatus").html($(id).attr('data-status'));
        $(".requestStatus").attr("status", statusKey);
        $(".requestSentDate").html($(id).attr('data-created'));

        $(".requestResponseDate").html($(id).attr('data-updated'));
        if (statusKey == 1) {
            $("#btnModalStatus").removeClass("btn-color-requested").removeClass("btn-color-processing").removeClass("btn-color-partialApproval").removeClass("btn-color-approved").addClass("btn-color-requested");
            $(".statusListDropdown").html("");
            for (i = 0; i < statusDict.length;i++){
                if (statusDict[i].key != statusKey) {
                    if (statusDict[i].key == 1) {
                        $(".statusListDropdown").append('<li><a href="#" class="text-color-white btn-color-requested" data-id="' + id + '" data-createdDate="' + $(id).attr('data-created') + '" data-ticket="' + $(id).attr('data-ticket') + '" data-statusKey="' + statusDict[i].key + '" onclick="respondToRequest(this)">' + statusDict[i].value + '</a></li>');
                    }
                    else if (statusDict[i].key == 2) {
                        $(".statusListDropdown").append('<li><a href="#" class="text-color-white btn-color-processing" data-id="' + id + '" data-createdDate="' + $(id).attr('data-created') + '" data-ticket="' + $(id).attr('data-ticket') + '" data-statusKey="' + statusDict[i].key + '" onclick="respondToRequest(this)">' + statusDict[i].value + '</a></li>');
                    }
                    else if (statusDict[i].key == 3) {
                        $(".statusListDropdown").append('<li><a href="#" class="text-color-white btn-color-partialApproval" data-id="' + id + '" data-createdDate="' + $(id).attr('data-created') + '" data-ticket="' + $(id).attr('data-ticket') + '" data-statusKey="' + statusDict[i].key + '" onclick="respondToRequest(this)">' + statusDict[i].value + '</a></li>');
                    }
                    else {
                        $(".statusListDropdown").append('<li><a href="#" class="text-color-white btn-color-approved" data-id="' + id + '" data-createdDate="' + $(id).attr('data-created') + '" data-ticket="' + $(id).attr('data-ticket') + '" data-statusKey="' + statusDict[i].key + '" onclick="respondToRequest(this)">' + statusDict[i].value + '</a></li>');
                    }
                }
            }
        }
        else if (statusKey == 2) {
            $("#btnModalStatus").removeClass("btn-color-requested").removeClass("btn-color-processing").removeClass("btn-color-partialApproval").removeClass("btn-color-approved").addClass("btn-color-processing");
            $(".statusListDropdown").html("");
            for (i = 0; i < statusDict.length; i++) {
                if (statusDict[i].key != statusKey) {
                    if (statusDict[i].key == 1) {
                        $(".statusListDropdown").append('<li><a href="#" class="text-color-white btn-color-requested" data-id="' + id + '" data-createdDate="' + $(id).attr('data-created') + '" data-ticket="' + $(id).attr('data-ticket') + '" data-statusKey="' + statusDict[i].key + '" onclick="respondToRequest(this)">' + statusDict[i].value + '</a></li>');
                    }
                    else if (statusDict[i].key == 2) {
                        $(".statusListDropdown").append('<li><a href="#" class="text-color-white btn-color-processing" data-id="' + id + '" data-createdDate="' + $(id).attr('data-created') + '" data-ticket="' + $(id).attr('data-ticket') + '" data-statusKey="' + statusDict[i].key + '" onclick="respondToRequest(this)">' + statusDict[i].value + '</a></li>');
                    }
                    else if (statusDict[i].key == 3) {
                        $(".statusListDropdown").append('<li><a href="#" class="text-color-white btn-color-partialApproval" data-id="' + id + '" data-createdDate="' + $(id).attr('data-created') + '" data-ticket="' + $(id).attr('data-ticket') + '" data-statusKey="' + statusDict[i].key + '" onclick="respondToRequest(this)">' + statusDict[i].value + '</a></li>');
                    }
                    else {
                        $(".statusListDropdown").append('<li><a href="#" class="text-color-white btn-color-approved" data-id="' + id + '" data-createdDate="' + $(id).attr('data-created') + '" data-ticket="' + $(id).attr('data-ticket') + '" data-statusKey="' + statusDict[i].key + '" onclick="respondToRequest(this)">' + statusDict[i].value + '</a></li>');
                    }
                }
            }
        }
        else if (statusKey == 3) {
            $("#btnModalStatus").removeClass("btn-color-requested").removeClass("btn-color-processing").removeClass("btn-color-partialApproval").removeClass("btn-color-approved").addClass("btn-color-partialApproval");
            $(".statusListDropdown").html("");
            for (i = 0; i < statusDict.length; i++) {
                if (statusDict[i].key != statusKey) {
                    if (statusDict[i].key == 1) {
                        $(".statusListDropdown").append('<li><a href="#" class="text-color-white btn-color-requested" data-id="' + id + '" data-createdDate="' + $(id).attr('data-created') + '" data-ticket="' + $(id).attr('data-ticket') + '" data-statusKey="' + statusDict[i].key + '" onclick="respondToRequest(this)">' + statusDict[i].value + '</a></li>');
                    }
                    else if (statusDict[i].key == 2) {
                        $(".statusListDropdown").append('<li><a href="#" class="text-color-white btn-color-processing" data-id="' + id + '" data-createdDate="' + $(id).attr('data-created') + '" data-ticket="' + $(id).attr('data-ticket') + '" data-statusKey="' + statusDict[i].key + '" onclick="respondToRequest(this)">' + statusDict[i].value + '</a></li>');
                    }
                    else if (statusDict[i].key == 3) {
                        $(".statusListDropdown").append('<li><a href="#" class="text-color-white btn-color-partialApproval" data-id="' + id + '" data-createdDate="' + $(id).attr('data-created') + '" data-ticket="' + $(id).attr('data-ticket') + '" data-statusKey="' + statusDict[i].key + '" onclick="respondToRequest(this)">' + statusDict[i].value + '</a></li>');
                    }
                    else {
                        $(".statusListDropdown").append('<li><a href="#" class="text-color-white btn-color-approved" data-id="' + id + '" data-createdDate="' + $(id).attr('data-created') + '" data-ticket="' + $(id).attr('data-ticket') + '" data-statusKey="' + statusDict[i].key + '" onclick="respondToRequest(this)">' + statusDict[i].value + '</a></li>');
                    }
                }
            }
        }
        else {
            $("#btnModalStatus").removeClass("btn-color-requested").removeClass("btn-color-processing").removeClass("btn-color-partialApproval").removeClass("btn-color-approved").addClass("btn-color-approved");
            $(".statusListDropdown").html("");
            for (i = 0; i < statusDict.length; i++) {
                if (statusDict[i].key != statusKey) {
                    if (statusDict[i].key == 1) {
                        $(".statusListDropdown").append('<li><a href="#" class="text-color-white btn-color-requested" data-id="' + id + '" data-createdDate="' + $(id).attr('data-created') + '" data-ticket="' + $(id).attr('data-ticket') + '" data-statusKey="' + statusDict[i].key + '" onclick="respondToRequest(this)">' + statusDict[i].value + '</a></li>');
                    }
                    else if (statusDict[i].key == 2) {
                        $(".statusListDropdown").append('<li><a href="#" class="text-color-white btn-color-processing" data-id="' + id + '" data-createdDate="' + $(id).attr('data-created') + '" data-ticket="' + $(id).attr('data-ticket') + '" data-statusKey="' + statusDict[i].key + '" onclick="respondToRequest(this)">' + statusDict[i].value + '</a></li>');
                    }
                    else if (statusDict[i].key == 3) {
                        $(".statusListDropdown").append('<li><a href="#" class="text-color-white btn-color-partialApproval" data-id="' + id + '" data-createdDate="' + $(id).attr('data-created') + '" data-ticket="' + $(id).attr('data-ticket') + '" data-statusKey="' + statusDict[i].key + '" onclick="respondToRequest(this)">' + statusDict[i].value + '</a></li>');
                    }
                    else {
                        $(".statusListDropdown").append('<li><a href="#" class="text-color-white btn-color-approved" data-id="' + id + '" data-createdDate="' + $(id).attr('data-created') + '" data-ticket="' + $(id).attr('data-ticket') + '" data-statusKey="' + statusDict[i].key + '" onclick="respondToRequest(this)">' + statusDict[i].value + '</a></li>');
                    }
                }
            }
        }
        $("#btnModalStatus").html($(id).attr('data-status') + '<span class="caret margin-left-5"></span>');
        $("#ResourceRequestToRespondModal").modal('show');
    }

    function respondToRequest(id) {
        debugger;
        var ticket = $(id).attr('data-ticket');
        var status = parseInt($(id).attr('data-statusKey'));
        var creatdeDateValue = $(id).attr('data-createdDate');
        var createdDate = new Date(creatdeDateValue);
        var id = parseInt($(id).attr('data-id'));
        var model = {
            Id:id,
            Ticket: ticket,
            Status: status,
            CreatedDate: createdDate
        };
        $.ajax({
            cache: false,
            type: 'post',
            url: '/ResourceRequest/RespondToRequestForResources',
            data: JSON.stringify(model),
            contentType: "application/json",
            dataType: "json",
            processData:false,
            success: function (data) {
                if (data.result == true) {
                    $("#ResourceRequestToRespondModal").modal('hide');
                    $("#resourceRequestsTable").find('tbody').html("");
                    for (i = 0; i < data.model.length; i++) {
                        var tableRow = tabeRowPopulate(data.model[i]);

                        $("#resourceRequestsTable").find('tbody').append(tableRow);
                    }
                }
            }
        });
    }

    function getAllRequests() {
        debugger;
        $.ajax({
            cache: false,
            type: 'post',
            url: '/ResourceRequest/ViewAllRequests',
            contentType: "application/json",
            dataType: "json",
            processData: false,
            success: function (data) {
                debugger;
                var model = data.model;
                for (i = 0; i < model.length; i++) {
                    var tableRow = tabeRowPopulate(model[i]);
                    $("#resourceRequestsTable").find('tbody').append(tableRow);
                }
                var test = data;
                //var tableRow = tabeRowPopulate(data);
            }
        });
    }

    function ToJavaScriptDate(value) {
        debugger;
        var pattern = /Date\(([^)]+)\)/;
        var results = pattern.exec(value);
        var dt = new Date(parseFloat(results[1]));
        var hours = dt.getHours();
        var minutes = dt.getMinutes();
        var seconds = dt.getSeconds();
        var currentHour = parseInt("0");
        var time = "";
        if (hours > 12) {
            currentHour = hours % 12;
            time = currentHour + ":" + minutes + ":" + seconds + " " + "PM";
        }
        else if (hours == 12) {
            currentHour = hours;
            time = currentHour + ":" + minutes + ":" + seconds + " " + "PM";
        }
        else {
            currentHour = hours;
            time = currentHour + ":" + minutes + ":" + seconds + " " + "AM";
        }

        return (dt.getDate() + "/" + dt.getMonth() + 1) + "/" + dt.getFullYear() + " " + time;
    }

    function tabeRowPopulate(model) {
        var createdDate = ToJavaScriptDate(model.CreatedDate);
        var updatedDate = ToJavaScriptDate(model.UpdatedDate);
        var statusKey = parseInt(model.Status);
        var tableRow = '<tr>';
        tableRow += '<td><a href="#" onClick="showRequestedDetails(this)" data-ticket="' + model.Ticket + '" data-created="' + createdDate + '"' +
			                        ' data-updated="' + updatedDate + '" data-title="' + model.ResourceRequestTitle + '" ' +
			                        'data-noRsource="' + model.NumberRequestedResources + '"' +
			                        ' data-skills="' + model.Skills + '" data-from="' + model.RequestFromName + '" data-status="' + model.StatusValue + '" ' +
			                        'data-statusKey="' + model.Status + '" onclick="ticketClicked(this)">' + model.Ticket + '</a></td>';
        tableRow += '<td>' + createdDate + '</td>';
        tableRow += '<td>' + model.ResourceRequestTitle + '</td>';
        tableRow += '<td><div class="btn-group">';
        if (model.Status == 1) {
            tableRow += '<span class="label btn-color-requested">' + model.StatusValue + '</span>';
        }
        else if (model.Status == 2) {
            tableRow += '<span class="label btn-color-processing">' + model.StatusValue + '</span>';
        }
        else if (model.Status == 3) {
            tableRow += '<span class="label btn-color-partialApproval">' + model.StatusValue + '</span>';
        }
        else {
            tableRow += '<span class="label btn-color-approved">' + model.StatusValue + '</span>';
        }
        tableRow += '</div></td></tr>';
        return tableRow;
    }
</script>
<style>
    
</style>