@model LMS_WebAPP_Domain.ResourceDetails
@{
    ViewBag.Title = "AddEmployeeDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var test = Model;
}
@*<h2>Add Employee Details</h2>*@
<link rel="stylesheet" href="../../plugins/iCheck/all.css">
<link rel="stylesheet" href="../../plugins/select2/select2.min.css">
<link rel="stylesheet" href="../../dist/css/AdminLTE.min.css">
<link rel="stylesheet" href="../../plugins/FooTable/footable.core.min.css">
<link href="~/Content/Style.css" rel="stylesheet" />
<link href="~/plugins/datatables/jquery.dataTables.min.css" rel="stylesheet" />
<link href="~/plugins/datatables/dataTables.bootstrap.css" rel="stylesheet" />
<section class="content-header">
    <h1>
        Resource Request
    </h1>
</section>
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <!-- general form elements -->
            <div class="box box-primary">
                <div class="box-header with-border margin-bottom-5">
                    <h3 class="box-title">Resource Details</h3>
                </div>

                <div class="box-body">
                    <div class="form-group col-md-6">
                        <label for="txtRequestTitle">Request Title</label>
                        <input type="text" class="form-control" id="txtRequestTitle" placeholder="Enter Request Title">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="txtNoOfResourcesRequired">No of Resources Required</label>
                        <input type="number" class="form-control" id="txtResourcesRequired">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="ddlSkills">Skills</label>
                        <select id="ddlSkills" multiple="multiple" class="form-control skills" style="width: 100%;">
                            @foreach (var skill in Model.Skills)
                            {
                                <option value="@skill">@skill</option>
                            }
                        </select>
                    </div>
                    <div class="form-group col-md-6" id="ddlRequestToDiv">
                        <label>Request send to</label>
                        <select class="form-control" style="width: 100%;" id="ddlRequestSendToSel">
                            @foreach (var hr in Model.ListOfHR)
                            {
                                <option value="@hr.Id">@hr.FirstName @hr.LastName</option>
                            }
                        </select>
                    </div>
                </div>
                <!-- /.box-body -->
                <div class="box-footer">
                    <div class="form-group col-md-6 margin-bottom-0 btn-backgroundColor-dark">
                        <button type="submit" id="btnSendResourceRequest" class="btn btn-primary bg-black">Send request</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <!-- general form elements -->
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Resource Request History</h3>
                </div>
                <!-- /.box-header -->
                <!-- form start -->
                <div class="reousrceHistoryDiv padding-top5-bottom20 padding-right-left-15">

                    @*@foreach (var resource in Model.ResourceRequestHistory)
                        {
                            <div class="row margin-left-right-15 resourceHistoryDetails padding-top-bottom-5 border-bottom-table">
                                <div class="col-md-4 pad-right0-pad-right-15">@resource.Ticket</div>
                                <div class="col-md-4 pad-right0-pad-right-15">@resource.ResourceRequestTitle</div>
                                <div class="col-md-4 pad-right0-pad-right-15">@resource.Status</div>
                            </div>
                        }*@
                    <table id="resourceRequestHistoryTable" class="display" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th>Request Ticket</th>
                                <th>Request Title</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>Request Ticket</th>
                                <th>Request Title</th>
                                <th>Status</th>
                            </tr>
                        </tfoot>
                        <tbody class="requestHistoryTableBody">
                            @foreach (var resource in Model.ResourceRequestHistory)
                            {
                                <tr>
                                    <td><a href="#" data-ticket="@resource.Ticket" data-created="@resource.CreatedDate" data-updated="@resource.UpdatedDate" data-title="@resource.ResourceRequestTitle" data-noRsource="@resource.NumberRequestedResources" data-skills="@resource.Skills" data-sentTo="@resource.RequestToName" data-status="@resource.StatusValue" onclick="ticketClicked(this)">@resource.Ticket</a></td>
                                    <td>@resource.ResourceRequestTitle</td>
                                    <td>@resource.StatusValue</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
    <!-- /.row -->
</section>
<div class="modal requestResourceDetails-modal" id="RequestResourceDetailsModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h3 class="modal-title">Resource Request Status Details</h3>
            </div>
            <div class="modal-body">
                <div class="form-group" style="padding-bottom:20px">
                    <div class="divBorder padding-top-bottom10">
                        <div class="row">
                            <div class="col-md-4"><label class="">Request Title:</label></div>
                            <div class="col-md-8"><span class="requestTitle"></span></div>
                        </div>
                        <div class="row">
                            <div class="col-md-4"><label class="">Request ticket:</label></div>
                            <div class="col-md-8"><span class="requestTicket"></span></div>
                        </div>
                        <div class="row">
                            <div class="col-md-4"><label class="">No of resources required:</label></div>
                            <div class="col-md-8"><span class="requestResourceNumber"></span></div>
                        </div>
                        <div class="row">
                            <div class="col-md-4"><label class="">Skills required:</label></div>
                            <div class="col-md-8"><span class="requestedSkills"></span></div>
                        </div>
                        <div class="row">
                            <div class="col-md-4"><label class="">Request sent to:</label></div>
                            <div class="col-md-8"><span class="requestSentTo"></span></div>
                        </div>
                        <div class="row">
                            <div class="col-md-4"><label class="">Request sent date:</label></div>
                            <div class="col-md-8"><span class="requestSentDate"></span></div>
                        </div>
                        <div class="row">
                            <div class="col-md-4"><label class="">Request response date:</label></div>
                            <div class="col-md-8"><span class="requestResponseDate"></span></div>
                        </div>
                        <div class="row">
                            <div class="col-md-4"><label class="">Status:</label></div>
                            <div class="col-md-8"><span class="requestStatus"></span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<script src="../../plugins/iCheck/icheck.min.js"></script>
<script src="../../plugins/select2/select2.full.min.js"></script>
<script src="~/plugins/daterangepicker/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.11.2/moment.min.js"></script>
<script src="../../plugins/daterangepicker/daterangepicker.js"></script>
<script src="~/plugins/FooTable/footable.js"></script>
<script src="../../plugins/datatables/jquery.dataTables.min.js"></script>
<script src="../../plugins/datatables/dataTables.bootstrap.min.js"></script>

<script>
    var educationFromDate;
    var educationToDate;
    var experienceFromDate;
    var experienceToDate;
    var imgpath = "";
    var imgId;
    $(document).ready(function () {
        $(function () {
            //Initialize Select2 Elements
            $(".skills").select2({
                placeholder: "Select required skills"
            });
            $('#resourceRequestHistoryTable').DataTable();

            $('#experienceDatePicker').on('change.daterangepicker', function (ev, picker) {
                var date = ev.target.value;
                var dates = [];
                dates = date.split('-');
                var start = dates[0].trim();
                var startDate = new Date(start);
                var startMonth = startDate.getMonth() + 1;
                experienceFromDate = startDate.getFullYear() + "-" + startMonth + "-" + startDate.getDate();
                var end = dates[1].trim();
                var endDate = new Date(end);
                var endMonth = endDate.getMonth() + 1;
                experienceToDate = endDate.getFullYear() + "-" + endMonth + "-" + endDate.getDate();
            });

        })

        table = '<tr class="even">';
        table += '<td><a href="#" onClick="getResourceDetails(4)">Lorem</a></td>';
        table += "<td>Ipsum</td>";
        table += "</tr>";
        table += '<tr class="odd">';
        table += '<td><a href="#">Lorem</a></td>';
        table += "<td>Ipsum</td>";
        table += "</tr>";
        $("#resourceRequest-body").append(table);
    });

    $(document).on('click', '#btnSendResourceRequest', function (e) {
        var requestTitle = $("#txtRequestTitle").val();
        var noOfResourcesRequested = $("#txtResourcesRequired").val();
        var skills = [];
        for (i = 0; i < $("#ddlSkills").val().length; i++) {
            skills.push($("#ddlSkills").val()[i]);
        }
        var requestSendTo = parseInt($("#ddlRequestSendToSel option:selected").val());
        var model = {
            ResourceRequestTitle: $("#txtRequestTitle").val(),
            RequestToId:requestSendTo,
            NumberRequestedResources: $("#txtResourcesRequired").val(),
            Skills: skills,
            HRId: $("#ddlRequestSendToSel option:selected").val()
        };
        $.ajax({
            cache: false,
            type: 'post',
            url: '/ResourceRequest/SendRequestForResources',
            data: JSON.stringify(model),
            contentType: "application/json",
            dataType: "json",
            processData:false,
            success: function (data) {
                if (data.result == true) {
                    if ($("#resourceRequestHistoryTable").find('tbody').find('tr').find('td').length == 1) {
                        $("#resourceRequestHistoryTable").find('tbody').find('tr').remove();
                    }
                    $("#txtRequestTitle").val("");
                    $("#txtResourcesRequired").val("");
                    $("#ddlSkills").val(null).trigger("change");
                    var table = $('#resourceRequestHistoryTable').DataTable();
                    var createdDate = ToJavaScriptDate(data.model.CreatedDate);
                    var updatedDate = ToJavaScriptDate(data.model.UpdatedDate);
                    var tableRow = '<tr>';
                    tableRow += '<td><a href="#" data-ticket="'+data.model.Ticket+'" data-created="'+createdDate+'"' +
                        ' data-updated="'+updatedDate+'" data-title="'+data.model.ResourceRequestTitle+'"' +
                        ' data-noRsource="'+data.model.NumberRequestedResources+'" data-skills="'+data.model.Skills+'"' +
                        ' data-sentTo="' + data.model.RequestToName + '" data-status="' + data.model.StatusValue + '" onclick="ticketClicked(this)">' +
                        '' + data.model.Ticket + '</a></td>';
                    tableRow += '<td>' + data.model.ResourceRequestTitle + '</td><td>' + data.model.StatusValue + '</td>';
                    tableRow += '</tr>';

                    //$("#requestHistoryTableBody").append(tableRow);
                    $("#resourceRequestHistoryTable").find('tbody').append(tableRow)
                }

            }
        });
    }
   );

    function ticketClicked(id) {
        $(".requestTitle").html($(id).attr('data-title'));
        $(".requestTicket").html($(id).attr('data-ticket'));
        $(".requestResourceNumber").html($(id).attr('data-noRsource'));
        $(".requestedSkills").html($(id).attr('data-skills'));
        $(".requestSentTo").html($(id).attr('data-sentTo'));
        $(".requestStatus").html($(id).attr('data-status'));
        $(".requestSentDate").html($(id).attr('data-created'));
        $(".requestResponseDate").html($(id).attr('data-updated'));

        $('#RequestResourceDetailsModal').modal('show');
    }

    function ToJavaScriptDate(value) {
        var pattern = /Date\(([^)]+)\)/;
        var results = pattern.exec(value);
        var dt = new Date(parseFloat(results[1]));
        return (dt.getDate() + "/" + dt.getMonth() + 1) + "/" + dt.getFullYear();
    }
</script>