@model LMS_WebAPP_Domain.ResourceDetails
@using LMS_WebAPP_Utils
@{
    var lstRequestStatus = new Dictionary<int, string>();
    foreach (var name in Enum.GetNames(typeof(LMS_WebAPP_Utils.ResourceRequestStatus)))
    {
        lstRequestStatus.Add((int)Enum.Parse(typeof(LMS_WebAPP_Utils.ResourceRequestStatus), name), LMS_WebAPP_Utils.CommonMethods.Description((LMS_WebAPP_Utils.ResourceRequestStatus)Enum.Parse(typeof(LMS_WebAPP_Utils.ResourceRequestStatus), name, true)));
    }
    var serializedlstRequestStatus = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(lstRequestStatus));
    var lstResourceRequests = Model.ResourceRequestHistory;
}
@Styles.Render("~/bundles/Content/css")
<link href="~/Content/Style.css" rel="stylesheet" />
<link href="~/plugins/datatables/jquery.dataTables.min.css" rel="stylesheet" />
<link href="~/plugins/datatables/dataTables.bootstrap.css" rel="stylesheet" />
<section class="content">
    <input id="requestStatusEnum" data-val="@serializedlstRequestStatus" hidden>
    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">Requested Tickets</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
            <table class="table no-margin table-bordered table-striped" id="resourceRequestsTable">
                <thead>
                    <tr>
                        <th>Request Ticket</th>
                        <th>Request Title</th>
                        <th>Created On</th>
                        <th class="text-align_center">Status</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var resource in lstResourceRequests)
                    {
                        <tr>
                            <td><a class="@resource.Ticket" href="#" onClick="showRequestedDetails(this)" data-fromId="@resource.RequestFromId" data-toId="@resource.RequestToId" data-ticket="@resource.Ticket" data-created="@resource.CreatedDate" data-updated="@resource.UpdatedDate" data-title="@resource.ResourceRequestTitle" data-noRsource="@resource.NumberRequestedResources" data-skills="@resource.Skills" data-from="@resource.RequestFromName" data-status="@resource.StatusValue" data-statusKey="@resource.Status">@resource.Ticket</a></td>
                            <td>@resource.ResourceRequestTitle</td>
                            @{
                                var createDateWithTime = resource.CreatedDate;
                                var createdDate = createDateWithTime.ToString("MM/dd/yyyy");
                            }
                            <td>@createdDate</td>
                            <td class="text-align_center">
                                <div class="btn-group" id="@resource.Ticket">
                                    @if (resource.Status == (int)ResourceRequestStatus.Requested)
                                    {
                                        <span class="label btn-color-requested statusSpan">@resource.StatusValue</span>
                                    }
                                    else if (resource.Status == (int)ResourceRequestStatus.InProgress)
                                    {
                                        <span class="label btn-color-processing statusSpan">@resource.StatusValue</span>
                                    }
                                    else if (resource.Status == (int)ResourceRequestStatus.PartialApproval)
                                    {
                                        <span class="label btn-color-partialApproval statusSpan">@resource.StatusValue</span>
                                    }
                                    else
                                    {
                                        <span class="label btn-color-approved statusSpan">@resource.StatusValue</span>
                                    }
                                </div>
                            </td>
                        </tr>
                                }
                </tbody>
            </table>
        </div>
        <!-- /.box-body -->
        <div class="box-footer clearfix">
            @if (Model.Count > 10)
            {
                <a href="javascript:void(0)" class="btn btn-sm btn-flat pull-right btn-backgroundColor-cinder text-color-white" onclick="getAllRequests()">View All Requests</a>
            }
            </div>
    </div>
</section>
<div class="modal requestResourceDetails-modal" id="ResourceRequestToRespondModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content mar-left50-right50 border-radius-modalBottom">
            <div class="modal-header modalHeaderStyle">
                <button type="button" class="close text-color-white" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h3 class="modal-title">Resource Request Status Details</h3>
            </div>
            <div class="modal-body">
                <div class="">
                    <div class="paddingtopBottom10-leftRight15">
                        <div class="col-md-12 padding-bottom-10">
                            <div class="col-md-6"><label class="">Request Title:</label></div>
                            <div class="col-md-6"><span class="requestTitle"></span></div>
                        </div>
                        <div class="col-md-12 padding-bottom-10">
                            <div class="col-md-6"><label class="">Request ticket:</label></div>
                            <div class="col-md-6"><span class="requestTicket"></span></div>
                        </div>
                        <div class="col-md-12 padding-bottom-10">
                            <div class="col-md-6"><label class="">No of resources required:</label></div>
                            <div class="col-md-6"><span class="requestResourceNumber"></span></div>
                        </div>
                        <div class="col-md-12 padding-bottom-10">
                            <div class="col-md-6"><label class="">Skills required:</label></div>
                            <div class="col-md-6"><span class="requestedSkills"></span></div>
                        </div>
                        <div class="col-md-12 padding-bottom-10">
                            <div class="col-md-6"><label class="">Request from:</label></div>
                            <div class="col-md-6"><span class="requestFrom"></span></div>
                        </div>
                        <div class="col-md-12 padding-bottom-10">
                            <div class="col-md-6"><label class="">Request sent date:</label></div>
                            <div class="col-md-6"><span class="requestSentDate"></span></div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label class="pad-left-30"> Status:</label>
                            </div>
                            <div class="col-md-6">
                                <button type="button" id="btnModalStatus" class="btn text-color-white dropdown-toggle padding-left-right-0 btn-width-160" data-status="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                                <ul class="dropdown-menu statusListDropdown left15"></ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<script src="../../plugins/datatables/jquery.dataTables.min.js"></script>
<script src="../../plugins/datatables/dataTables.bootstrap.min.js"></script>
<script src="~/Content/Scripts/Common.js"></script>
@Scripts.Render("~/bundles/Content/js")
<script>
    $(document).ready(function () {
        $(function () {
            $('#resourceRequestsTable').DataTable({
                "ordering": true,
                "paging": false,
                "lengthChange": false,
                "searching": true,
                "autoWidth": false,
                "info": false
            });
        });
    });

    function showRequestedDetails(id) {
        var deserializedStatusList = jQuery.parseJSON('@serializedlstRequestStatus');
        var statusDict = [];
        $.each(deserializedStatusList, function (index, value) {
            statusDict.push({
                key: parseInt(index),
                value: value
            });
        });
        var statusKey = parseInt($(id).attr('data-statusKey'));
        var statusValue = $(id).attr('data-status');
        var requestId = parseInt($(id).attr('data-id'));
        $(".requestTitle").html($(id).attr('data-title'));
        $(".requestTicket").html($(id).attr('data-ticket'));
        $(".requestResourceNumber").html($(id).attr('data-noRsource'));
        $(".requestedSkills").html($(id).attr('data-skills'));
        $(".requestFrom").html($(id).attr('data-from'));
        $(".requestStatus").html($(id).attr('data-status'));
        $(".requestStatus").attr("status", statusKey);
        var createdDate = $(id).attr('data-created').split(" ")[0];
        $(".requestSentDate").html(createdDate);
        var fromId = parseInt($(id).attr('data-fromId'));
        var toId = parseInt($(id).attr('data-toId'));

        $(".requestResponseDate").html($(id).attr('data-updated'));

        if (statusKey == '@Convert.ToInt32(ResourceRequestStatus.Requested)') {
            $("#btnModalStatus").removeClass("btn-color-requested").removeClass("btn-color-processing").removeClass("btn-color-partialApproval").removeClass("btn-color-approved").addClass("btn-color-requested");
            $(".statusListDropdown").html("");
            for (i = 0; i < statusDict.length; i++) {
                if (statusDict[i].key != statusKey) {
                    if (statusDict[i].key == '@Convert.ToInt32(ResourceRequestStatus.Requested)') {
                        $(".statusListDropdown").append('<li><a href="#" class="text-color-white btn-color-requested" data-fromId="' + fromId + '" data-toId="' + toId + '" data-id="' + id + '" data-createdDate="' + $(id).attr('data-created') + '" data-ticket="' + $(id).attr('data-ticket') + '" data-statusKey="' + statusDict[i].key + '" onclick="respondToRequest(this)">' + statusDict[i].value + '</a></li>');
                    }
                else if (statusDict[i].key == '@Convert.ToInt32(ResourceRequestStatus.InProgress)') {
                    $(".statusListDropdown").append('<li><a href="#" class="text-color-white btn-color-processing" data-fromId="' + fromId + '" data-toId="' + toId + '" data-id="' + id + '" data-createdDate="' + $(id).attr('data-created') + '" data-ticket="' + $(id).attr('data-ticket') + '" data-statusKey="' + statusDict[i].key + '" onclick="respondToRequest(this)">' + statusDict[i].value + '</a></li>');
                    }
                else if (statusDict[i].key == '@Convert.ToInt32(ResourceRequestStatus.PartialApproval)') {
                    $(".statusListDropdown").append('<li><a href="#" class="text-color-white btn-color-partialApproval" data-fromId="' + fromId + '" data-toId="' + toId + '" data-id="' + id + '" data-createdDate="' + $(id).attr('data-created') + '" data-ticket="' + $(id).attr('data-ticket') + '" data-statusKey="' + statusDict[i].key + '" onclick="respondToRequest(this)">' + statusDict[i].value + '</a></li>');
                    }
                    else {
                    $(".statusListDropdown").append('<li><a href="#" class="text-color-white btn-color-approved" data-fromId="' + fromId + '" data-toId="' + toId + '" data-id="' + id + '" data-createdDate="' + $(id).attr('data-created') + '" data-ticket="' + $(id).attr('data-ticket') + '" data-statusKey="' + statusDict[i].key + '" onclick="respondToRequest(this)">' + statusDict[i].value + '</a></li>');
                    }
                }
            }
        }
        else if (statusKey == '@Convert.ToInt32(ResourceRequestStatus.InProgress)') {
            $("#btnModalStatus").removeClass("btn-color-requested").removeClass("btn-color-processing").removeClass("btn-color-partialApproval").removeClass("btn-color-approved").addClass("btn-color-processing");
            $(".statusListDropdown").html("");
            for (i = 0; i < statusDict.length; i++) {
                if (statusDict[i].key != statusKey) {
                    if (statusDict[i].key == '@Convert.ToInt32(ResourceRequestStatus.Requested)') {
                        $(".statusListDropdown").append('<li><a href="#" class="text-color-white btn-color-requested" data-fromId="' + fromId + '" data-toId="' + toId + '" data-id="' + id + '" data-createdDate="' + $(id).attr('data-created') + '" data-ticket="' + $(id).attr('data-ticket') + '" data-statusKey="' + statusDict[i].key + '" onclick="respondToRequest(this)">' + statusDict[i].value + '</a></li>');
                    }
                    else if (statusDict[i].key == '@Convert.ToInt32(ResourceRequestStatus.InProgress)') {
                        $(".statusListDropdown").append('<li><a href="#" class="text-color-white btn-color-processing" data-fromId="' + fromId + '" data-toId="' + toId + '" data-id="' + id + '" data-createdDate="' + $(id).attr('data-created') + '" data-ticket="' + $(id).attr('data-ticket') + '" data-statusKey="' + statusDict[i].key + '" onclick="respondToRequest(this)">' + statusDict[i].value + '</a></li>');
                    }
                    else if (statusDict[i].key == '@Convert.ToInt32(ResourceRequestStatus.PartialApproval)') {
                        $(".statusListDropdown").append('<li><a href="#" class="text-color-white btn-color-partialApproval" data-fromId="' + fromId + '" data-toId="' + toId + '" data-id="' + id + '" data-createdDate="' + $(id).attr('data-created') + '" data-ticket="' + $(id).attr('data-ticket') + '" data-statusKey="' + statusDict[i].key + '" onclick="respondToRequest(this)">' + statusDict[i].value + '</a></li>');
                    }
                    else {
                        $(".statusListDropdown").append('<li><a href="#" class="text-color-white btn-color-approved" data-fromId="' + fromId + '" data-toId="' + toId + '" data-id="' + id + '" data-createdDate="' + $(id).attr('data-created') + '" data-ticket="' + $(id).attr('data-ticket') + '" data-statusKey="' + statusDict[i].key + '" onclick="respondToRequest(this)">' + statusDict[i].value + '</a></li>');
                    }
                }
            }
        }
        else if (statusKey == '@Convert.ToInt32(ResourceRequestStatus.PartialApproval)') {
            $("#btnModalStatus").removeClass("btn-color-requested").removeClass("btn-color-processing").removeClass("btn-color-partialApproval").removeClass("btn-color-approved").addClass("btn-color-partialApproval");
            $(".statusListDropdown").html("");
            for (i = 0; i < statusDict.length; i++) {
                if (statusDict[i].key != statusKey) {
                    if (statusDict[i].key == '@Convert.ToInt32(ResourceRequestStatus.Requested)') {
                        $(".statusListDropdown").append('<li><a href="#" class="text-color-white btn-color-requested" data-fromId="' + fromId + '" data-toId="' + toId + '" data-id="' + id + '" data-createdDate="' + $(id).attr('data-created') + '" data-ticket="' + $(id).attr('data-ticket') + '" data-statusKey="' + statusDict[i].key + '" onclick="respondToRequest(this)">' + statusDict[i].value + '</a></li>');
                    }
                    else if (statusDict[i].key == '@Convert.ToInt32(ResourceRequestStatus.InProgress)') {
                        $(".statusListDropdown").append('<li><a href="#" class="text-color-white btn-color-processing" data-fromId="' + fromId + '" data-toId="' + toId + '" data-id="' + id + '" data-createdDate="' + $(id).attr('data-created') + '" data-ticket="' + $(id).attr('data-ticket') + '" data-statusKey="' + statusDict[i].key + '" onclick="respondToRequest(this)">' + statusDict[i].value + '</a></li>');
                    }
                    else if (statusDict[i].key == '@Convert.ToInt32(ResourceRequestStatus.PartialApproval)') {
                        $(".statusListDropdown").append('<li><a href="#" class="text-color-white btn-color-partialApproval" data-fromId="' + fromId + '" data-toId="' + toId + '" data-id="' + id + '" data-createdDate="' + $(id).attr('data-created') + '" data-ticket="' + $(id).attr('data-ticket') + '" data-statusKey="' + statusDict[i].key + '" onclick="respondToRequest(this)">' + statusDict[i].value + '</a></li>');
                    }
                    else {
                        $(".statusListDropdown").append('<li><a href="#" class="text-color-white btn-color-approved" data-fromId="' + fromId + '" data-toId="' + toId + '" data-id="' + id + '" data-createdDate="' + $(id).attr('data-created') + '" data-ticket="' + $(id).attr('data-ticket') + '" data-statusKey="' + statusDict[i].key + '" onclick="respondToRequest(this)">' + statusDict[i].value + '</a></li>');
                    }
                }
            }
        }
        else {
            $("#btnModalStatus").removeClass("btn-color-requested").removeClass("btn-color-processing").removeClass("btn-color-partialApproval").removeClass("btn-color-approved").addClass("btn-color-approved");
            $(".statusListDropdown").html("");
            for (i = 0; i < statusDict.length; i++) {
                if (statusDict[i].key != statusKey) {
                    if (statusDict[i].key == '@Convert.ToInt32(ResourceRequestStatus.Requested)') {
                        $(".statusListDropdown").append('<li><a href="#" class="text-color-white btn-color-requested" data-fromId="' + fromId + '" data-toId="' + toId + '" data-id="' + id + '" data-createdDate="' + $(id).attr('data-created') + '" data-ticket="' + $(id).attr('data-ticket') + '" data-statusKey="' + statusDict[i].key + '" onclick="respondToRequest(this)">' + statusDict[i].value + '</a></li>');
                    }
                    else if (statusDict[i].key == '@Convert.ToInt32(ResourceRequestStatus.InProgress)') {
                        $(".statusListDropdown").append('<li><a href="#" class="text-color-white btn-color-processing" data-fromId="' + fromId + '" data-toId="' + toId + '" data-id="' + id + '" data-createdDate="' + $(id).attr('data-created') + '" data-ticket="' + $(id).attr('data-ticket') + '" data-statusKey="' + statusDict[i].key + '" onclick="respondToRequest(this)">' + statusDict[i].value + '</a></li>');
                    }
                    else if (statusDict[i].key == '@Convert.ToInt32(ResourceRequestStatus.PartialApproval)') {
                        $(".statusListDropdown").append('<li><a href="#" class="text-color-white btn-color-partialApproval" data-fromId="' + fromId + '" data-toId="' + toId + '" data-id="' + id + '" data-createdDate="' + $(id).attr('data-created') + '" data-ticket="' + $(id).attr('data-ticket') + '" data-statusKey="' + statusDict[i].key + '" onclick="respondToRequest(this)">' + statusDict[i].value + '</a></li>');
                    }
                    else {
                        $(".statusListDropdown").append('<li><a href="#" class="text-color-white btn-color-approved" data-fromId="' + fromId + '" data-toId="' + toId + '" data-id="' + id + '" data-createdDate="' + $(id).attr('data-created') + '" data-ticket="' + $(id).attr('data-ticket') + '" data-statusKey="' + statusDict[i].key + '" onclick="respondToRequest(this)">' + statusDict[i].value + '</a></li>');
                    }
                }
            }
        }
        $("#btnModalStatus").html($(id).attr('data-status') + '<span class="caret margin-left-5"></span>');
        $("#ResourceRequestToRespondModal").modal('show');
    }

    function respondToRequest(id) {
        var ticket = $(id).attr('data-ticket');
        var status = parseInt($(id).attr('data-statusKey'));
        var creatdeDateValue = $(id).attr('data-createdDate');
        var createdDate = new Date(creatdeDateValue);
        var fromId = parseInt($(id).attr('data-fromId'));
        var toId = parseInt($(id).attr('data-toId'));
        var model = {
            Id: id,
            Ticket: ticket,
            Status: status,
            CreatedDate: createdDate,
            RequestFromId: fromId,
            RequestToId: toId
        };
        $.ajax({
            cache: false,
            type: 'post',
            url: '/ResourceRequest/RespondToRequestForResources',
            data: JSON.stringify(model),
            contentType: "application/json",
            dataType: "json",
            processData: false,
            success: function (data) {
                if (data.result == true) {
                    var ticket = data.ticket;
                    $("#ResourceRequestToRespondModal").modal('hide');
                    $("#" + ticket).html("");
                    showMessage("Request status changed successfully", "1", true);
                    var tdSpan = '<span class="label';
                    if (data.status == '@Convert.ToInt32(ResourceRequestStatus.Requested)') {
                        tdSpan += ' btn-color-requested">';
                        $("." + ticket).attr("data-statuskey", '@Convert.ToInt32(ResourceRequestStatus.Requested)');
                        $("." + ticket).attr("data-status", data.statusValue);
                    }
                    else if (data.status == '@Convert.ToInt32(ResourceRequestStatus.InProgress)') {
                        tdSpan += '  btn-color-processing">';
                        $("." + ticket).attr("data-statuskey", '@Convert.ToInt32(ResourceRequestStatus.InProgress)');
                        $("." + ticket).attr("data-status", data.statusValue);
                    }
                    else if (data.status == '@Convert.ToInt32(ResourceRequestStatus.PartialApproval)') {
                        tdSpan += '  btn-color-partialApproval">';
                        $("." + ticket).attr("data-statuskey", '@Convert.ToInt32(ResourceRequestStatus.PartialApproval)');
                        $("." + ticket).attr("data-status", data.statusValue);
                    }
                    else {
                        tdSpan += ' btn-color-approved">';
                        $("." + ticket).attr("data-statuskey", '@Convert.ToInt32(ResourceRequestStatus.Approved)');
                        $("." + ticket).attr("data-status", data.statusValue);
                    }
                    tdSpan += data.statusValue+'</span>';
                    $("#" + ticket).html(tdSpan);
                }
                else {
                    showMessage("Request status could not be changed", "2", true);
                }
            }
        });
    }

    function getAllRequests() {
        $.ajax({
            cache: false,
            type: 'post',
            url: '/ResourceRequest/ViewAllRequests',
            contentType: "application/json",
            dataType: "json",
            processData: false,
            success: function (data) {
                var model = data.model;
                for (i = 0; i < model.length; i++) {
                    var tableRow = tabeRowPopulate(model[i]);
                    $("#resourceRequestsTable").find('tbody').append(tableRow);
                }
            }
        });
    }

    function tabeRowPopulate(model) {
        var createdDate = ToJavaScriptDate(model.CreatedDate);
        var updatedDate = ToJavaScriptDate(model.UpdatedDate);
        var statusKey = parseInt(model.Status);
        var tableRow = '<tr>';
        tableRow += '<td><a href="#" onClick="showRequestedDetails(this)" data-ticket="' + model.Ticket + '" data-created="' + createdDate + '"' +
			                        ' data-updated="' + updatedDate + '" data-title="' + model.ResourceRequestTitle + '" ' +
			                        'data-noRsource="' + model.NumberRequestedResources + '"' +
			                        ' data-skills="' + model.Skills + '" data-from="' + model.RequestFromName + '" data-status="' + model.StatusValue + '" ' +
			                        'data-statusKey="' + model.Status + '" onclick="ticketClicked(this)">' + model.Ticket + '</a></td>';
        tableRow += '<td>' + model.ResourceRequestTitle + '</td>';
        tableRow += '<td>' + createdDate + '</td>';
        tableRow += '<td><div class="btn-group">';
        if (model.Status == '@Convert.ToInt32(ResourceRequestStatus.Requested)') {
            tableRow += '<span class="label btn-color-requested">' + model.StatusValue + '</span>';
        }
        else if (model.Status == '@Convert.ToInt32(ResourceRequestStatus.InProgress)') {
            tableRow += '<span class="label btn-color-processing">' + model.StatusValue + '</span>';
        }
        else if (model.Status == '@Convert.ToInt32(ResourceRequestStatus.PartialApproval)') {
            tableRow += '<span class="label btn-color-partialApproval">' + model.StatusValue + '</span>';
        }
        else {
            tableRow += '<span class="label btn-color-approved">' + model.StatusValue + '</span>';
        }
        tableRow += '</div></td></tr>';
        return tableRow;
    }
</script>
<style>

</style>