@model List<LMS_WebAPP_Domain.EmployeeDetailsModel>
@{
    ViewBag.Title = "AddEmployeeDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<h2>Add Employee Details</h2>*@
<link rel="stylesheet" href="../../plugins/iCheck/all.css">
<link rel="stylesheet" href="../../plugins/select2/select2.min.css">
<link rel="stylesheet" href="../../dist/css/AdminLTE.min.css">
<section class="content">
    <div class="row">

        <div class="col-md-12">
            <!-- general form elements -->
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Employee Info</h3>
                </div>
                <!-- /.box-header -->
                <!-- form start -->
                @*<form role="form">*@
                <div class="box-body">
                    <div class="form-group col-md-6">
                        <img class="profile-user-img img-responsive" style="width:150px;height:200px" id="empImageDisplay" src="~/Content/Images/DefaultImage.png" alt="User profile picture">

                        <div class="text-center" style="padding-top:10px">
                            <label class="btn btn-info"><i class="fa fa-upload"></i><input id="employeeImage" type="file" style="display:none" onchange="ValidateAndUploadImage()" /> Upload</label>
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="txtFirstName">FirstName</label>
                        <input type="text" class="form-control" id="txtFirstName" placeholder="First Name">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="txtlastname">LastName</label>
                        <input type="text" class="form-control" id="txtLastName" placeholder="Last Name">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="txtEmail">Email</label>
                        <input type="email" class="form-control" id="txtEmail" placeholder="Enter Email">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="txtEmployeeNumber">Employee Number</label>
                        <input type="email" class="form-control" id="txtEmployeeNumber" placeholder="Employee Number">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="txtJoiningDate">Date Of Joining</label>
                        <input type="text" class="form-control" id="txtJoiningDate">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="txtBirthday">BirthDay</label>
                        <input type="text" class="form-control" id="txtBirthday">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="txtCity">City</label>
                        <input type="text" class="form-control" id="txtCity" placeholder="City">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="txtCountry">Country</label>
                        <input type="text" class="form-control" id="txtCountry" placeholder="Country">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="txtTelephone">Telephone</label>
                        <input type="tel" class="form-control" id="txtTelephone" placeholder="Telephone">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="ddlDesignation">Designation</label>
                        <select class="form-control designation" style="width: 100%;" id="ddlDesignation">
                            <option value="">Select</option>
                            <option value="@Convert.ToInt16(LMS_WebAPP_Utils.EmployeeRole.Manager)">@LMS_WebAPP_Utils.CommonMethods.Description((LMS_WebAPP_Utils.EmployeeRole.Manager))</option>
                            <option value="@Convert.ToInt16(LMS_WebAPP_Utils.EmployeeRole.Employee)">@LMS_WebAPP_Utils.CommonMethods.Description((LMS_WebAPP_Utils.EmployeeRole.Employee))</option>
                        </select>
                    </div>
                    <div class="form-group col-md-6">
                        <label>Employee Type</label>
                        <select class="form-control level" style="width: 100%;" id="ddlEmployeeType">
                            <option value="">Select</option>
                            <option value="1">Fresher</option>
                            <option value="2">Experienced</option>                         
                        </select>
                    </div>
                    <div class="form-group col-md-6">
                        <label>Level</label>
                        <select class="form-control level" style="width: 100%;" id="ddlLevel">
                            <option value="">Select</option>
                            <option value="@Convert.ToInt16(LMS_WebAPP_Utils.HierarchyLevel.Level0)">@LMS_WebAPP_Utils.CommonMethods.Description((LMS_WebAPP_Utils.HierarchyLevel.Level0))</option>
                            <option value="@Convert.ToInt16(LMS_WebAPP_Utils.HierarchyLevel.Level1)">@LMS_WebAPP_Utils.CommonMethods.Description((LMS_WebAPP_Utils.HierarchyLevel.Level1))</option>
                            <option value="@Convert.ToInt16(LMS_WebAPP_Utils.HierarchyLevel.Level2)">@LMS_WebAPP_Utils.CommonMethods.Description((LMS_WebAPP_Utils.HierarchyLevel.Level2))</option>
                            <option value="@Convert.ToInt16(LMS_WebAPP_Utils.HierarchyLevel.Level3)">@LMS_WebAPP_Utils.CommonMethods.Description((LMS_WebAPP_Utils.HierarchyLevel.Level3))</option>
                            <option value="@Convert.ToInt16(LMS_WebAPP_Utils.HierarchyLevel.Level4)">@LMS_WebAPP_Utils.CommonMethods.Description((LMS_WebAPP_Utils.HierarchyLevel.Level4))</option>
                            <option value="@Convert.ToInt16(LMS_WebAPP_Utils.HierarchyLevel.Level5)">@LMS_WebAPP_Utils.CommonMethods.Description((LMS_WebAPP_Utils.HierarchyLevel.Level5))</option>
                        </select>
                    </div>
                    <div class="form-group col-md-6" id="ddlManager">
                        <label>Manager Name</label>

                        <select class="form-control managerSelect" style="width: 100%;" id="ddlManagerName">
                            <option value="">Select</option>
                            @foreach (var m in Model)
                            {
                                <option value="@m.Id">@m.FirstName</option>
                            }
                        </select>

                    </div>
                    <div class="form-group col-md-6" id="ddlProject">
                        <label>Project Name</label>

                        <select class="form-control managerSelect" style="width: 100%;" id="ddlProjectName">
                            <option value="">Select</option>
                        </select>

                    </div>

                </div>
                <!-- /.box-body -->
                @*</form>*@
            </div>
        </div>
        <div class="col-md-12">
            <!-- general form elements -->
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Education Details(Highest Degree)</h3>
                </div>
                <!-- /.box-header -->
                <!-- form start -->
                @*<form role="form">*@
                <div class="box-body">
                    <div class="form-group col-md-6">
                        <label>Graduation</label>
                        <div>
                            <select id="ddlGraduation" class="form-control graduation" style="width: 100%;">
                                <option>BTech</option>
                                <option>MTech</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <label>Specialization</label>
                        <div>
                            <select id="ddlSpecialization" class="form-control specialization" style="width: 100%;">
                                <option>CSE</option>
                                <option>EEE</option>
                                <option>ECE</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <label >College/University</label>
                        <input type="text" class="form-control" id="txtUniversity" placeholder="Enter College/University">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="educationFromDate">Duration</label>
                        <input type="text" class="form-control" id="educationDatePicker">
                    </div>

                </div>
                @*</form>*@

            </div>

            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Experience Details(Last Employer Details)</h3>
                </div>
                <!-- /.box-header -->
                <!-- form start -->
                @*<form role="form">*@
                <div class="box-body">
                    <div class="form-group col-md-6">
                        <label for="txtEmployer">Employer</label>
                        <input type="text" class="form-control" id="txtEmployer" placeholder="Enter Employer">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="txtDesignation">Designation</label>
                        <input type="text" class="form-control" id="txtDesignation" placeholder="Enter Designation">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="ExpFromDate">From</label>
                        <input type="text" class="form-control" id="experienceDatePicker">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="ddlSkills">Skills</label>
                        <select id="ddlSkills" multiple="multiple" class="form-control skills" style="width: 100%;">
                            <option>.Net</option>
                            <option>Java</option>
                            <option>Html</option>
                        </select>
                    </div>

                </div>
                <div class="box-footer">
                    <button type="submit" id="btnSubmitEmployeeDetails" class="btn btn-primary">Submit</button>
                </div>
                @*</form>*@

            </div>
        </div>
    </div>

    <!-- /.row -->
</section>
<script src="../../plugins/iCheck/icheck.min.js"></script>
<script src="../../plugins/select2/select2.full.min.js"></script>
<script src="~/plugins/daterangepicker/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.11.2/moment.min.js"></script>
<script src="../../plugins/daterangepicker/daterangepicker.js"></script>
<script>
    var educationFromDate;
    var educationToDate;
    var experienceFromDate;
    var experienceToDate;
    var imgpath = "";
    var imgId;
    $(document).ready(function () {
        $(function () {
            GetProjectsList();
            //Initialize Select2 Elements
            $(".designation").select2();
            $(".graduation").select2();
            $(".specialization").select2();
            $(".skills").select2();
            $(".managerSelect").select2();
            $(".level").select2().on('change', function (e) {
                if ($("#ddlLevel").val() == 13) {
                    $("#ddlManager").hide();
                }
                else {
                    $("#ddlManager").show();
                    var level = $("#ddlLevel").val();
                    $("#ddlManagerName option").remove();
                    $("#ddlManagerName").append($('<option></option>').attr("value", '').text('Select'));
                    $.ajax({
                        cache: false,
                        type: 'post',
                        url: '/HR/GetManagerList?refLevel=' + level,
                        dataType: "json",
                        processData: false,
                        success: function (data) {
                            for (var i = 0; i < data.data.length; i++) {
                                $("#ddlManagerName").append($('<option></option>').attr("value", data.data[i].Id).text(data.data[i].FirstName));
                            }

                        }
                    });
                }
                
            });
            $('#educationDatePicker').daterangepicker(
                   {
                   });
            $('#experienceDatePicker').daterangepicker(
                  {
                  });
            //Date picker
            $('#txtJoiningDate').datepicker({
                autoclose: true
            });
            //Date picker
            $('#txtBirthday').datepicker({
                autoclose: true
            });

            $('#educationDatepicker').on('change.daterangepicker', function (ev, picker) {
                var date = ev.target.value;
                var dates = [];
                dates = date.split('-');
                var start = dates[0].trim();
                var startDate = new Date(start);
                var startMonth = startDate.getMonth() + 1;
                educationFromDate = startDate.getFullYear() + "-" + startMonth + "-" + startDate.getDate();
                var end = dates[1].trim();
                var endDate = new Date(end);
                var endMonth = endDate.getMonth() + 1;
                educationToDate = endDate.getFullYear() + "-" + endMonth + "-" + endDate.getDate();
                //toDate = end.toString("YYYY-MM-DD");
                //var days = (endDate - startDate) / (1000 * 60 * 60 * 24);
                //days += 1;
                //var weekend_count = 0;
                //for (i = startDate.valueOf() ; i <= endDate.valueOf() ; i += 86400000) {
                //    var temp = new Date(i);
                //    if (temp.getDay() == 0 || temp.getDay() == 6) {
                //        weekend_count++;
                //    }
                //}
                //days = days - weekend_count;
                //$("#lblTotalWorkingDays").html(Math.round(days));
            });
            $('#educationDatePicker').on('apply.daterangepicker', function (ev, picker) {

                var start = picker.startDate;
                educationFromDate = start.format('YYYY-MM-DD');
                var end = picker.endDate;
                educationToDate = end.format('YYYY-MM-DD');
                //var days = (end - start) / (1000 * 60 * 60 * 24);

                //var weekend_count = 0;
                //for (i = start.valueOf() ; i <= end.valueOf() ; i += 86400000) {
                //    var temp = new Date(i);
                //    if (temp.getDay() == 0 || temp.getDay() == 6) {
                //        weekend_count++;
                //    }
                //}
                //days = days - weekend_count
                //$("#lblTotalWorkingDays").html(Math.round(days));
            });
            $('#experienceDatePicker').on('change.daterangepicker', function (ev, picker) {
                var date = ev.target.value;
                var dates = [];
                dates = date.split('-');
                var start = dates[0].trim();
                var startDate = new Date(start);
                var startMonth = startDate.getMonth() + 1;
                experienceFromDate = startDate.getFullYear() + "-" + startMonth + "-" + startDate.getDate();
                var end = dates[1].trim();
                var endDate = new Date(end);
                var endMonth = endDate.getMonth() + 1;
                experienceToDate = endDate.getFullYear() + "-" + endMonth + "-" + endDate.getDate();
            });
            $('#experienceDatePicker').on('apply.daterangepicker', function (ev, picker) {

                var start = picker.startDate;
                experienceFromDate = start.format('YYYY-MM-DD');
                var end = picker.endDate;
                experienceToDate = end.format('YYYY-MM-DD');

            });
        })
    });

    $('input[type="checkbox"].flat-red, input[type="radio"].flat-red').iCheck({
        checkboxClass: 'icheckbox_flat-green',
        radioClass: 'iradio_flat-green'
    });

    $(document).on('click', '#btnSubmitEmployeeDetails', function (e) {
        var imagepath = imgpath != "" ? imgpath : "";
        var educationDetails = {

            Graduation: $("#ddlGraduation").val(),
            Institution: $("#txtUniversity").val(),
            FromDate:educationFromDate,
            ToDate: educationToDate
        }
        var experienceDetails = {

            CompanyName: $("#txtEmployer").val(),
            Role: $("#txtDesignation").val(),
            FromDate: experienceFromDate,
            ToDate: experienceToDate
        }
        var skills = [];
        for (i = 0; i < $("#ddlSkills").val().length; i++) {
            skill = {
                SkillName: $("#ddlSkills").val()[i]
            }
            skills.push(skill);
        }
        var projects = [];
        project = {
            Id:$("#ddlProjectName").val()
        }
        projects.push(project);
        
        var model = {
            FirstName: $("#txtFirstName").val(),
            LastName: $("#txtLastName").val(),
            Email: $("#txtEmail").val(),
            DateOfBirth: $("#txtBirthday").val(),
            RoleId: $("#ddlDesignation").val(),
            Skills: skills,
            EmployeeNumber: $("#txtEmployeeNumber").val(),
            City: $("#txtCity").val(),
            Country: $("#txtCountry").val(),
            Telephone: $("#txtTelephone").val(),
            RefHierarchyLevel: $("#ddlLevel").val(),
            DateOfJoining: $("#txtJoiningDate").val(),
            ManagerName: $("#ddlManagerName").val(),
            EmployeeType:$("#ddlEmployeeType").val(),
           Projects:projects,
            Imagepath: imagepath,
            EmployeeEducation: [educationDetails],
            EmployeeExperience:[experienceDetails]
        };
        $.ajax({
            cache: false,
            type: 'post',
            url: '/HR/SubmitEmployeeDetails',
            data: JSON.stringify(model),
            contentType: "application/json",
            dataType: "json",
            processData:false,
            success: function (data) {
                localStorage.setItem("EmployeeAdded", 1);
                window.location.href = "/HR/EmployeeDetails";
            }
        });
    }
   );

    function ValidateAndUploadImage()
    {
        var file = document.getElementById("employeeImage").value;
        imgPath = document.getElementById("employeeImage").files[0].name;

        var reader = new FileReader();

        reader.onload = function (e) {
            $('#empImageDisplay')
                .attr('src', e.target.result)
                .width(150)
                .height(200);
        };
        reader.readAsDataURL(document.getElementById("employeeImage").files[0]);

        var fileUpload = $("#employeeImage").get(0);
        var files = fileUpload.files;
        var test = new FormData();
        for (var i = 0; i < files.length; i++) {
            test.append(files[i].name, files[i]);
        }
        $.ajax({
            url: "../ImageUploadHandler.ashx",
            type: "POST",
            contentType: false,
            processData: false,
            data: test,
            // dataType: "json",
            success: function (result) {
                imgpath = result;
                //alert(result);
            },
            error: function (err) {
                //alert(err.statusText);
            }
        });

    }

    function GetProjectsList()
    {
        $.ajax({
            cache: false,
            type: 'post',
            url: '/HR/GetProjectsList',
            contentType: "application/json",
            dataType: "json",
            success: function (data) {
                for (var i = 0; i < data.data.length; i++) {
                    $("#ddlProjectName").append($('<option></option>').attr("value", data.data[i].Id).text(data.data[i].ProjectName));
                }
            }
        });
    }


</script>