@model List<LMS_WebAPP_Domain.EmployeeDetailsModel>
@{
    ViewBag.Title = "AddEmployeeDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="../../plugins/iCheck/all.css">
<link rel="stylesheet" href="../../plugins/select2/select2.min.css">
<link rel="stylesheet" href="../../dist/css/AdminLTE.min.css">
<section class="content">
    <div class="row">

        <div class="col-md-12">
            <!-- general form elements -->
            <div class="box box-success">
                <div class="box-header with-border">
                    <h3 class="box-title">Employee Info</h3>
                </div>
                <!-- /.box-header -->
                <!-- form start -->
                @*<form role="form">*@
                <div class="box-body">
                    <div class="form-group col-md-6">
                        <img class="profile-user-img img-responsive" style="width:150px;height:200px" id="empImageDisplay" src="~/Content/Images/DefaultImage.png" alt="User profile picture">

                        <div class="text-center" style="padding-top:10px">
                            <label class="btn btn-info"><i class="fa fa-upload"></i><input id="employeeImage" type="file" style="display:none" onchange="ValidateAndUploadImage()" accept="image/jpg,image/png,image/jpeg,image/gif" /> Upload</label>
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <label style="margin-bottom: 0px;" for="txtFirstName">FirstName <span style="color:red">*</span><span class="form-group has-error" style="display:none;margin-bottom: 0px;" id="divFirstNameError">
                        <label style="margin-bottom: 0px;" class="control-label" for="FirstName">
                        <i class="fa fa-times-circle-o"></i> Please enter first name
                    </label>
                    </span> </label>
                        <input type="text" class="form-control" id="txtFirstName" placeholder="First Name">
                    </div>
                    <div class="form-group col-md-6">
                        <label style="margin-bottom: 0px;" for="txtlastname">LastName <span style="color:red">*</span><span class="form-group has-error" style="display:none;margin-bottom: 0px;" id="divLastNameError">
                        <label style="margin-bottom: 0px;" class="control-label" for="LastName">
                        <i class="fa fa-times-circle-o"></i> Please enter last name
                        </label>
                       </span> </label>
                        <input type="text" class="form-control" id="txtLastName" placeholder="Last Name">
                        
                    </div>
                    <div class="form-group col-md-6">
                        <label style="margin-bottom: 0px;" for="txtEmail">Email <span style="color:red">*</span><span class="form-group has-error" style="display:none;margin-bottom: 0px;" id="divEmailError">
                        <label style="margin-bottom: 0px;" class="control-label" for="Email">
                        <i class="fa fa-times-circle-o"></i> Please enter email id
                        </label>
                        </span> </label>
                        <input type="email" class="form-control" id="txtEmail" placeholder="Enter Email">
                        
                        <div class="form-group has-error" style="display:none;margin-bottom: 0px;" id="divInvalidEmailError">
                            <label style="margin-bottom: 0px;" class="control-label" for="InvalidEmail">
                                <i class="fa fa-times-circle-o"></i> Please enter valid email id
                            </label>
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <label style="margin-bottom: 0px;" for="txtEmployeeNumber">Employee Number <span style="color:red">*</span><span class="form-group has-error" style="display:none;margin-bottom: 0px;" id="divEmployeeNumberError">
                        <label style="margin-bottom: 0px;" class="control-label" for="EmployeeNumber">
                        <i class="fa fa-times-circle-o"></i> Please enter employee number
                        </label>
                        </span> </label>
                        <input type="email" class="form-control" id="txtEmployeeNumber" placeholder="Employee Number">
                        
                    </div>
                    <div class="form-group col-md-6">
                        <label style="margin-bottom: 0px;" for="txtJoiningDate">Date Of Joining <span style="color:red">*</span><span class="form-group has-error" style="display:none;margin-bottom: 0px;" id="divDateOfJoiningError">
                        <label style="margin-bottom: 0px;" class="control-label" for="DateOfJoining">
                        <i class="fa fa-times-circle-o"></i> Please enter date of joining
                        </label>
                        </span> </label>
                        <input type="text" class="form-control" id="txtJoiningDate">
                        
                    </div>
                    <div class="form-group col-md-6">
                        <label style="margin-bottom: 0px;" for="txtBirthday">BirthDay <span style="color:red">*</span><span class="form-group has-error" style="display:none;margin-bottom: 0px;" id="divBirthDayError">
                        <label style="margin-bottom: 0px;" class="control-label" for="BirthDay">
                        <i class="fa fa-times-circle-o"></i> Please enter birthday
                        </label>
                        </span></label>
                        <input type="text" class="form-control" id="txtBirthday">
                        
                    </div>
                    <div class="form-group col-md-6">
                        <label style="margin-bottom: 0px;" for="txtCity">City <span style="color:red">*</span><span class="form-group has-error" style="display:none;margin-bottom: 0px;" id="divCityError">
                        <label style="margin-bottom: 0px;" class="control-label" for="City">
                        <i class="fa fa-times-circle-o"></i> Please enter city
                        </label>
                        </span></label>
                        <input type="text" class="form-control" id="txtCity" placeholder="City">
                        
                    </div>
                    <div class="form-group col-md-6">
                        <label style="margin-bottom: 0px;" for="txtCountry">Country <span style="color:red">*</span><span class="form-group has-error" style="display:none;margin-bottom: 0px;" id="divCountryError">
                        <label style="margin-bottom: 0px;" class="control-label" for="country">
                        <i class="fa fa-times-circle-o"></i> Please enter country
                        </label>
                        </span></label>
                        <input type="text" class="form-control" id="txtCountry" placeholder="Country">
                        
                    </div>
                    <div class="form-group col-md-6">
                        <label style="margin-bottom: 0px;" for="txtTelephone">Telephone <span style="color:red">*</span><span class="form-group has-error" style="display:none;margin-bottom: 0px;" id="divTelephoneError">
                        <label style="margin-bottom: 0px;" class="control-label" for="telephone">
                        <i class="fa fa-times-circle-o"></i> Please enter telephone number
                        </label>
                        </span></label>
                        <input type="tel" class="form-control" id="txtTelephone" placeholder="Telephone">
                        
                    </div>
                    <div class="form-group col-md-6">
                        <label style="margin-bottom: 0px;">Designation <span style="color:red">*</span><span class="form-group has-error" style="display:none;margin-bottom: 0px;" id="divDesignationError">
                        <label style="margin-bottom: 0px;" class="control-label" for="Designation">
                        <i class="fa fa-times-circle-o"></i> Please select designation
                        </label>
                        </span></label>
                        <select class="form-control designation" style="width: 100%;" id="ddlDesignation">
                            <option value="">Select</option>
                        </select>
                        
                    </div>
                    <div class="form-group col-md-6">
                        <label style="margin-bottom: 0px;">Employee Type <span style="color:red">*</span><span class="form-group has-error" style="display:none;margin-bottom: 0px;" id="divEmployeeTypeError">
                        <label style="margin-bottom: 0px;" class="control-label" for="EmployeeType">
                        <i class="fa fa-times-circle-o"></i> Please select employee type
                        </label>
                        </span></label>
                        <select class="form-control level" style="width: 100%;" id="ddlEmployeeType">
                            <option value="">Select</option>
                            <option value="@Convert.ToInt16(LMS_WebAPP_Utils.EmployeeType.Fresher)">@LMS_WebAPP_Utils.CommonMethods.Description((LMS_WebAPP_Utils.EmployeeType.Fresher))</option>
                            <option value="@Convert.ToInt16(LMS_WebAPP_Utils.EmployeeType.Experienced)">@LMS_WebAPP_Utils.CommonMethods.Description((LMS_WebAPP_Utils.EmployeeType.Experienced))</option>                       
                        </select>
                        
                    </div>
                    @*<div class="form-group col-md-6">
                        <label>Level</label>
                        <select class="form-control level" style="width: 100%;" id="ddlLevel">
                            <option value="">Select</option>
                            <option value="@Convert.ToInt16(LMS_WebAPP_Utils.HierarchyLevel.Level0)">@LMS_WebAPP_Utils.CommonMethods.Description((LMS_WebAPP_Utils.HierarchyLevel.Level0))</option>
                            <option value="@Convert.ToInt16(LMS_WebAPP_Utils.HierarchyLevel.Level1)">@LMS_WebAPP_Utils.CommonMethods.Description((LMS_WebAPP_Utils.HierarchyLevel.Level1))</option>
                            <option value="@Convert.ToInt16(LMS_WebAPP_Utils.HierarchyLevel.Level2)">@LMS_WebAPP_Utils.CommonMethods.Description((LMS_WebAPP_Utils.HierarchyLevel.Level2))</option>
                            <option value="@Convert.ToInt16(LMS_WebAPP_Utils.HierarchyLevel.Level3)">@LMS_WebAPP_Utils.CommonMethods.Description((LMS_WebAPP_Utils.HierarchyLevel.Level3))</option>
                            <option value="@Convert.ToInt16(LMS_WebAPP_Utils.HierarchyLevel.Level4)">@LMS_WebAPP_Utils.CommonMethods.Description((LMS_WebAPP_Utils.HierarchyLevel.Level4))</option>
                            <option value="@Convert.ToInt16(LMS_WebAPP_Utils.HierarchyLevel.Level5)">@LMS_WebAPP_Utils.CommonMethods.Description((LMS_WebAPP_Utils.HierarchyLevel.Level5))</option>
                        </select>
                    </div>*@
                    <div class="form-group col-md-6" id="ddlManager">
                        <label style="margin-bottom: 0px;">Manager Name <span style="color:red">*</span><span class="form-group has-error" style="display:none;margin-bottom: 0px;" id="divManagerNameError">
                        <label style="margin-bottom: 0px;" class="control-label" for="ManagerName">
                        <i class="fa fa-times-circle-o"></i> Please select manager
                        </label>
                        </span></label>

                        <select class="form-control managerSelect" style="width: 100%;" id="ddlManagerName">
                            <option value="">Select</option>
                            @foreach (var m in Model)
                            {
                                <option value="@m.Id">@m.FirstName</option>
                            }
                        </select>
                        

                    </div>
                    <div class="form-group col-md-6" id="ddlProject">
                        <label style="margin-bottom: 0px;">Project Name</label>

                        <select class="form-control managerSelect" style="width: 100%;" id="ddlProjectName">
                        </select>

                    </div>

                    <div class="form-group col-md-6" id="ddlProject">
                        <label style="margin-bottom: 0px;">Profile Type</label>

                        <div id="rddiv">
                            @foreach (var value in Enum.GetValues(typeof(LMS_WebAPP_Utils.ProfileType)))
                            {
                                if (Convert.ToInt16(LMS_WebAPP_Utils.ProfileType.CEO) != @Convert.ToInt16((LMS_WebAPP_Utils.ProfileType)value))
                                {
                                    var selectedAttr = "";
                                    if (Convert.ToInt16(LMS_WebAPP_Utils.ProfileType.Employee) == @Convert.ToInt16((LMS_WebAPP_Utils.ProfileType)value) ||
                                        Convert.ToInt16(LMS_WebAPP_Utils.ProfileType.Employee) == @Convert.ToInt16((LMS_WebAPP_Utils.ProfileType)value))
                                    {
                                        selectedAttr = "checked";
                                    }

                                <div class="col-md-3" style="margin-top:3px">
                                    <input type="radio" name="r1" id="RdLeaveType_@Convert.ToInt16((LMS_WebAPP_Utils.ProfileType)value)" class="flat-red" value="@Convert.ToInt16((LMS_WebAPP_Utils.ProfileType)value)" @selectedAttr> @(LMS_WebAPP_Utils.CommonMethods.Description((LMS_WebAPP_Utils.ProfileType)Convert.ToInt16((LMS_WebAPP_Utils.ProfileType)value)))
                                    
                                </div>
                                }
                            }

                        </div>

                </div>
                <!-- /.box-body -->
                @*</form>*@
            </div>
        </div>
        <div class="col-md-12">
            <!-- general form elements -->
            <div class="box box-success">
                <div class="box-header with-border">
                    <h3 class="box-title">Education Details(Highest Degree)</h3>
                </div>
                <!-- /.box-header -->
                <!-- form start -->
                @*<form role="form">*@
                <div class="box-body">
                    <div class="form-group col-md-6">
                        <label style="margin-bottom: 0px;">Graduation</label>
                        <div>
                            <select id="ddlGraduation" class="form-control graduation" style="width: 100%;">
                                <option>BTech</option>
                                <option>MTech</option>
                            </select>
                            
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <label style="margin-bottom: 0px;">Specialization</label>
                        <div>
                            <select id="ddlSpecialization" class="form-control specialization" style="width: 100%;">
                                <option>CSE</option>
                                <option>EEE</option>
                                <option>ECE</option>
                            </select>
                            
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <label style="margin-bottom: 0px;" >College/University <span style="color:red">*</span><span class="form-group has-error" style="display:none" id="divCollegeError">
                        <label style="margin-bottom: 0px;" class="control-label" for="College/University">
                        <i class="fa fa-times-circle-o"></i> Please enter college/university
                        </label>
                        </span></label>
                        <input type="text" class="form-control" id="txtUniversity" placeholder="Enter College/University">
                        
                    </div>
                    <div class="form-group col-md-6">
                        <label style="margin-bottom: 0px;" for="educationFromDate">Duration</label>
                        <input type="text" class="form-control" id="educationDatePicker">
                    </div>

                </div>
                @*</form>*@

            </div>

            <div class="box box-success">
                <div class="box-header with-border">
                    <h3 class="box-title">Experience Details(Last Employer Details)</h3>
                </div>
                <!-- /.box-header -->
                <!-- form start -->
                @*<form role="form">*@
                <div class="box-body">
                    <div class="form-group col-md-6">
                        <label style="margin-bottom: 0px;" for="txtEmployer">Employer</label>
                        <input type="text" class="form-control" id="txtEmployer" placeholder="Enter Employer">
                    </div>
                    <div class="form-group col-md-6">
                        <label style="margin-bottom: 0px;">Designation</label>
                        <select class="form-control experienceDesignation" style="width: 100%;" id="ddlExperienceDesignation">
                            <option value="">Select</option>
                        </select>
                    </div>
                    <div class="form-group col-md-6">
                        <label style="margin-bottom: 0px;" for="ExpFromDate">From</label>
                        <input type="text" class="form-control" id="experienceDatePicker">
                    </div>
                    <div class="form-group col-md-6">
                        <label style="margin-bottom: 0px;">Skills</label>
                        <select id="ddlSkills" multiple="multiple" class="form-control skills" style="width: 100%;">
                        </select>
                    </div>

                </div>
                <div class="box-footer">
                    <button type="submit" id="btnSubmitEmployeeDetails" class="btn" style="background-color:#222d32 !important;color:white">Submit</button>
                </div>
                @*</form>*@

            </div>
        </div>
    </div>

    <!-- /.row -->
</section>
<script src="../../plugins/iCheck/icheck.min.js"></script>
<script src="../../plugins/select2/select2.full.min.js"></script>
<script src="~/plugins/daterangepicker/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.11.2/moment.min.js"></script>
<script src="../../plugins/daterangepicker/daterangepicker.js"></script>
<script>
    var educationFromDate;
    var educationToDate;
    var experienceFromDate;
    var experienceToDate;
    var imgpath = "";
    var imgId;
    var levelValue='@Convert.ToInt32(LMS_WebAPP_Utils.HierarchyLevel.Level0)';
    $(document).ready(function () {
        $(function () {
            GetProjectsList();
            GetSkillsList();
            GetRolesList();
            //Initialize Select2 Elements
            $(".experienceDesignation").select2();
            $(".designation").select2().on('change',function(e){
                ////if ($("#ddlDesignation").val() == levelValue) {
                ////    $("#ddlManager").hide();
                ////}
                ////else {
                //    $("#ddlManager").show();

                    var designation = $("#ddlDesignation").val();
                    $("#ddlManagerName option").remove();
                    $("#ddlManagerName").append($('<option></option>').attr("value", '').text('Select'));
                    $.ajax({
                        cache: false,
                        type: 'post',
                        url: '/HR/GetManagerList?refDesignation=' + designation,
                        dataType: "json",
                        processData: false,
                        success: function (data) {
                            for (var i = 0; i < data.data.length; i++) {
                                $("#ddlManagerName").append($('<option></option>').attr("value", data.data[i].Id).text(data.data[i].FirstName));
                            }

                        }
                    });
                //}
            });
            $(".graduation").select2();
            $(".specialization").select2();
            $(".skills").select2();
            $(".managerSelect").select2();
            //$(".level").select2().on('change', function (e) {


            //});
            $('#educationDatePicker').daterangepicker(
                   {
                       locale: {
                           format: 'DD/MM/YYYY'
                       }
                   });
            $('#experienceDatePicker').daterangepicker(
                  {
                      locale: {
                          format: 'DD/MM/YYYY'
                      }
                  });
            //Date picker
            $('#txtJoiningDate').datepicker({
                autoclose: true
            });
            //Date picker
            $('#txtBirthday').datepicker({
                autoclose: true
            });

            $('#educationDatepicker').on('change.daterangepicker', function (ev, picker) {
                var date = ev.target.value;
                var dates = [];
                dates = date.split('-');
                var start = dates[0].trim();
                var startDate = new Date(start);
                var startMonth = startDate.getMonth() + 1;
                educationFromDate = startDate.getFullYear() + "-" + startMonth + "-" + startDate.getDate();
                var end = dates[1].trim();
                var endDate = new Date(end);
                var endMonth = endDate.getMonth() + 1;
                educationToDate = endDate.getFullYear() + "-" + endMonth + "-" + endDate.getDate();
            });
            $('#educationDatePicker').on('apply.daterangepicker', function (ev, picker) {

                var start = picker.startDate;
                educationFromDate = start.format('YYYY-MM-DD');
                var end = picker.endDate;
                educationToDate = end.format('YYYY-MM-DD');
            });
            $('#experienceDatePicker').on('change.daterangepicker', function (ev, picker) {
                var date = ev.target.value;
                var dates = [];
                dates = date.split('-');
                var start = dates[0].trim();
                var startDate = new Date(start);
                var startMonth = startDate.getMonth() + 1;
                experienceFromDate = startDate.getFullYear() + "-" + startMonth + "-" + startDate.getDate();
                var end = dates[1].trim();
                var endDate = new Date(end);
                var endMonth = endDate.getMonth() + 1;
                experienceToDate = endDate.getFullYear() + "-" + endMonth + "-" + endDate.getDate();
            });
            $('#experienceDatePicker').on('apply.daterangepicker', function (ev, picker) {

                var start = picker.startDate;
                experienceFromDate = start.format('YYYY-MM-DD');
                var end = picker.endDate;
                experienceToDate = end.format('YYYY-MM-DD');

            });
        })
    });

    $('input[type="checkbox"].flat-red, input[type="radio"].flat-red').iCheck({
        checkboxClass: 'icheckbox_flat-green',
        radioClass: 'iradio_flat-green'
    });

    $(document).on('click', '#btnSubmitEmployeeDetails', function (e) {
        debugger
        if (($("#txtFirstName").val() == "") && ($("#txtLastName").val() == "") && ($("#txtEmail").val() == "") && ($("#txtEmployeeNumber").val() == "") && ($("#txtJoiningDate").val() == "") && ($("#txtBirthday").val() == "") && ($("#txtCity").val() == "") && ($("#txtCountry").val() == "") && ($("#txtTelephone").val() == "") && ($("#ddlDesignation").val() == 0) && ($("#ddlEmployeeType").val() == 0) && ($("#ddlManagerName").val() == 0) && ($("#txtUniversity").val() == "")) {
            $("#divFirstNameError").show();
            $("#divLastNameError").show();
            $("#divEmailError").show();
            $("#divEmployeeNumberError").show();
            $("#divDateOfJoiningError").show();
            $("#divBirthDayError").show();
            $("#divCityError").show();
            $("#divCountryError").show();
            $("#divTelephoneError").show();
            $("#divDesignationError").show();
            $("#divEmployeeTypeError").show();
            $("#divManagerNameError").show();
            $("#divCollegeError").show();
            $('#divInvalidEmailError').hide();
            return false;
        }

        if ($("#txtFirstName").val() == "") {
            $('#divFirstNameError').show();
            return false;
        }
        if ($("#txtLastName").val() == "") {
            $('#divLastNameError').show();
            return false;
        }
        if ($("#txtEmail").val() == "") {
            $('#divEmailError').show();
            $('#divInvalidEmailError').hide();
            return false;
        }
        var reg = /^\w+([-+.']\w+)*@Html.Raw("@")\w+([-.]\w+)*\.\w+([-.]\w+)*$/
        if (!(reg.test($("#txtEmail").val()))) {
            $('#divInvalidEmailError').show();
            $('#divEmailError').hide();
            return false;
        }
        else
        {
            $('#divInvalidEmailError').hide();
            $('#divEmailError').hide();
        }
        if ($("#txtEmployeeNumber").val() == "") {
            $('#divEmployeeNumberError').show();
            return false;
        }
        if ($("#txtJoiningDate").val() == "") {
            $('#divDateOfJoiningError').show();
            return false;
        }
        if ($("#txtBirthday").val() == "") {
            $('#divBirthDayError').show();
            return false;
        }
        if ($("#txtCity").val() == "") {
            $('#divCityError').show();
            return false;
        }
        if ($("#txtCountry").val() == "") {
            $('#divCountryError').show();
            return false;
        }
        if ($("#txtTelephone").val() == "") {
            $('#divTelephoneError').show();
            return false;
        }
        if ($("#ddlDesignation").val() == 0) {
            $('#divDesignationError').show();
            return false;
        }
        if ($("#ddlEmployeeType").val() == 0) {
            $('#divEmployeeTypeError').show();
            return false;
        }
        if ($("#ddlManagerName").val() == 0) {
            $('#divManagerNameError').show();
            return false;
        }
        if ($("#txtUniversity").val() == "") {
            $('#divCollegeError').show();
            return false;
        }

        var imagepath = imgpath != "" ? imgpath : "";
        var educationDetails = {

            Graduation: $("#ddlGraduation").val(),
            Institution: $("#txtUniversity").val(),
            FromDate: $("#educationDatePicker").val().split("-")[0].trim(),
            ToDate: $("#educationDatePicker").val().split("-")[1].trim()
        }
        var experienceDetails = {

            CompanyName: $("#txtEmployer").val(),
            Role: $("#ddlExperienceDesignation").val(),
            FromDate: $("#experienceDatePicker").val().split("-")[0].trim(),
            ToDate: $("#experienceDatePicker").val().split("-")[1].trim()
        }
        var skills = [];
        for (i = 0; i < $("#ddlSkills").val().length; i++) {
            skill = {
                SkillName: $("#ddlSkills").val()[i]
            }
            skills.push(skill);
        }
        var projects = [];
        project = {
            Id:$("#ddlProjectName").val()
        }
        projects.push(project);

        var model = {
            FirstName: $("#txtFirstName").val(),
            LastName: $("#txtLastName").val(),
            Email: $("#txtEmail").val(),
            DateOfBirth: $("#txtBirthday").val(),
            RoleId: $("#ddlDesignation").val(),
            Skills: skills,
            EmployeeNumber: $("#txtEmployeeNumber").val(),
            City: $("#txtCity").val(),
            Country: $("#txtCountry").val(),
            Telephone: $("#txtTelephone").val(),
            //RefHierarchyLevel: $("#ddlLevel").val(),
            DateOfJoining: $("#txtJoiningDate").val(),
            ManagerId: $("#ddlManagerName").val(),
            EmployeeType: $("#ddlEmployeeType").val(),
            RefProfileType:$('input[name=r1]:checked').val(),
           Projects:projects,
            Imagepath: imagepath,
            EmployeeEducation: [educationDetails],
            EmployeeExperience:[experienceDetails]
        };
        $.ajax({
            cache: false,
            type: 'post',
            url: '/HR/SubmitEmployeeDetails',
            data: JSON.stringify(model),
            contentType: "application/json",
            dataType: "json",
            processData:false,
            success: function (data) {
                localStorage.setItem("EmployeeAdded", 1);
                window.location.href = "/HR/EmployeeDetails";
            }
        });
    }
   );

    function ValidateAndUploadImage()
    {
        var file = document.getElementById("employeeImage").value;
        imgPath = document.getElementById("employeeImage").files[0].name;

        var reader = new FileReader();

        reader.onload = function (e) {
            $('#empImageDisplay')
                .attr('src', e.target.result)
                .width(150)
                .height(200);
        };
        reader.readAsDataURL(document.getElementById("employeeImage").files[0]);

        var fileUpload = $("#employeeImage").get(0);
        var files = fileUpload.files;
        var test = new FormData();
        for (var i = 0; i < files.length; i++) {
            test.append(files[i].name, files[i]);
        }
        $.ajax({
            url: "../ImageUploadHandler.ashx",
            type: "POST",
            contentType: false,
            processData: false,
            data: test,
            // dataType: "json",
            success: function (result) {
                imgpath = result;
                //alert(result);
            },
            error: function (err) {
                //alert(err.statusText);
            }
        });

    }

    function GetProjectsList()
    {
        $.ajax({
            cache: false,
            type: 'post',
            url: '/HR/GetProjectsList',
            contentType: "application/json",
            dataType: "json",
            success: function (data) {
                for (var i = 0; i < data.data.length; i++) {
                    $("#ddlProjectName").append($('<option></option>').attr("value", data.data[i].Id).text(data.data[i].ProjectName));
                    $("#ddlProjectName").val(2);
                }
            }
        });
    }
    function GetSkillsList() {
        $.ajax({
            cache: false,
            type: 'post',
            url: '/HR/GetSkillsList',
            contentType: "application/json",
            dataType: "json",
            success: function (data) {
                for (var i = 0; i < data.data.length; i++) {
                    $("#ddlSkills").append($('<option></option>').attr("value", data.data[i].SkillName).text(data.data[i].SkillName));
                }
            }
        });
    }

    function GetRolesList() {
        $.ajax({
            cache: false,
            type: 'post',
            url: '/HR/GetRolesList',
            contentType: "application/json",
            dataType: "json",
            success: function (data) {
                for (var i = 0; i < data.data.length; i++) {
                    $("#ddlDesignation").append($('<option></option>').attr("value", data.data[i].Id).text(data.data[i].Value));
                    $("#ddlExperienceDesignation").append($('<option></option>').attr("value", data.data[i].Value).text(data.data[i].Value));
                }
            }
        });
    }

    $("#txtFirstName").keypress(function (e) {
        $('#divFirstNameError').hide();
    });
    $("#txtLastName").keypress(function (e) {
        $('#divLastNameError').hide();
    });
    $("#txtEmail").keypress(function (e) {
        $('#divEmailError').hide();
    });
    $("#txtEmployeeNumber").keypress(function (e) {
        $('#divEmployeeNumberError').hide();
    });
    $("#txtCity").keypress(function (e) {
        $('#divCityError').hide();
    });
    $("#txtCountry").keypress(function (e) {
        $('#divCountryError').hide();
    });
    $("#txtTelephone").keypress(function (e) {
        $('#divTelephoneError').hide();
    });
    $("#txtUniversity").keypress(function (e) {
        $('#divCollegeError').hide();
    });

    $('#ddlDesignation').on('change', function () {
        if ($("#ddlDesignation").val() != 0) {
            $("#divDesignationError").hide();
        }
        else {
            $("#divDesignationError").show();
        }
    });

    $('#ddlEmployeeType').on('change', function () {
        if ($("#ddlEmployeeType").val() != 0) {
            $("#divEmployeeTypeError").hide();
        }
        else {
            $("#divEmployeeTypeError").show();
        }
    });

    $('#ddlManagerName').on('change', function () {
        if ($("#ddlManagerName").val() != 0) {
            $("#divManagerNameError").hide();
        }
        else {
            $("#divManagerNameError").show();
        }
    });

    $('#txtJoiningDate').on('change.datepicker', function (ev, picker) {
        $('#divDateOfJoiningError').hide();
    });

    $('#txtBirthday').on('change.datepicker', function (ev, picker) {
        $('#divBirthDayError').hide();
    });

</script>