@model List<LMS_WebAPP_Domain.EmployeeDetailsModel>
@{
    ViewBag.Title = "AddEmployeeDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="../../plugins/iCheck/all.css">
<link rel="stylesheet" href="../../plugins/select2/select2.min.css">
<link rel="stylesheet" href="../../dist/css/AdminLTE.min.css">
<section class="content">
    <div class="row">

        <div class="col-md-12">
            <!-- general form elements -->
            <div class="box box-success">
                <div class="box-header with-border">
                    <h3 class="box-title">Employee Info</h3>
                </div>
                <!-- /.box-header -->
                <!-- form start -->
                @*<form role="form">*@
                <div class="box-body">
                    <div class="form-group col-md-6">
                        <img class="profile-user-img img-responsive" style="width:150px;height:200px" id="empImageDisplay" src="~/Content/Images/DefaultImage.png" alt="User profile picture">

                        <div class="text-center" style="padding-top:10px">
                            <label class="btn btn-info"><i class="fa fa-upload"></i><input id="employeeImage" type="file" style="display:none" onchange="ValidateAndUploadImage()" accept="image/jpg,image/png,image/jpeg,image/gif" /> Upload</label>
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <label style="margin-bottom: 0px;" for="txtFirstName">
                            First Name <span style="color:red">*</span><span class="form-group has-error" style="display:none;margin-bottom: 0px;" id="divFirstNameError">
                                <label style="margin-bottom: 0px;" class="control-label" for="FirstName">
                                    <i class="fa fa-times-circle-o"></i> Please enter first name
                                </label>
                            </span>
                        </label>
                        <input type="text" class="form-control" id="txtFirstName" placeholder="First Name">
                    </div>
                    <div class="form-group col-md-6">
                        <label style="margin-bottom: 0px;" for="txtlastname">
                            Last Name <span style="color:red">*</span><span class="form-group has-error" style="display:none;margin-bottom: 0px;" id="divLastNameError">
                                <label style="margin-bottom: 0px;" class="control-label" for="LastName">
                                    <i class="fa fa-times-circle-o"></i> Please enter last name
                                </label>
                            </span>
                        </label>
                        <input type="text" class="form-control" id="txtLastName" placeholder="Last Name">

                    </div>
                    <div class="form-group col-md-6">
                        <label style="margin-bottom: 0px;" for="txtEmail">
                            Email <span style="color:red">*</span><span class="form-group has-error" style="display:none;margin-bottom: 0px;" id="divEmailError">
                                <label style="margin-bottom: 0px;" class="control-label" for="Email">
                                    <i class="fa fa-times-circle-o"></i> Please enter email id
                                </label>
                            </span>
                        </label>
                        <input type="email" class="form-control" id="txtEmail" placeholder="Enter Email">

                        <div class="form-group has-error" style="display:none;margin-bottom: 0px;" id="divInvalidEmailError">
                            <label style="margin-bottom: 0px;" class="control-label" for="InvalidEmail">
                                <i class="fa fa-times-circle-o"></i> Please enter valid email id
                            </label>
                        </div>
                        <span class="form-group has-error" style="display:none;margin-bottom: 0px;" id="divEmailAlreadyError">
                            <label style="margin-bottom: 0px;" class="control-label" for="EmailAlready">
                                <i class="fa fa-times-circle-o"></i>Email id is already present
                            </label>
                        </span>
                    </div>
                    <div class="form-group col-md-6">
                        <label style="margin-bottom: 0px;" for="txtEmployeeNumber">
                            Employee Number <span style="color:red">*</span><span class="form-group has-error" style="display:none;margin-bottom: 0px;" id="divEmployeeNumberError">
                                <label style="margin-bottom: 0px;" class="control-label" for="EmployeeNumber">
                                    <i class="fa fa-times-circle-o"></i> Please enter employee number
                                </label>
                            </span>
                            <span class="form-group has-error" style="display:none;margin-bottom: 0px;" id="divEmployeeNumberAlreadyError">
                                <label style="margin-bottom: 0px;" class="control-label" for="EmployeeNumberAlready">
                                    <i class="fa fa-times-circle-o"></i>Employee number is already present
                                </label>
                            </span>
                        </label>
                        <input type="email" class="form-control" id="txtEmployeeNumber" placeholder="Employee Number">

                    </div>
                    <div class="form-group col-md-6">
                        <label style="margin-bottom: 0px;" for="txtJoiningDate">
                            Date of Joining <span style="color:red">*</span><span class="form-group has-error" style="display:none;margin-bottom: 0px;" id="divDateOfJoiningError">
                                <label style="margin-bottom: 0px;" class="control-label" for="DateOfJoining">
                                    <i class="fa fa-times-circle-o"></i> Please enter date of joining
                                </label>
                            </span>
                        </label>
                        <input type="text" class="form-control" id="txtJoiningDate">

                    </div>
                    <div class="form-group col-md-6">
                        <label style="margin-bottom: 0px;" for="txtBirthday">
                            Date of Birth <span style="color:red">*</span><span class="form-group has-error" style="display:none;margin-bottom: 0px;" id="divBirthDayError">
                                <label style="margin-bottom: 0px;" class="control-label" for="BirthDay">
                                    <i class="fa fa-times-circle-o"></i> Please enter birthday
                                </label>
                            </span>
                        </label>
                        <input type="text" class="form-control" id="txtBirthday">

                    </div>
                    <div class="form-group col-md-6">
                        <label style="margin-bottom: 0px;" for="txtCity">
                            City <span style="color:red">*</span><span class="form-group has-error" style="display:none;margin-bottom: 0px;" id="divCityError">
                                <label style="margin-bottom: 0px;" class="control-label" for="City">
                                    <i class="fa fa-times-circle-o"></i> Please enter city
                                </label>
                            </span>
                        </label>
                        <input type="text" class="form-control" id="txtCity" placeholder="City">

                    </div>
                    <div class="form-group col-md-6">
                        <label style="margin-bottom: 0px;" for="txtCountry">
                            Country <span style="color:red">*</span><span class="form-group has-error" style="display:none;margin-bottom: 0px;" id="divCountryError">
                                <label style="margin-bottom: 0px;" class="control-label" for="country">
                                    <i class="fa fa-times-circle-o"></i> Please enter country
                                </label>
                            </span>
                        </label>
                        <input type="text" class="form-control" id="txtCountry" placeholder="Country">

                    </div>
                    <div class="form-group col-md-6">
                        <label style="margin-bottom: 0px;" for="txtTelephone">
                            Telephone <span style="color:red">*</span><span class="form-group has-error" style="display:none;margin-bottom: 0px;" id="divTelephoneError">
                                <label style="margin-bottom: 0px;" class="control-label" for="telephone">
                                    <i class="fa fa-times-circle-o"></i> Please enter telephone number
                                </label>
                            </span>
                        </label>
                        <input type="tel" class="form-control" id="txtTelephone" placeholder="Telephone">

                    </div>
                    <div class="form-group col-md-6">
                        <label style="margin-bottom: 0px;">
                            Designation <span style="color:red">*</span><span class="form-group has-error" style="display:none;margin-bottom: 0px;" id="divDesignationError">
                                <label style="margin-bottom: 0px;" class="control-label" for="Designation">
                                    <i class="fa fa-times-circle-o"></i> Please select designation
                                </label>
                            </span>
                        </label>
                        <select class="form-control designation" style="width: 100%;" id="ddlDesignation">
                            <option value="">Select</option>
                        </select>

                    </div>
                    <div class="form-group col-md-6">
                        <label style="margin-bottom: 0px;">
                            Employee Type <span style="color:red">*</span><span class="form-group has-error" style="display:none;margin-bottom: 0px;" id="divEmployeeTypeError">
                                <label style="margin-bottom: 0px;" class="control-label" for="EmployeeType">
                                    <i class="fa fa-times-circle-o"></i> Please select employee type
                                </label>
                            </span>
                        </label>
                        <select class="form-control level" style="width: 100%;" id="ddlEmployeeType">
                            <option value="">Select</option>
                            <option value="@Convert.ToInt16(LMS_WebAPP_Utils.EmployeeType.Fresher)">@LMS_WebAPP_Utils.CommonMethods.Description((LMS_WebAPP_Utils.EmployeeType.Fresher))</option>
                            <option value="@Convert.ToInt16(LMS_WebAPP_Utils.EmployeeType.Experienced)">@LMS_WebAPP_Utils.CommonMethods.Description((LMS_WebAPP_Utils.EmployeeType.Experienced))</option>
                        </select>

                    </div>
                    @*<div class="form-group col-md-6">
                            <label>Level</label>
                            <select class="form-control level" style="width: 100%;" id="ddlLevel">
                                <option value="">Select</option>
                                <option value="@Convert.ToInt16(LMS_WebAPP_Utils.HierarchyLevel.Level0)">@LMS_WebAPP_Utils.CommonMethods.Description((LMS_WebAPP_Utils.HierarchyLevel.Level0))</option>
                                <option value="@Convert.ToInt16(LMS_WebAPP_Utils.HierarchyLevel.Level1)">@LMS_WebAPP_Utils.CommonMethods.Description((LMS_WebAPP_Utils.HierarchyLevel.Level1))</option>
                                <option value="@Convert.ToInt16(LMS_WebAPP_Utils.HierarchyLevel.Level2)">@LMS_WebAPP_Utils.CommonMethods.Description((LMS_WebAPP_Utils.HierarchyLevel.Level2))</option>
                                <option value="@Convert.ToInt16(LMS_WebAPP_Utils.HierarchyLevel.Level3)">@LMS_WebAPP_Utils.CommonMethods.Description((LMS_WebAPP_Utils.HierarchyLevel.Level3))</option>
                                <option value="@Convert.ToInt16(LMS_WebAPP_Utils.HierarchyLevel.Level4)">@LMS_WebAPP_Utils.CommonMethods.Description((LMS_WebAPP_Utils.HierarchyLevel.Level4))</option>
                                <option value="@Convert.ToInt16(LMS_WebAPP_Utils.HierarchyLevel.Level5)">@LMS_WebAPP_Utils.CommonMethods.Description((LMS_WebAPP_Utils.HierarchyLevel.Level5))</option>
                            </select>
                        </div>*@
                    <div class="form-group col-md-6" id="ddlManager">
                        <label style="margin-bottom: 0px;">
                            Manager Name <span style="color:red">*</span><span class="form-group has-error" style="display:none;margin-bottom: 0px;" id="divManagerNameError">
                                <label style="margin-bottom: 0px;" class="control-label" for="ManagerName">
                                    <i class="fa fa-times-circle-o"></i> Please select manager
                                </label>
                            </span>
                        </label>

                        <select class="form-control managerSelect" style="width: 100%;" id="ddlManagerName">
                            <option value="">Select</option>
                            @foreach (var m in Model)
                            {
                                <option value="@m.Id">@m.FirstName</option>
                            }
                        </select>


                    </div>
                    <div class="form-group col-md-6" id="ddlProject">
                        <label style="margin-bottom: 0px;">Project Name <span style="color:red">*</span><span class="form-group has-error" style="display:none;margin-bottom: 0px;" id="divProjectNameError">
                        <label style="margin-bottom: 0px;" class="control-label" for="ProjectName">
                        <i class="fa fa-times-circle-o"></i> Please select project
                        </label>
                        </span></label>

                        <select class="form-control managerSelect" style="width: 100%;" id="ddlProjectName">
                            <option value="">Select</option>
                        </select>

                    </div>

                    <div class="form-group col-md-6" id="ddlProject">
                        <label style="margin-bottom: 0px;">Profile Type</label>

                        <div id="rddiv">
                            @foreach (var value in Enum.GetValues(typeof(LMS_WebAPP_Utils.ProfileType)))
                            {
                                if (Convert.ToInt16(LMS_WebAPP_Utils.ProfileType.CEO) != @Convert.ToInt16((LMS_WebAPP_Utils.ProfileType)value))
                                {
                                    var selectedAttr = "";
                                    if (Convert.ToInt16(LMS_WebAPP_Utils.ProfileType.Employee) == @Convert.ToInt16((LMS_WebAPP_Utils.ProfileType)value) ||
                                        Convert.ToInt16(LMS_WebAPP_Utils.ProfileType.Employee) == @Convert.ToInt16((LMS_WebAPP_Utils.ProfileType)value))
                                    {
                                        selectedAttr = "checked";
                                    }

                                    <div class="col-md-3" style="margin-top:3px">
                                        <input type="radio" name="r1" id="RdLeaveType_@Convert.ToInt16((LMS_WebAPP_Utils.ProfileType)value)" class="flat-red" value="@Convert.ToInt16((LMS_WebAPP_Utils.ProfileType)value)" @selectedAttr> @(LMS_WebAPP_Utils.CommonMethods.Description((LMS_WebAPP_Utils.ProfileType)Convert.ToInt16((LMS_WebAPP_Utils.ProfileType)value)))

                                    </div>
                                }
                            }

                        </div>

                    </div>
                    <!-- /.box-body -->
                    @*</form>*@
                </div>
            </div>
            <div class="col-md-12" style="width:1089px;padding:0px">
                <!-- general form elements -->
                <div class="box box-success" >
                    <div class="box-header with-border">
                        <h3 class="box-title">Education Details(Highest Degree)</h3>
                    </div>
                    <!-- /.box-header -->
                    <!-- form start -->
                    @*<form role="form">*@
                    <div class="box-body">
                        <div class="form-group col-md-6">
                            <label style="margin-bottom: 0px;">Graduation <span style="color:red">*</span><span class="form-group has-error" style="display:none;margin-bottom: 0px;" id="divGraduationError">
                            <label style="margin-bottom: 0px;" class="control-label" for="Graduation">
                            <i class="fa fa-times-circle-o"></i> Please select graduation
                            </label>
                            </span></label>
                            <div>
                                <select id="ddlGraduation" class="form-control graduation" style="width: 100%;">
                                    <option value="">Select</option>
                                    <option value="@Convert.ToInt16(LMS_WebAPP_Utils.GraduationDegree.BTech)">@LMS_WebAPP_Utils.CommonMethods.Description((LMS_WebAPP_Utils.GraduationDegree.BTech))</option>
                                    <option value="@Convert.ToInt16(LMS_WebAPP_Utils.GraduationDegree.MTech)">@LMS_WebAPP_Utils.CommonMethods.Description((LMS_WebAPP_Utils.GraduationDegree.MTech))</option>
                                    <option value="@Convert.ToInt16(LMS_WebAPP_Utils.GraduationDegree.BCA)">@LMS_WebAPP_Utils.CommonMethods.Description((LMS_WebAPP_Utils.GraduationDegree.BCA))</option>
                                    <option value="@Convert.ToInt16(LMS_WebAPP_Utils.GraduationDegree.MCA)">@LMS_WebAPP_Utils.CommonMethods.Description((LMS_WebAPP_Utils.GraduationDegree.MCA))</option>
                                    <option value="@Convert.ToInt16(LMS_WebAPP_Utils.GraduationDegree.BSc)">@LMS_WebAPP_Utils.CommonMethods.Description((LMS_WebAPP_Utils.GraduationDegree.BSc))</option>
                                    <option value="@Convert.ToInt16(LMS_WebAPP_Utils.GraduationDegree.MBA)">@LMS_WebAPP_Utils.CommonMethods.Description((LMS_WebAPP_Utils.GraduationDegree.MBA))</option>
                                    <option value="@Convert.ToInt16(LMS_WebAPP_Utils.GraduationDegree.MS)">@LMS_WebAPP_Utils.CommonMethods.Description((LMS_WebAPP_Utils.GraduationDegree.MS))</option>
                                   
                                </select>

                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label style="margin-bottom: 0px;">Specialization <span style="color:red">*</span><span class="form-group has-error" style="display:none;margin-bottom: 0px;" id="divSpecializationError">
                            <label style="margin-bottom: 0px;" class="control-label" for="Specialization">
                            <i class="fa fa-times-circle-o"></i> Please select specialization
                            </label>
                            </span> </label>
                            <div>
                                <select id="ddlSpecialization" class="form-control specialization" style="width: 100%;">
                                    <option value="">Select</option>
                                    <option value="@Convert.ToInt16(LMS_WebAPP_Utils.Specialization.CSE)">@LMS_WebAPP_Utils.CommonMethods.Description((LMS_WebAPP_Utils.Specialization.CSE))</option>
                                    <option value="@Convert.ToInt16(LMS_WebAPP_Utils.Specialization.EEE)">@LMS_WebAPP_Utils.CommonMethods.Description((LMS_WebAPP_Utils.Specialization.EEE))</option>
                                    <option value="@Convert.ToInt16(LMS_WebAPP_Utils.Specialization.ECE)">@LMS_WebAPP_Utils.CommonMethods.Description((LMS_WebAPP_Utils.Specialization.ECE))</option>
                                    <option value="@Convert.ToInt16(LMS_WebAPP_Utils.Specialization.IT)">@LMS_WebAPP_Utils.CommonMethods.Description((LMS_WebAPP_Utils.Specialization.IT))</option>
                                    
                                </select>

                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label style="margin-bottom: 0px;">
                                College/University <span style="color:red">*</span><span class="form-group has-error" style="display:none" id="divCollegeError">
                                    <label style="margin-bottom: 0px;" class="control-label" for="College/University">
                                        <i class="fa fa-times-circle-o"></i> Please enter college/university
                                    </label>
                                </span>
                            </label>
                            <input type="text" class="form-control" id="txtUniversity" placeholder="Enter College/University">

                        </div>
                        <div class="form-group col-md-6">
                            <label style="margin-bottom: 0px;" for="educationFromDate">Duration</label>
                            <input type="text" class="form-control" id="educationDatePicker">
                        </div>

                    </div>
                    @*</form>*@

                </div>

                <div class="box box-success">
                    <div class="box-header with-border">
                        <h3 class="box-title">Experience Details(Last Employer Details)</h3>
                    </div>
                    <!-- /.box-header -->
                    <!-- form start -->
                    @*<form role="form">*@
                    <div class="box-body">
                        <div class="form-group col-md-6">
                            <label style="margin-bottom: 0px;" for="txtEmployer">Employer</label><span style="color:red">*</span><span class="form-group has-error" style="display:none" id="divEmployerError">
                            <label style="margin-bottom: 0px;" class="control-label">
                            <i class="fa fa-times-circle-o"></i> Please enter employer
                            </label>
                            </span>
                            <input type="text" class="form-control" id="txtEmployer" placeholder="Enter Employer">
                        </div>
                        <div class="form-group col-md-6">
                            <label style="margin-bottom: 0px;">Designation</label><span style="color:red">*</span><span class="form-group has-error" style="display:none" id="divEmpDesignationError">
                            <label style="margin-bottom: 0px;" class="control-label">
                            <i class="fa fa-times-circle-o"></i> Please select designation
                            </label>
                            </span>
                            <select class="form-control experienceDesignation" style="width: 100%;" id="ddlExperienceDesignation">
                                <option value="">Select</option>
                            </select>
                        </div>
                        <div class="form-group col-md-6">
                            <label style="margin-bottom: 0px;" for="ExpFromDate">From</label><span style="color:red">*</span><span class="form-group has-error" style="display:none" id="divFromError">
                            <label style="margin-bottom: 0px;" class="control-label">
                            <i class="fa fa-times-circle-o"></i> Please select from
                            </label>
                            </span>
                            <input type="text" class="form-control" id="experienceDatePicker">
                        </div>
                        <div class="form-group col-md-6">
                            <label style="margin-bottom: 0px;">Skills</label><span style="color:red">*</span><span class="form-group has-error" style="display:none" id="divSkillsError">
                                <label style="margin-bottom: 0px;" class="control-label">
                                    <i class="fa fa-times-circle-o"></i> Please select atleast one skill
                                </label>
                            </span>
                            <select id="ddlSkills" multiple="multiple" class="form-control skills" style="width: 100%;"></select>
                        </div>

                    </div>
                    <div class="box-footer">
                        <button type="submit" id="btnSubmitEmployeeDetails" class="btn" style="background-color:#222d32 !important;color:white">Submit</button>
                    </div>
                    @*</form>*@

                </div>
            </div>
        </div>

        <!-- /.row -->
</section>
<script src="../../plugins/iCheck/icheck.min.js"></script>
<script src="../../plugins/select2/select2.full.min.js"></script>
<script src="~/plugins/daterangepicker/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.11.2/moment.min.js"></script>
<script src="../../plugins/daterangepicker/daterangepicker.js"></script>
<script>

    var educationFromDate;
    var educationToDate;
    var experienceFromDate;
    var experienceToDate;
    var imgpath = "";
    var imgId;
    var levelValue='@Convert.ToInt32(LMS_WebAPP_Utils.HierarchyLevel.Level0)';
    $(document).ready(function () {
        $(function () {
            GetProjectsList();
            GetSkillsList();
            GetRolesList();
            //Initialize Select2 Elements
            $(".experienceDesignation").select2();
            $(".designation").select2().on('change',function(e){
                if ($("#ddlDesignation").val() !=" ") {
                    var designation = $("#ddlDesignation").val();
                    $("#ddlManagerName option").remove();
                    $("#ddlManagerName").append($('<option></option>').attr("value", '').text('Select'));
                    $.ajax({
                        cache: false,
                        type: 'post',
                        url: '/HR/GetManagerList?refDesignation=' + designation,
                        dataType: "json",
                        processData: false,
                        success: function (data) {
                            for (var i = 0; i < data.data.length; i++) {
                                $("#ddlManagerName").append($('<option></option>').attr("value", data.data[i].Id).text(data.data[i].FirstName));
                            }

                        }
                    });
                }
            });
            $(".graduation").select2();
            $(".specialization").select2();
            $(".skills").select2();
            $(".managerSelect").select2();
            //$(".level").select2().on('change', function (e) {


            //});
            $('#educationDatePicker').daterangepicker(
                   {
                       locale: {
                           format: 'DD/MM/YYYY'
                       }
                   });
            $('#experienceDatePicker').daterangepicker(
                  {
                      locale: {
                          format: 'DD/MM/YYYY'
                      }
                  });

            //Date picker
            $('#txtJoiningDate').datepicker({
                autoclose: true,
                format: 'dd/mm/yyyy'            });
            //Date picker
            $('#txtBirthday').datepicker({
                autoclose: true,
                format: 'dd/mm/yyyy'
            });
            function formatDate(date) {
                var mm = date.getMonth() + 1;
                var dd = date.getDate();
                var yyyy = date.getFullYear();
                mm = (mm < 10) ? '0' + mm : mm;
                return dd + "/" + mm + "/" + yyyy;
            }
            var today = (formatDate(new Date()));
            //$('#txtJoiningDate').val(today);
            $('#txtJoiningDate').datepicker('setDate', today);

            $('#educationDatepicker').on('change.daterangepicker', function (ev, picker) {
                var date = ev.target.value;
                var dates = [];
                dates = date.split('-');
                var start = dates[0].trim();
                var startDate = new Date(start);
                var startMonth = startDate.getMonth() + 1;
                educationFromDate = startDate.getFullYear() + "-" + startMonth + "-" + startDate.getDate();
                var end = dates[1].trim();
                var endDate = new Date(end);
                var endMonth = endDate.getMonth() + 1;
                educationToDate = endDate.getFullYear() + "-" + endMonth + "-" + endDate.getDate();
            });
            $('#educationDatePicker').on('apply.daterangepicker', function (ev, picker) {

                var start = picker.startDate;
                educationFromDate = start.format('YYYY-MM-DD');
                var end = picker.endDate;
                educationToDate = end.format('YYYY-MM-DD');
            });
            $('#experienceDatePicker').on('change.daterangepicker', function (ev, picker) {
                var date = ev.target.value;
                var dates = [];
                dates = date.split('-');
                var start = dates[0].trim();
                var startDate = new Date(start);
                var startMonth = startDate.getMonth() + 1;
                experienceFromDate = startDate.getFullYear() + "-" + startMonth + "-" + startDate.getDate();
                var end = dates[1].trim();
                var endDate = new Date(end);
                var endMonth = endDate.getMonth() + 1;
                experienceToDate = endDate.getFullYear() + "-" + endMonth + "-" + endDate.getDate();
                $("#divFromError").hide();
            });
            $('#experienceDatePicker').on('apply.daterangepicker', function (ev, picker) {

                var start = picker.startDate;
                experienceFromDate = start.format('YYYY-MM-DD');
                var end = picker.endDate;
                experienceToDate = end.format('YYYY-MM-DD');


            });
            $('#experienceDatePicker').val('');
        })


    });

    $('input[type="checkbox"].flat-red, input[type="radio"].flat-red').iCheck({
        checkboxClass: 'icheckbox_flat-green',
        radioClass: 'iradio_flat-green'
    });

    $(document).on('click', '#btnSubmitEmployeeDetails', function (e) {
        debugger
        if (($("#txtFirstName").val() == "") && ($("#txtLastName").val() == "") && ($("#txtEmail").val() == "") && ($("#txtEmployeeNumber").val() == "")  && ($("#txtBirthday").val() == "") && ($("#txtCity").val() == "") && ($("#txtCountry").val() == "") && ($("#txtTelephone").val() == "") && ($("#ddlDesignation").val() == 0) && ($("#ddlEmployeeType").val() == 0) && ($("#ddlManagerName").val() == 0) && ($("#ddlProjectName").val() == null) && ($("#ddlGraduation").val() == 0) && ($("#ddlSpecialization").val() == 0) && ($("#txtUniversity").val() == "") && ($("#txtEmployer").val() == "") && ($("#ddlExperienceDesignation").val() == 0) && ($("#ddlSkills").val()== null) && ($("#experienceDatePicker").val()== "")) {
            $("#divFirstNameError").show();
            $("#divLastNameError").show();
            $("#divEmailError").show();
            $("#divEmployeeNumberError").show();
            $("#divBirthDayError").show();
            $("#divCityError").show();
            $("#divCountryError").show();
            $("#divTelephoneError").show();
            $("#divDesignationError").show();
            $("#divEmployeeTypeError").show();
            $("#divManagerNameError").show();
            $("#divCollegeError").show();
            $("#divSkillsError").show();
            $("#divProjectNameError").show();
            $("#divGraduationError").show();
            $("#divSpecializationError").show();
            $("#divEmpDesignationError").show();
            $("#divEmployerError").show();
            $("#divFromError").show();
            $('#divInvalidEmailError').hide();
            $('#divEmployeeNumberAlreadyError').hide();
            $('#divEmailAlreadyError').hide();
            $("#txtFirstName").focus();
            return false;
        }

        if ($("#txtFirstName").val() == "") {
            $('#divFirstNameError').show();
            $("#txtFirstName").focus();
            return false;
        }
        if ($("#txtLastName").val() == "") {
            $('#divLastNameError').show();
            $("#txtLastName").focus();
            return false;
        }
        if ($("#txtEmail").val() == "") {
            $('#divEmailError').show();
            $('#divInvalidEmailError').hide();
            $('#divEmailAlreadyError').hide();
            $("#txtEmail").focus();
            return false;
        }
        var reg = /^\w+([-+.']\w+)*@Html.Raw("@")\w+([-.]\w+)*\.\w+([-.]\w+)*$/
        if (!(reg.test($("#txtEmail").val()))) {
            $('#divInvalidEmailError').show();
            $('#divEmailError').hide();
            $("#txtEmail").focus();
            return false;
        }
        else
        {
            $('#divInvalidEmailError').hide();
            $('#divEmailError').hide();
        }
        if ($("#txtEmployeeNumber").val() == "") {
            $('#divEmployeeNumberError').show();
            $('#divEmployeeNumberAlreadyError').hide();
            $("#txtEmployeeNumber").focus();
            return false;
        }
        if ($("#txtJoiningDate").val() == "") {
            $('#divDateOfJoiningError').show();
            $("#txtJoiningDate").focus();
            return false;
        }
        if ($("#txtBirthday").val() == "") {
            $('#divBirthDayError').show();
            $("#txtBirthday").focus();
            return false;
        }
        if ($("#txtCity").val() == "") {
            $('#divCityError').show();
            $("#txtCity").focus();
            return false;
        }
        if ($("#txtCountry").val() == "") {
            $('#divCountryError').show();
            $("#txtCountry").focus();
            return false;
        }
        if ($("#txtTelephone").val() == "") {
            $('#divTelephoneError').show();
            $("#txtTelephone").focus();
            return false;
        }
        if ($("#ddlDesignation").val() == 0) {
            $('#divDesignationError').show();
            $("#ddlDesignation").focus();
            return false;
        }
        if ($("#ddlEmployeeType").val() == 0) {
            $('#divEmployeeTypeError').show();
            $("#ddlEmployeeType").focus();
            return false;
        }
        if ($("#ddlManagerName").val() == 0) {
            $('#divManagerNameError').show();
            $("#ddlManagerName").focus();
            return false;
        }
        if ($("#ddlProjectName").val() == null) {
            $('#divProjectNameError').show();
            $("#ddlProjectName").focus();
            return false;
        }
        if ($("#ddlGraduation").val() == 0) {
            $('#divGraduationError').show();
            $("#ddlGraduation").focus();
            return false;
        }
        if ($("#ddlSpecialization").val() == 0) {
            $('#divSpecializationError').show();
            $("#ddlSpecialization").focus();
            return false;
        }
        if ($("#txtUniversity").val() == "") {
            $('#divCollegeError').show();
            $("#txtUniversity").focus();
            return false;
        }

        if (($("#txtEmployer").val() == "") && ($("#ddlEmployeeType").val() != (@Convert.ToInt16(LMS_WebAPP_Utils.EmployeeType.Fresher)))) {
            $('#divEmployerError').show();
            $("#txtEmployer").focus();
            return false;
        }
        if (($("#ddlExperienceDesignation").val() == 0) && ($("#ddlEmployeeType").val() != (@Convert.ToInt16(LMS_WebAPP_Utils.EmployeeType.Fresher)))) {
            $('#divEmpDesignationError').show();
            $("#ddlExperienceDesignation").focus();
            return false;
        }
        if (($("#experienceDatePicker").val()== "") && ($("#ddlEmployeeType").val() != (@Convert.ToInt16(LMS_WebAPP_Utils.EmployeeType.Fresher)))) {
            $('#divFromError').show();
            $("#experienceDatePicker").focus();
            return false;
        }

        if (($("#ddlSkills").val()== null) && ($("#ddlEmployeeType").val() != (@Convert.ToInt16(LMS_WebAPP_Utils.EmployeeType.Fresher)))){
            $('#divSkillsError').show();
            $("#ddlSkills").focus();
            return false;
        }

        var bDate = $("#txtBirthday").datepicker('getDate');
        var birthDate=bDate.toLocaleDateString();
        var joinDate=$("#txtJoiningDate").datepicker('getDate');
       // var joinDate=$("#txtJoiningDate").val();
        var dateOfJoining=joinDate.toLocaleDateString();

        var imagepath = imgpath != "" ? imgpath : "";
        var educationDetails = {
            Graduation: $("#ddlGraduation").val(),
            Institution: $("#txtUniversity").val(),
            FromDate: $("#educationDatePicker").val().split("-")[0].trim(),
            ToDate: $("#educationDatePicker").val().split("-")[1].trim(),
            Specialization: $("#ddlSpecialization").val(),
        }
        if($("#ddlEmployeeType").val() != (@Convert.ToInt16(LMS_WebAPP_Utils.EmployeeType.Fresher))) {
            debugger
            var experienceDetails = {
                CompanyName: $("#txtEmployer").val(),
                Role: $("#ddlExperienceDesignation").val(),
                FromDate: $("#experienceDatePicker").val().split("-")[0].trim(),
                ToDate: $("#experienceDatePicker").val().split("-")[1].trim(),
            }
        }
        else if($("#experienceDatePicker").val()!="")
        {
            var experienceDetails = {
                CompanyName: $("#txtEmployer").val(),
                Role: $("#ddlExperienceDesignation").val(),
                FromDate: $("#experienceDatePicker").val().split("-")[0].trim(),
                ToDate: $("#experienceDatePicker").val().split("-")[1].trim(),
                
            }
        }
      else
      {
        var experienceDetails = {
            CompanyName: $("#txtEmployer").val(),
            Role: $("#ddlExperienceDesignation").val(),
            FromDate: $("#experienceDatePicker").val(),
            ToDate: $("#experienceDatePicker").val(),
        }
          
        }

        var skills = [];
        if($("#ddlEmployeeType").val() != (@Convert.ToInt16(LMS_WebAPP_Utils.EmployeeType.Fresher))) {
            for (i = 0; i < $("#ddlSkills").val().length; i++) {
                skill = {
                    SkillName: $("#ddlSkills").val()[i]
                }
                skills.push(skill);
            }
        }
        else if($("#ddlSkills").val()!=null)
        {
            
            for (i = 0; i < $("#ddlSkills").val().length; i++) {
                skill = {
                    SkillName: $("#ddlSkills").val()[i]
                }
                skills.push(skill);
            }
        }
        else
        {
            skill = {
                SkillName: $("#ddlSkills").val()
            }
            skills.push(skill);
        }
        var projects = [];
        project = {
            Id:$("#ddlProjectName").val()
        }
        projects.push(project);

        var model = {
            FirstName: $("#txtFirstName").val(),
            LastName: $("#txtLastName").val(),
            Email: $("#txtEmail").val(),
            DateOfBirth:birthDate,
            RoleId: $("#ddlDesignation").val(),
            Skills: skills,
            EmployeeNumber: $("#txtEmployeeNumber").val(),
            City: $("#txtCity").val(),
            Country: $("#txtCountry").val(),
            Telephone: $("#txtTelephone").val(),
            //RefHierarchyLevel: $("#ddlLevel").val(),
            DateOfJoining: dateOfJoining,
            ManagerId: $("#ddlManagerName").val(),
            EmployeeType: $("#ddlEmployeeType").val(),
            RefProfileType:$('input[name=r1]:checked').val(),
            Projects:projects,
            Imagepath: imagepath,
            EmployeeEducation: [educationDetails],
            EmployeeExperience:[experienceDetails]
        };


        var empNumber = $("#txtEmployeeNumber").val();
        var employeeMailid = $("#txtEmail").val();
        $.ajax({
            cache: false,
            type: 'get',
            url: '/HR/CheckEmployeeMail',
            data: { employeeMailid: employeeMailid},
            contentType: "application/json",
            success: function (data) {
                debugger
                if(data=="True")
                {
                    $('#divEmailError').hide();
                    $('#divEmailAlreadyError').show();
                    $("#txtEmail").focus();
                    return false;
                }
                else
                {
                    $('#divEmailAlreadyError').hide();
                    $.ajax({
                        cache: false,
                        type: 'get',
                        url: '/HR/CheckEmployeeNumber',
                        data: { empNumber: empNumber},
                        contentType: "application/json",
                        success: function (data) {
                            if(data=="True")
                            {
                                $('#divEmployeeNumberError').hide();
                                $('#divEmployeeNumberAlreadyError').show();
                                $("#txtEmployeeNumber").focus();
                                return false;
                            }
                            else
                            {
                                $('#divEmployeeNumberAlreadyError').hide();
                                $.ajax({
                                    cache: false,
                                    type: 'post',
                                    url: '/HR/SubmitEmployeeDetails',
                                    data: JSON.stringify(model),
                                    contentType: "application/json",
                                    dataType: "json",
                                    processData:false,
                                    success: function (data) {
                                        localStorage.setItem("EmployeeAdded", 1);
                                        window.location.href = "/HR/EmployeeDetails";
                                    }
                                });

                            }
                
                        }

                    });
                }

            }
        });
        
        

        
        
    }
   );

    function ValidateAndUploadImage()
    {
        
        var file = document.getElementById("employeeImage").value;
        imgPath = document.getElementById("employeeImage").files[0].name;

        var reader = new FileReader();

        reader.onload = function (e) {
            $('#empImageDisplay')
                .attr('src', e.target.result)
                .width(150)
                .height(200);
        };
        reader.readAsDataURL(document.getElementById("employeeImage").files[0]);

        var fileUpload = $("#employeeImage").get(0);
        var files = fileUpload.files;
        var test = new FormData();
        for (var i = 0; i < files.length; i++) {
            test.append(files[i].name, files[i]);
        }
        $.ajax({
            url: "../ImageUploadHandler.ashx",
            type: "POST",
            contentType: false,
            processData: false,
            data: test,
            // dataType: "json",
            success: function (result) {
                imgpath = result;
                //alert(result);
            },
            error: function (err) {
                //alert(err.statusText);
            }
        });

    }

    function GetProjectsList()
    {
        $.ajax({
            cache: false,
            type: 'post',
            url: '/HR/GetProjectsList',
            contentType: "application/json",
            dataType: "json",
            success: function (data) {
                for (var i = 0; i < data.data.length; i++) {
                    $("#ddlProjectName").append($('<option></option>').attr("value", data.data[i].Id).text(data.data[i].ProjectName));
                    $("#ddlProjectName").val(0);
                }
            }
        });
    }
    function GetSkillsList() {
        $.ajax({
            cache: false,
            type: 'post',
            url: '/HR/GetSkillsList',
            contentType: "application/json",
            dataType: "json",
            success: function (data) {
                for (var i = 0; i < data.data.length; i++) {
                    $("#ddlSkills").append($('<option></option>').attr("value", data.data[i].SkillName).text(data.data[i].SkillName));
                }
            }
        });
    }

    function GetRolesList() {
        $.ajax({
            cache: false,
            type: 'post',
            url: '/HR/GetRolesList',
            contentType: "application/json",
            dataType: "json",
            success: function (data) {
                for (var i = 0; i < data.data.length; i++) {
                    $("#ddlDesignation").append($('<option></option>').attr("value", data.data[i].Id).text(data.data[i].Value));
                    $("#ddlExperienceDesignation").append($('<option></option>').attr("value", data.data[i].Value).text(data.data[i].Value));
                }
            }
        });
    }

    $("#txtFirstName").keypress(function (e) {
        $('#divFirstNameError').hide();
    });
    $("#txtEmployer").keypress(function (e) {
        $('#divEmployerError').hide();
    });
    $("#txtLastName").keypress(function (e) {
        $('#divLastNameError').hide();
    });
    $("#txtEmail").keypress(function (e) {
        $('#divEmailAlreadyError').hide();
        $('#divEmailError').hide();
    });
    $("#txtEmployeeNumber").keypress(function (e) {
        $('#divEmployeeNumberError').hide();
        $('#divEmployeeNumberAlreadyError').hide();
    });
    $("#txtCity").keypress(function (e) {
        $('#divCityError').hide();
    });
    $("#txtCountry").keypress(function (e) {
        $('#divCountryError').hide();
    });
    $("#txtTelephone").keypress(function (e) {
        $('#divTelephoneError').hide();
    });
    $("#txtUniversity").keypress(function (e) {
        $('#divCollegeError').hide();
    });
    $('#ddlSkills').on('change', function () {
        if ($("#ddlSkills").val() != 0) {
            $("#divSkillsError").hide();
        }
        else {
            $("#divSkillsError").show();
        }
    });

    $('#ddlDesignation').on('change', function () {
        if ($("#ddlDesignation").val() != 0) {
            $("#divDesignationError").hide();
        }
        else {
            $("#divDesignationError").show();
        }
    });

    $('#ddlEmployeeType').on('change', function () {
        debugger
        if ($("#ddlEmployeeType").val() != 0) {
            $("#divEmployeeTypeError").hide();
            if ($("#ddlEmployeeType").val() == (@Convert.ToInt16(LMS_WebAPP_Utils.EmployeeType.Fresher))) {
                $("#divEmpDesignationError").hide();
                $("#divEmployerError").hide();
                $("#divFromError").hide();
                $("#divSkillsError").hide();
            }
            else
            {
                $("#divEmpDesignationError").show();
                $("#divEmployerError").show();
                $("#divFromError").show();
                $("#divSkillsError").show();
            }
        }
        else {
            $("#divEmployeeTypeError").show();
        }
    });



    $('#ddlManagerName').on('change', function () {
        if ($("#ddlManagerName").val() != 0) {
            $("#divManagerNameError").hide();
        }
        else {
            $("#divManagerNameError").show();
        }
    });

    $('#ddlProjectName').on('change', function () {
        if ($("#ddlProjectName").val() != 0) {
            $("#divProjectNameError").hide();
        }
        else {
            $("#divProjectNameError").show();
        }
    });

    $('#ddlGraduation').on('change', function () {
        if ($("#ddlGraduation").val() != 0) {
            $("#divGraduationError").hide();
        }
        else {
            $("#divGraduationError").show();
        }
    });

    $('#ddlSpecialization').on('change', function () {
        if ($("#ddlSpecialization").val() != 0) {
            $("#divSpecializationError").hide();
        }
        else {
            $("#divSpecializationError").show();
        }
    });

    $('#ddlExperienceDesignation').on('change', function () {
        if ($("#ddlExperienceDesignation").val() != 0) {
            $("#divEmpDesignationError").hide();
        }
        else {
            $("#divEmpDesignationError").show();
        }
    });

    $('#txtJoiningDate').on('change.datepicker', function (ev, picker) {
        $('#divDateOfJoiningError').hide();
    });

    $('#txtBirthday').on('change.datepicker', function (ev, picker) {
        $('#divBirthDayError').hide();
    });

</script>