@model LMS_WebAPP_Domain.EmployeeDetailsModel
@{
    ViewBag.Title = "AddEmployeeDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var model = Model;
}

@*<h2>Add Employee Details</h2>*@
<link rel="stylesheet" href="../../plugins/iCheck/all.css">
<link rel="stylesheet" href="../../plugins/select2/select2.min.css">
<link rel="stylesheet" href="../../dist/css/AdminLTE.min.css">
<section class="content">
    <div class="row">

        <div class="col-md-12">
            <!-- general form elements -->
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Employee Info</h3>
                </div>
                <!-- /.box-header -->
                <!-- form start -->
                @*<form role="form">*@
                <div class="box-body">
                    <div class="form-group col-md-6">
                        <img class="profile-user-img img-responsive" style="width:150px;height:200px" id="empImageDisplay" src="~/Content/Images/DefaultImage.png" alt="User profile picture">

                        <div class="text-center" style="padding-top:10px">
                            <label class="btn btn-info"><i class="fa fa-upload"></i><input id="employeeImage" type="file" style="display:none" onchange="ValidateAndUploadImage()" /> Upload</label>
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="txtFirstName">FirstName</label>
                        <input type="text" class="form-control" id="txtFirstName" placeholder="First Name">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="txtlastname">LastName</label>
                        <input type="text" class="form-control" id="txtLastName" placeholder="Last Name">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="txtEmail">Email</label>
                        <input type="email" class="form-control" id="txtEmail" placeholder="Enter Email">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="txtEmployeeNumber">Employee Number</label>
                        <input type="email" class="form-control" id="txtEmployeeNumber" placeholder="Employee Number">
                    </div>
                        <div class="form-group col-md-6">
                            <label for="txtJoiningDate">Date Of Joining</label>
                            <input type="text" class="form-control" id="txtJoiningDate">
                        </div>
                    @*<div class="form-group col-md-6">
                        <label for="txtGender">Gender</label>
                        <div>
                            <input type="radio" name="gender" class="flat-red" value="Male">&nbsp; Male
                            <input type="radio" name="gender" class="flat-red" value="Female">&nbsp; Female
                        </div>
                    </div>*@
                    <div class="form-group col-md-6">
                        <label for="txtBirthday">BirthDay</label>
                        <input type="text" class="form-control" id="txtBirthday">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="txtCity">City</label>
                        <input type="text" class="form-control" id="txtCity" placeholder="City">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="txtCountry">Country</label>
                        <input type="text" class="form-control" id="txtCountry" placeholder="Country">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="txtTelephone">Telephone</label>
                        <input type="tel" class="form-control" id="txtTelephone" placeholder="Telephone">
                    </div>
                    @*<div class="form-group">
                            <label for="exampleInputPassword1">Password</label>
                            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Enter Email">
                        </div>*@

                    <div class="form-group col-md-6">
                        <label for="ddlDesignation">Designation</label>
                            <select class="form-control select2" style="width: 100%;" id="ddlDesignation">
                                <option value="">Select</option>
                                <option value="@Convert.ToInt16(LMS_WebAPP_Utils.EmployeeRole.Manager)">@LMS_WebAPP_Utils.CommonMethods.Description((LMS_WebAPP_Utils.EmployeeRole.Manager))</option>
                                <option value="@Convert.ToInt16(LMS_WebAPP_Utils.EmployeeRole.Employee)">@LMS_WebAPP_Utils.CommonMethods.Description((LMS_WebAPP_Utils.EmployeeRole.Employee))</option>
                            </select>
                    </div>
                    <div class="form-group col-md-6">
                        <label>Level</label>
                            <select class="form-control select2" style="width: 100%;" id="ddlLevel">
                                <option value="">Select</option>
                                <option value="@Convert.ToInt16(LMS_WebAPP_Utils.HierarchyLevel.Level0)">@LMS_WebAPP_Utils.CommonMethods.Description((LMS_WebAPP_Utils.HierarchyLevel.Level0))</option>
                                <option value="@Convert.ToInt16(LMS_WebAPP_Utils.HierarchyLevel.Level1)">@LMS_WebAPP_Utils.CommonMethods.Description((LMS_WebAPP_Utils.HierarchyLevel.Level1))</option>
                                <option value="@Convert.ToInt16(LMS_WebAPP_Utils.HierarchyLevel.Level2)">@LMS_WebAPP_Utils.CommonMethods.Description((LMS_WebAPP_Utils.HierarchyLevel.Level2))</option>
                                <option value="@Convert.ToInt16(LMS_WebAPP_Utils.HierarchyLevel.Level3)">@LMS_WebAPP_Utils.CommonMethods.Description((LMS_WebAPP_Utils.HierarchyLevel.Level3))</option>
                                <option value="@Convert.ToInt16(LMS_WebAPP_Utils.HierarchyLevel.Level4)">@LMS_WebAPP_Utils.CommonMethods.Description((LMS_WebAPP_Utils.HierarchyLevel.Level4))</option>
                                <option value="@Convert.ToInt16(LMS_WebAPP_Utils.HierarchyLevel.Level5)">@LMS_WebAPP_Utils.CommonMethods.Description((LMS_WebAPP_Utils.HierarchyLevel.Level5))</option>
                            </select>
                    </div>
                    <div class="form-group col-md-6" id="ddlManager">
                        <label for="ddlManagerName">Manager Name</label>
                    
                            <select class="form-control select2" style="width: 100%;" id="ddlManagerName">
                                <option value="">Select</option>
                                <option>Girija</option>
                                <option>Lalith</option>
                            </select>
                   
                    </div>

                </div>
                <!-- /.box-body -->
                @*</form>*@
            </div>
        </div>
        <div class="col-md-12">
            <!-- general form elements -->
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Education Details(Highest Degree)</h3>
                </div>
                <!-- /.box-header -->
                <!-- form start -->
                @*<form role="form">*@
                <div class="box-body">
                    <div class="form-group col-md-6">
                        <label for="exampleInputEmail1">Graduation</label>
                        <div>
                            <select id="ddlGraduation" class="form-control select2" style="width: 100%;">
                                <option>BTech</option>
                                <option>MTech</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="exampleInputPassword1">Specialization</label>
                        <div>
                            <select id="ddlSpecialization" class="form-control select2" style="width: 100%;">
                                <option>CSE</option>
                                <option>EEE</option>
                                <option>ECE</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="exampleInputPassword1">College/University</label>
                        <input type="text" class="form-control" id="txtUniversity" placeholder="Enter Email">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="educationFromDate">Duration</label>
                        <input type="text" class="form-control" id="educationDatePicker">
                    </div>

                </div>
                @*</form>*@

            </div>

            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Experience Details(Last Employer Details)</h3>
                </div>
                <!-- /.box-header -->
                <!-- form start -->
                @*<form role="form">*@
                <div class="box-body">
                    <div class="form-group col-md-6">
                        <label for="txtEmployer">Employer</label>
                        <input type="text" class="form-control" id="txtEmployer" placeholder="Enter Email">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="txtDesignation">Designation</label>
                        <input type="text" class="form-control" id="txtDesignation" placeholder="Enter Email">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="ExpFromDate">From</label>
                        <input type="text" class="form-control" id="experienceDatePicker">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="ddlSkills">Skills</label>
                        <select id="ddlSkills" multiple="multiple" class="form-control select2" style="width: 100%;">
                            <option>.Net</option>
                            <option>Java</option>
                            <option>Html</option>
                        </select>
                    </div>

                </div>
                <div class="box-footer">
                    <button type="submit" id="btnSubmitEmployeeDetails" class="btn btn-primary">Submit</button>
                </div>
                @*</form>*@

            </div>
        </div>
    </div>

    <!-- /.row -->
</section>
<script src="../../plugins/iCheck/icheck.min.js"></script>
<script src="../../plugins/select2/select2.full.min.js"></script>
<script src="~/plugins/daterangepicker/moment.min.js"></script>
@*<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.11.2/moment.min.js"></script>*@
<script src="../../plugins/daterangepicker/daterangepicker.js"></script>
<script>
    var educationFromDate;
    var educationToDate;
    var experienceFromDate;
    var experienceToDate;
    $(document).ready(function () {
                $(function () {
            //Initialize Select2 Elements
            $(".select2").select2().on('change', function (e) {
                debugger
                if ($("#ddlLevel").val() == 13) {
                    $("#ddlManager").hide();
                }
                else {
                    $("#ddlManager").show();
                }
            });
            $('#educationDatePicker').daterangepicker(
                   {
                   });
            $('#experienceDatePicker').daterangepicker(
                  {
                  });
                    //Date picker
            $('#txtJoiningDate').datepicker({
                autoclose: true
            });
                    //Date picker
            $('#txtBirthday').datepicker({
                autoclose: true
            });
            
            $('#educationDatepicker').on('change.daterangepicker', function (ev, picker) {
                var date = ev.target.value;
                var dates = [];
                dates = date.split('-');
                var start = dates[0].trim();
                var startDate = new Date(start);
                var startMonth = startDate.getMonth() + 1;
                educationFromDate = startDate.getFullYear() + "-" + startMonth + "-" + startDate.getDate();
                var end = dates[1].trim();
                var endDate = new Date(end);
                var endMonth = endDate.getMonth() + 1;
                educationToDate = endDate.getFullYear() + "-" + endMonth + "-" + endDate.getDate();
                //toDate = end.toString("YYYY-MM-DD");
                //var days = (endDate - startDate) / (1000 * 60 * 60 * 24);
                //days += 1;
                //var weekend_count = 0;
                //for (i = startDate.valueOf() ; i <= endDate.valueOf() ; i += 86400000) {
                //    var temp = new Date(i);
                //    if (temp.getDay() == 0 || temp.getDay() == 6) {
                //        weekend_count++;
                //    }
                //}
                //days = days - weekend_count;
                //$("#lblTotalWorkingDays").html(Math.round(days));
            });
            $('#educationDatePicker').on('apply.daterangepicker', function (ev, picker) {

                var start = picker.startDate;
                educationFromDate = start.format('YYYY-MM-DD');
                var end = picker.endDate;
                educationToDate = end.format('YYYY-MM-DD');
                //var days = (end - start) / (1000 * 60 * 60 * 24);

                //var weekend_count = 0;
                //for (i = start.valueOf() ; i <= end.valueOf() ; i += 86400000) {
                //    var temp = new Date(i);
                //    if (temp.getDay() == 0 || temp.getDay() == 6) {
                //        weekend_count++;
                //    }
                //}
                //days = days - weekend_count
                //$("#lblTotalWorkingDays").html(Math.round(days));
            });
            $('#experienceDatePicker').on('change.daterangepicker', function (ev, picker) {
                var date = ev.target.value;
                var dates = [];
                dates = date.split('-');
                var start = dates[0].trim();
                var startDate = new Date(start);
                var startMonth = startDate.getMonth() + 1;
                experienceFromDate = startDate.getFullYear() + "-" + startMonth + "-" + startDate.getDate();
                var end = dates[1].trim();
                var endDate = new Date(end);
                var endMonth = endDate.getMonth() + 1;
                experienceToDate = endDate.getFullYear() + "-" + endMonth + "-" + endDate.getDate();
                //toDate = end.toString("YYYY-MM-DD");
                //var days = (endDate - startDate) / (1000 * 60 * 60 * 24);
                //days += 1;
                //var weekend_count = 0;
                //for (i = startDate.valueOf() ; i <= endDate.valueOf() ; i += 86400000) {
                //    var temp = new Date(i);
                //    if (temp.getDay() == 0 || temp.getDay() == 6) {
                //        weekend_count++;
                //    }
                //}
                //days = days - weekend_count;
                //$("#lblTotalWorkingDays").html(Math.round(days));
            });
            $('#experienceDatePicker').on('apply.daterangepicker', function (ev, picker) {

                var start = picker.startDate;
                experienceFromDate = start.format('YYYY-MM-DD');
                var end = picker.endDate;
                experienceToDate = end.format('YYYY-MM-DD');
                //var days = (end - start) / (1000 * 60 * 60 * 24);

                //var weekend_count = 0;
                //for (i = start.valueOf() ; i <= end.valueOf() ; i += 86400000) {
                //    var temp = new Date(i);
                //    if (temp.getDay() == 0 || temp.getDay() == 6) {
                //        weekend_count++;
                //    }
                //}
                //days = days - weekend_count
                //$("#lblTotalWorkingDays").html(Math.round(days));
            });
        })
    });

    $('input[type="checkbox"].flat-red, input[type="radio"].flat-red').iCheck({
        checkboxClass: 'icheckbox_flat-green',
        radioClass: 'iradio_flat-green'
    });

    $(document).on('click', '#btnSubmitEmployeeDetails', function (e) {
        debugger;
        var educationDetails = {

            Graduation: $("#ddlGraduation").val(),
            Institution: $("#txtUniversity").val(),
            FromDate:educationFromDate,
            ToDate: educationToDate
        }
        var experienceDetails = {

            CompanyName: $("#txtEmployer").val(),
            Role: $("#txtDesignation").val(),
            FromDate: experienceFromDate,
            ToDate: experienceToDate
        }
        var model = {
            FirstName: $("#txtFirstName").val(),
            LastName: $("#txtLastName").val(),
            Email: $("#txtEmail").val(),
            DateOfBirth: $("#txtBirthday").val(),
            RoleId: $("#ddlDesignation").val(),
            Skills: $("#ddlSkills").val(),
            EmployeeNumber: $("#txtEmployeeNumber").val(),
            City: $("#txtCity").val(),
            Country: $("#txtCountry").val(),
            Telephone: $("#txtTelephone").val(),
            RefHierarchyLevel: $("#ddlLevel").val(),
            DateOfJoining: $("#txtJoiningDate").val(),
            ManagerName: $("#ddlManagerName").val(),
            Imagepath: imgPath,
            EmployeeEducation: [educationDetails],
            EmployeeExperience:[experienceDetails]
        };
        $.ajax({
            cache: false,
            type: 'post',
            url: '/HR/SubmitEmployeeDetails',
            data: JSON.stringify(model),
            contentType: "application/json",
            dataType: "json",
            processData:false,
            success: function (data) {
                localStorage.setItem("leaveDeleted", 1);
                location.reload();
            }
        });
    }
   );
    var imgpath = "";
    var size = "";
    var type = "";
    function ValidateAndUploadImage()
    {  
        var file = document.getElementById("employeeImage").value;
        imgPath = document.getElementById("employeeImage").files[0].name;
        size = document.getElementById("employeeImage").files[0].size;
        type = document.getElementById("employeeImage").files[0].type;

        var reader = new FileReader();

        reader.onload = function (e) {
            $('#empImageDisplay')
                .attr('src', e.target.result)
                .width(150)
                .height(200);
        };
        reader.readAsDataURL(document.getElementById("employeeImage").files[0]);

        var fileUpload = $("#employeeImage").get(0);
                var files = fileUpload.files;
                var test = new FormData();
                for (var i = 0; i < files.length; i++) {
                    test.append(files[i].name, files[i]);
                }
                $.ajax({
                    url: "../ImageUploadHandler.ashx",
                    type: "POST",
                    contentType: false,
                    processData: false,
                    data: test,
                    // dataType: "json",
                    success: function (result) {
                        //alert(result);
                    },
                    error: function (err) {
                        //alert(err.statusText);
                    }
                });

    }


</script>