
@{
    ViewBag.Title = "Add Master Data";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/plugins/Toastr/toastr.css" rel="stylesheet" />
  <!-- Select2 -->
<link rel="stylesheet" href="../../plugins/select2/select2.min.css">
<section class="content-header">
    <h1>Add Master Data</h1>
</section>
<section class="content">
    <div class="row">

        <div class="col-md-12">
            <!-- general form elements -->
            <div class="box box-success">
                <!-- /.box-header -->
           
                <div class="box-body">

                    <div class="form-group">
                        <label for="txtFirstName">Master Data Type <span style="color:red">*</span></label>
                        <select id="ddlMasterData" class="form-control masterDataSelect" style="width: 100%;">
                            <option value="0">Select</option>
                      
                              <option value="@Convert.ToInt16(LMS_WebAPP_Utils.MasterDataType.ProjectName)">@(LMS_WebAPP_Utils.CommonMethods.Description(LMS_WebAPP_Utils.MasterDataType.ProjectName))</option>
                            <option value="@Convert.ToInt16(LMS_WebAPP_Utils.MasterDataType.Skills)">@(LMS_WebAPP_Utils.CommonMethods.Description(LMS_WebAPP_Utils.MasterDataType.Skills))</option>
                            <option value="@Convert.ToInt16(LMS_WebAPP_Utils.MasterDataType.Role)">@(LMS_WebAPP_Utils.CommonMethods.Description(LMS_WebAPP_Utils.MasterDataType.Role))</option>


                        </select>
                        <div class="form-group has-error" style="display:none" id="divMasterDataTypeError">
                            <label class="control-label" for="MasterDataType">
                                <i class="fa fa-times-circle-o"></i> Please select master data type
                            </label>
                        </div>
                    </div>
                    <div class="form-group" id="divMasterDataValue">
                        <label>Master Data Value <span style="color:red">*</span></label>
                        <input type="text" class="form-control" id="txtMasterDataValue" placeholder="Value">
                        <div class="form-group has-error" style="display:none" id="divMasterDataValueError">
                            <label class="control-label" for="MasterDataValue">
                                <i class="fa fa-times-circle-o"></i> Please select master data value
                            </label>
                        </div>
                    </div>
                    <div id="divProjectInfo" style="display:none">
                        <div class="form-group">
                            <label>Project Name <span style="color:red">*</span></label>
                            <input type="text" class="form-control" id="txtProjectName" placeholder="Project Name">
                            <div class="form-group has-error" style="display:none" id="divProjectNameError">
                                <label class="control-label" for="ProjectName">
                                    <i class="fa fa-times-circle-o"></i> Please enter project name
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Description <span style="color:red">*</span></label>
                            <input type="text" class="form-control" id="txtProjectDescription" placeholder="Project Description">
                            <div class="form-group has-error" style="display:none" id="divDescriptionError">
                                <label class="control-label" for="Description">
                                    <i class="fa fa-times-circle-o"></i> Please enter description
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Technology <span style="color:red">*</span></label>
                            <input type="text" class="form-control" id="txtTechnology" placeholder="Technology">
                            <div class="form-group has-error" style="display:none" id="divTechnologyError">
                                <label class="control-label" for="Technology">
                                    <i class="fa fa-times-circle-o"></i> Please enter technology
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Start Date <span style="color:red">*</span></label>
                            <input type="text" class="form-control" id="txtStartDate">
                            <div class="form-group has-error" style="display:none" id="divStartDateError">
                                <label class="control-label" for="StartDate">
                                    <i class="fa fa-times-circle-o"></i> Please select start date
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Manager <span style="color:red">*</span></label>
                            <select class="form-control managerSelect" style="width: 100%;" id="ddlManagerName">
                                <option value="">Select</option>
                            </select>
                            <div class="form-group has-error" style="display:none" id="divManagerError">
                                <label class="control-label" for="Manager">
                                    <i class="fa fa-times-circle-o"></i> Please select manager
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box-footer">
                    <button type="submit" id="btnSubmitMasterData" style="background-color:black !important" class="btn btn-primary">Submit</button>
                    <button type="submit" id="btnProjectInfoSubmit" class="btn btn-primary" style="display:none;background-color:black !important">Submit</button>
                </div>

            </div>
        </div>
    </div>

    <!-- /.row -->
</section>
<script src="../../plugins/Toastr/toastr.js"></script>
<script src="../../plugins/select2/select2.full.min.js"></script>
<script>
    $(document).ready(function () {
        $('#addMasterData').parent().addClass('active');
        $(function () {
            $('#txtStartDate').datepicker({
                autoclose: true
            });
            $(".masterDataSelect").select2();
            $(".managerSelect").select2();
        });
    });
    $(document).on('change', "#ddlMasterData", function (e) {
        if($("#ddlMasterData").val()==2)
        {
            $("#ddlManagerName").html("");
            $("#ddlManagerName").append($('<option></option>').attr("value",0).text("Select"));
          var designation= @Convert.ToInt16(LMS_WebAPP_Utils.EmployeeRole.InternOrFresher);
            $.ajax({
                cache: false,
                type: 'post',
                url: '/HR/GetManagerList',
                data:{refDesignation:designation},
                 dataType: "json",
                success: function (data) {
                    for (var i = 0; i < data.data.length; i++) {
                        $("#ddlManagerName").append($('<option></option>').attr("value", data.data[i].Id).text(data.data[i].FirstName));
                    }
                }
            });
            $("#divMasterDataValue").hide();
            $("#divProjectInfo").show();
            $("#btnProjectInfoSubmit").show();
            $("#btnSubmitMasterData").hide();
        }
        else
        {
            $("#divMasterDataValue").show();
            $("#divProjectInfo").hide();
            $("#btnProjectInfoSubmit").hide();
            $("#btnSubmitMasterData").show();
        }
    });

    $(document).on('click', "#btnSubmitMasterData", function (e) {

        if (($("#ddlMasterData").val() == 0) && ($("#txtMasterDataValue").val() == "")) {
            $("#divMasterDataTypeError").show();
            $("#divMasterDataValueError").show();
            return false;
        }
        if ($("#ddlMasterData").val() == 0) {
            $("#divMasterDataTypeError").show();
            return false;
        }
        if ($("#txtMasterDataValue").val() == "") {
            $("#divMasterDataValueError").show();
            return false;
        }

        if ($("#ddlMasterData").val() == 0 || $("#txtMasterDataValue").val() == "")
        {
            showMessage("Enter all the fields", "2", true);
            return false;
        }
        $("#Loading").show();
        $.ajax({
            cache: false,
            type: 'post',
            url: '/HR/CheckForExistingMasterDataValues',
            data: { masterDataType: $("#ddlMasterData").val(), masterDataValue: $("#txtMasterDataValue").val() },
            dataType: "json",
            success: function (data) {
                if(!data.result)
                {
                    $.ajax({
                        cache: false,
                        type: 'post',
                        url: '/HR/AddNewMasterDataValues',
                        data: { masterDataType: $("#ddlMasterData").val(), masterDataValue: $("#txtMasterDataValue").val() },
                        dataType: "json",
                        success: function (data) {
                            $("#ddlMasterData").val(0).trigger("change");
                            $("#txtMasterDataValue").val("");
                            showMessage("Master data value added successfully", "1", true);
                            $("#Loading").hide();
                        }
                    });
                }
                else
                {
                    showMessage("Value already exists", "2",true);
                    $("#Loading").hide();
                    return false;
                }
                $("#divMasterDataTypeError").hide();
                $('#divMasterDataValueError').hide();
            }
        });
    });

    $(document).on('click', "#btnProjectInfoSubmit", function (e) {

        if (($("#txtProjectName").val() == "") && ($("#txtProjectDescription").val() == "") && ($("#txtTechnology").val() == "") && ($("#txtStartDate").val() == "") && ($("#ddlManagerName").val() == 0)) {
            $("#divProjectNameError").show();
            $("#divDescriptionError").show();
            $("#divTechnologyError").show();
            $("#divStartDateError").show();
            $("#divManagerError").show();
            return false;
        }
        if (($("#txtProjectDescription").val() == "") && ($("#txtTechnology").val() == "") && ($("#txtStartDate").val() == "") && ($("#ddlManagerName").val() == 0)) {
            $("#divDescriptionError").show();
            $("#divTechnologyError").show();
            $("#divStartDateError").show();
            $("#divManagerError").show();
            return false;
        }
        if (($("#txtTechnology").val() == "") && ($("#txtStartDate").val() == "") && ($("#ddlManagerName").val() == 0)) {
            $("#divTechnologyError").show();
            $("#divStartDateError").show();
            $("#divManagerError").show();
            return false;
        }
        if (($("#txtStartDate").val() == "") && ($("#ddlManagerName").val() == 0)) {
            $("#divStartDateError").show();
            $("#divManagerError").show();
            return false;
        }
        if ($("#txtProjectName").val() == 0) {
            $("#divProjectNameError").show();
            return false;
        }
        if ($("#txtProjectDescription").val() == "") {
            $("#divDescriptionError").show();
            return false;
        }
        if ($("#txtTechnology").val() == "") {
            $("#divTechnologyError").show();
            return false;
        }
        if ($("#txtStartDate").val() == "") {
            $("#divStartDateError").show();
            return false;
        }
        if ($("#ddlManagerName").val() == 0) {
            $("#divManagerError").show();
            return false;
        }


        if($("#txtProjectName").val()=="" || $("#txtProjectDescription").val()=="" || $("#txtTechnology").val()=="" || $("#txtStartDate").val()==""||  $("#ddlManagerName").val()=="" )
        {
            showMessage("Enter all fields","2",true);
            return false;
        }
        $("#Loading").show();
        $.ajax({
            cache: false,
            type: 'post',
            url: '/HR/CheckForExistingProjectMasterDataValues',
            data: { projectName: $("#txtProjectName").val(),technology:$("#txtTechnology").val(),refManager: $("#ddlManagerName").val() },
            dataType: "json",
            success: function (data) {
                if (!data.result) {
                    $.ajax({
                        cache: false,
                        type: 'post',
                        url: '/HR/AddNewProjectInfo',
                        data: { projectName: $("#txtProjectName").val(), description: $("#txtProjectDescription").val(), technology: $("#txtTechnology").val(), startDate: $("#txtStartDate").val(), refManager: $("#ddlManagerName").val() },
                        dataType: "json",
                        success: function (data) {
                            $("#divMasterDataValue").show();
                            $("#divProjectInfo").hide();
                            $("#btnProjectInfoSubmit").hide();
                            $("#btnSubmitMasterData").show();
                            $("#ddlMasterData").val(0).trigger("change");
                            $("#txtProjectName").val("");
                            $("#txtProjectDescription").val("");
                            $("#txtTechnology").val("");
                            $("#ddlManagerName").val(0);
                            $("#txtStartDate").val("");
                            $("#txtMasterDataValue").val("");
                            showMessage("Project details added successfully", "1", true);
                            $("#Loading").hide();
                        }
                    });
                }
                else {
                    showMessage("Value already exists", "2", true);
                    $("#Loading").hide();
                    return false;
                }
                $("#divMasterDataTypeError").hide();
                $('#divMasterDataValueError').hide();

            }
        });
    });

    function showMessage(message, Type, fadeOut) {
        //To clear existing toastr
        toastr.clear();
        //fadeOut = false;
        var position = "bottom-full-width";
        toastr.options.positionClass = 'toast-' + position;
        if (typeof fadeOut !== "undefined" && fadeOut == false) { toastr.options.timeOut = 0; }
        else {
            toastr.options.timeOut = 5000;
        }
        switch (Type) {
            case "1":
                toastr.success(message);
                break;
            case "2":
                toastr.error(message);
                break;
        }
    }

    $("#txtProjectName").keypress(function (e) {
        $('#divProjectNameError').hide();
    });

    $("#txtProjectDescription").keypress(function (e) {
        $('#divDescriptionError').hide();
    });

    $("#txtTechnology").keypress(function (e) {
        $('#divTechnologyError').hide();
    });

    $('#txtStartDate').on('change.datepicker', function (ev, picker) {
        $('#divStartDateError').hide();
    });

    $('#ddlManagerName').on('change', function () {
        if ($("#ddlManagerName").val() != 0) {
            $("#divManagerError").hide();
        }
        else {
            $("#divManagerError").show();
        }
    });

    $("#txtMasterDataValue").keypress(function (e) {
        $('#divMasterDataValueError').hide();
    });

    $('#ddlMasterData').on('change', function () {
        if ($("#ddlMasterData").val() != 0) {
            $("#divMasterDataTypeError").hide();
        }
        else {
            $("#divMasterDataTypeError").show();
        }
    });


</script>