@model IList<LMS_WebAPP_Domain.HolidayModel>


@{
    ViewBag.Title = "AddHolidays";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var dateList = (from n in Model select n.Date).ToList();

    var messageType_Success = @Convert.ToInt16((LMS_WebAPP_Utils.MessageType.Success));
    var messageType_Error = @Convert.ToInt16((LMS_WebAPP_Utils.MessageType.Error));
}
@using EmployeeLeaveManagementApp.Content.Resources
<link href="~/plugins/Toastr/toastr.css" rel="stylesheet" />
<link rel="stylesheet" href="~/plugins/datatables/dataTables.bootstrap.css">
<link rel="stylesheet" href="~/plugins/iCheck/all.css">
<link href="~/Content/Style.css" rel="stylesheet" />
<!-- Bootstrap 3.3.6 -->
@*<link rel="stylesheet" href="../../bootstrap/css/bootstrap.min.css">*@

<section class="content-header" style="height:41px">
    <h1 class="col-md-9">
        Holidays
    </h1>
    <div style="float:right;padding-right:0px" class="col-md-2">
        <button type="button" id="btnAddNewHoliday" class="btn btn-block bg-black" data-toggle="modal" data-target="#exampleModal"><i class="fa fa-plus"></i>&nbsp;Add Holiday</button>
    </div>
</section>

<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-success">
                <div class="box-body" id="DataTablebody">
                    <table id="example1" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Date</th>
                                <th>Description</th>
                                <th>Year</th>
                                @*<th>IsActive</th>*@
                                <th> Edit</th>
                                <th>Delete</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (LMS_WebAPP_Domain.HolidayModel m in Model)
                            {
                                <tr>
                                    <td>@m.FormattedDate</td>
                                    <td>@m.Description</td>
                                    <td>@m.Year</td>
                                    @*<td>@m.IsActive </td>*@
                                    <td>
                                        <a href="#" id="btnEditHoliday" style="color:black" data-content="@m.Id" data-toggle="modal" data-target="#exampleModal">
                                            <span class="fa fa-pencil"></span>
                                        </a>

                                    </td>
                                    <td>
                                        <a href="#" id="btnDeleteHoliday" style="color:red" data-content="@m.Id">
                                            <span class="fa fa-close"></span>
                                        </a>

                                    </td>
                                </tr>
                            }
                        </tbody>

                    </table>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content border-radius-modalBottom">
            <div class="modal-header modalHeaderStyle">
                <button type="button" class="close text-color-white" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h3 class="modal-title" id="exampleModalLabel">Add Holiday</h3>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label>Date <span style="color:red">*</span> :</label>

                        <div class="input-group date">
                            <div class="input-group-addon">
                                <i class="fa fa-calendar"></i>
                            </div>
                            <input type="text" class="form-control pull-right" id="datepicker" readonly="readonly">
                        </div>
                        <div class="form-group has-error" style="display:none" id="divDateError">
                            <label class="control-label" for="datepicker">
                                <i class="fa fa-times-circle-o"></i> Please select Date
                            </label>
                        </div>
                        <!-- /.input group -->
                    </div>




                    <div class="form-group">
                        <div>
                            <label>Description <span style="color:red">*</span> :</label>
                        </div>

                        <div>
                            <textarea id="Description" rows="3" style="width:568px;resize:none" placeholder="Enter ..."></textarea>
                        </div>
                        <div class="form-group has-error" style="display:none" id="divDescriptionError">
                            <label class="control-label" for="Description">
                                <i class="fa fa-times-circle-o"></i> Please enter description
                            </label>
                        </div>


                    </div>

                    @*<div class="form-group">*@
                    @*<label>*@
                    @*<input type="radio" name="r1" class="minimal" id="isActive">*@
                    @*</label>*@
                    @*<label>Is Active</label>*@
                    <!-- /.input group -->
                    @*</div>*@
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="btnEditHolidaySave" style="background-color:#222d32 !important; display:none">Save</button>
                <button type="button" class="btn btn-primary" id="btnAddHoliday" style="background-color:#222d32 !important">Add </button>
                <button type="button" class="btn btn-default" id="btnClose" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- bootstrap datepicker -->
<script src="~/plugins/datepicker/bootstrap-datepicker.js"></script>
<script src="~/plugins/iCheck/icheck.min.js"></script>
<script src="~/plugins/Toastr/toastr.js"></script>
<script src="~/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="~/plugins/datatables/dataTables.bootstrap.min.js"></script>
<script type="text/javascript">
    $('#addHolidays').parent().addClass('active');
    var totalDate = @Html.Raw(Json.Encode(dateList));
    var loop=[];
    for(i = 0;i<totalDate.length;i++)
    {
        loop.push(new Date(parseInt( totalDate[i].substr(6, 13))).getTime());
    }

    $('#datepicker').datepicker({autoclose: true})
   .on('changeDate', function(ev){
       var date = ev.date;
       console.log(ev.date);
       var newDate = new Date(date).getTime();
       console.log(newDate);
          if ($.inArray(newDate, loop) > -1)
          {
              showMessage("@MessageResources.Err_HolidayDateAlreadyExists", "@messageType_Error", true);
              $('#datepicker').datepicker('hide');
              $('#datepicker').val("");
          }

  });

    $(function () {
        $('#example1').DataTable({
            "paging": true,
            "lengthChange": true,
            "searching": false,
            "ordering": true,
            "info": true,
            "autoWidth": false,
        });
    });

    //Add Holiday
    $(document).on('click', '#btnAddNewHoliday', function (e) {
        $('#exampleModalLabel').text("Add Holiday");
        $('#btnAddHoliday').show();
        $('#btnEditHolidaySave').hide();
    });


    $(document).on('click', '#btnAddHoliday ', function (e) {

        if (($("#datepicker").val() == "") && ($("#Description").val() == "")) {
            $("#divDateError").show();
            $("#divDescriptionError").show();
            return false;
        }
        if ($("#datepicker").val() == "") {
            $("#divDateError").show();
            return false;
        }
        if ($("#Description").val() == "") {
            $("#divDescriptionError").show();
            return false;
        }

        $("#Loading").show();
        if (formValidate() == true) {

                $.ajax({
                    cache: false,
                    type: 'post',
                    url: '/HR/AddHolidays',
                    data: { date: $('#datepicker').val(), description: $('#Description').val(), active: true },
                    dataType: "json",
                    success: function (data) {
                        $('#exampleModal').modal('hide');
                        loop.push(new Date($('#datepicker').val()).getTime());
                        updateDatatable(data);
                        //  location.reload();
                        showMessage("@MessageResources.Msg_HolidaySaved", "@messageType_Success", true);
                        $('#datepickerYear').val("");
                        $('#datepicker').val("");
                        $('#Description').val("");
                        $("#Loading").hide();
                        // $(this).find("input.flat-red:checked").parent().removeClass('checked');
                        //Update datatable
                    }
                });
        }
        else {
            showMessage("@MessageResources.Err_FieldsCannotEmpty", "@messageType_Error", true);
        }
    }
    );

    $(document).on('click', '#btnClose,.close', function (e) {
        $('#datepickerYear').val("");
        $('#datepicker').val("");
        $('#Description').val("");
        $('#divDateError').hide();
        $('#divDescriptionError').hide();
    });


    //Form validate
    function formValidate() {
        if (

        $('#datepicker').val() != "" &&
        $('#Description').val() != "") {
            return true;
        }
        else { return false; }
    }


    //    Delete Holiday
    $(document).on('click', '#btnDeleteHoliday', function (e) {

        var id = $(this).data("content");
        $.ajax({
            cache: false,
            type: 'post',
            url: '/Hr/DeleteHoliday',
            data: { Id: id },
            dataType: "json",
            success: function (data) {
                loop.pop(new Date(updatedDate).getTime());
                updateDatatable(data);
                //  location.reload();
                showMessage("@MessageResources.Msg_HolidayDeleted", "@messageType_Success", true);
            }
        });
    }
    );
    // Edit Holiday
    var Id=0;
    var updatedDate = null ;
    $(document).on('click', '#btnEditHoliday', function (e) {

        e.preventDefault();
        $('#exampleModalLabel').text("Edit Holiday");
        Id = $(this).data("content");
        $('#datepicker').val($(this).parent().parent().find("td:nth-child(1)")[0].innerText);
        updatedDate = $('#datepicker').val();
        $('#Description').val($(this).parent().parent().find("td:nth-child(2)")[0].innerText);
        // $('input[name=r1]:checked').val($(this).parent().parent().find("td:nth-child(4)")[0].innerText);
        $('#btnAddHoliday').hide();
        $('#btnEditHolidaySave').show();
        //hide the add button dispaly edit button
    });

    //Edit Adding
    $(document).on('click', '#btnEditHolidaySave', function (e) {
        $("#Loading").show();;
        if (formValidate() == true) {
            var newDate =$('#datepicker').val();
                $.ajax({
                    cache: false,
                    type: 'post',
                    url: '/HR/UpdateHoliday',
                    data: {Id:Id, date: $('#datepicker').val(), description: $('#Description').val(), active: true },
                    dataType: "json",
                    success: function (data) {
                        $('#exampleModal').modal('hide');
                        updateDatatable(data);


                      //if((new Date(updatedDate)).getTime() != (new Date(newDate)).getTime())
                      //  {
                                loop.pop((new Date(updatedDate)).getTime());
                                loop.push((new Date(newDate)).getTime());
                        //}
                        //  location.reload();
                                showMessage("@MessageResources.Msg_HolidayUpdated", "@messageType_Success", true);
                        $('#datepickerYear').val("");
                        $('#datepicker').val("");
                        $('#Description').val("");
                        $("#Loading").hide();
                    }
                });
        }
        else {
            showMessage("@MessageResources.Err_FieldsCannotEmpty", "@messageType_Error", true);
        }
    }
    );
    function updateDatatable(data) {

        $('#DataTablebody').html('');
        var fixedCartItemsHtml = "<table id='example1' class='table table-bordered table-striped'>" + " <thead> <tr>  <th>Date</th><th>Description</th>  <th>Year</th>" +
                               "<th> Edit</th> <th>Delete</th> </tr></thead><tbody>";

        for (var i = 0; i < data.list.length; i++) {
            //date
            fixedCartItemsHtml = fixedCartItemsHtml +
                                 "<tr>" +
                                 "<td>" + data.list[i].FormattedDate +
                                 "</td>";

            //Description
            fixedCartItemsHtml = fixedCartItemsHtml +

                                 "<td>" + data.list[i].Description +
                                 "</td>";
            //Year
            fixedCartItemsHtml = fixedCartItemsHtml +

                                "<td>" + data.list[i].Year +
                                "</td>";
            ////Is Active
            //fixedCartItemsHtml = fixedCartItemsHtml +

            //                  "<td>" + data.list[i].IsActive +
            //                  "</td>";
            //edit button
            fixedCartItemsHtml = fixedCartItemsHtml +"<td><a id='btnEditHoliday'  href='#' data-toggle='modal'  data-target='#exampleModal' style='color:black' data-content='" + data.list[i].Id  + "' >";
            fixedCartItemsHtml = fixedCartItemsHtml +" <span class='fa fa-pencil'></span> </a></td>";

            //delete button

            fixedCartItemsHtml = fixedCartItemsHtml +"<td><a id='btnDeleteHoliday'  href='#' style='color:red' data-content='" + data.list[i].Id  + "' >";
            fixedCartItemsHtml = fixedCartItemsHtml +" <span class='fa fa-close'></span></a></td></tr>";
        }
        fixedCartItemsHtml = fixedCartItemsHtml + "</tbody></table>";
        $('#DataTablebody').html(fixedCartItemsHtml);


        $('#example1').DataTable({
            "paging": true,
            "lengthChange": true,
            "searching": false,
            "ordering": true,
            "info": true,
            "autoWidth": false,
        });

        $('#datepickerYear').val("");
        $('#datepicker').val("");
        $('#Description').val("");
    }


    $("#Description").keypress(function (e) {
        $('#divDescriptionError').hide();
    });

    $('#datepicker').on('change.datepicker', function (ev, picker) {
        $('#divDateError').hide();
    });

</script>

<!-- /.modal -->
<!-- /.content -->
<!-- ./wrapper -->
