@model List<LMS_WebAPP_Domain.EmployeeDetailsModel>
@{
    ViewBag.Title = "Reports";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="../../plugins/select2/select2.min.css">
<link rel="stylesheet" href="../../dist/css/AdminLTE.min.css">
<link href="~/plugins/Toastr/toastr.css" rel="stylesheet" />

<section class="content-header" style="height:41px">
    <h1 class="col-md-9" style="padding-left:0px">
        Reports
    </h1>
</section>
<section class="content">
    <div class="row">

        <div class="col-md-6">
            <!-- general form elements -->
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Generate Report</h3>
                    <div class="pull-right box-tools">
                        <button class="btn" data-toggle="tooltip" id="btnExportDetails" data-content="1" title="Export">
                            <i class="fa fa-file-excel-o"></i>
                        </button>
                        <button class="btn" data-toggle="tooltip" id="btnSendMail" data-content="2" title="Share as attachment">
                            <i class="fa fa-envelope"></i>
                        </button>
                    </div>
                </div>
                <div class="box-body">
                    <div class="form-group">
                        <label>Employee Name</label>
                        <select class="form-control ddlEmployee" multiple="multiple" style="width: 100%;" id="ddlEmployeeName">
                            <option value="0">All</option>
                            @foreach (var m in Model)
                            {
                                <option id="@m.Id" value="@m.Id">@m.FirstName</option>
                            }
                        </select>
                    </div>
                    <div class="form-group">
                        <div>
                            <label>Date range:</label>
                        </div>

                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="fa fa-calendar"></i>
                            </div>
                            <input type="text" class="form-control pull-right" id="reportDatepicker">
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Leave Type</label>
                        <select class="form-control ddlLeave" multiple="multiple" style="width: 100%;" id="ddlLeaveType">
                            <option value="0">All</option>
                            <option value="1">Applied Leaves</option>
                            <option value="2">Work from Home</option>
                            <option value="3">Loss of Pay</option>
                            <option value="3">Advanced Leaves</option>
                            <option value="3">Comp Off</option>
                        </select>
                    </div>
                    @*<div class="form-group">
                        <label for="txtlastname">Export As</label>
                        <select class="form-control select2" style="width: 100%;" id="ddlExportType">
                            <option value="0">Select</option>
                            <option value="1">Excel</option>
                            <option value="2">Share as Attachment</option>

                        </select>
                    </div>*@
                </div>
                @*<div class="box-footer">
                    <button type="button" id="btnGenerateReport" style="background-color:#222d32 !important" class="btn btn-primary">Submit</button>
                </div>*@
            </div>
            </div>
        <div class="col-md-6">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Employee Individual Report</h3>
                    <div class="pull-right box-tools">
                        <button class="btn" data-toggle="tooltip" id="btnExportIndividualReport" title="Export">
                            <i class="fa fa-file-excel-o"></i>
                        </button>
                        </div>
                    </div>
                <div class="box-body">
                    <div class="form-group">
                        <label>Employee Name</label>
                        <select class="form-control ddlEmployeeSelect" style="width: 100%;" id="ddlEmployeeId">
                            <option value="0">Select</option>
                            @foreach (var m in Model)
                            {
                                <option id="@m.Id" value="@m.Id">@m.FirstName</option>
                            }
                        </select>
                    </div>
                    @*<div id="donut-chart" style="height: 300px;"></div>*@
                        <div class="row">
                            <div class="col-md-8">
                                <div class="chart-responsive" id="pieChartContent">
                                    <canvas id="pieChart" height="260" width="380"></canvas>
                                </div>
                                <!-- ./chart-responsive -->
                            </div>
                            <!-- /.col -->
                            <div class="col-md-4">
                                <ul class="chart-legend clearfix">
                                    <li><i class="fa fa-circle-o text-red"></i> Loss of Pay :<text id="lopText">0</text></li>
                                    <li><i class="fa fa-circle-o text-green"></i> Comp Off : <text id="compOffText">0</text></li>
                                    <li><i class="fa fa-circle-o text-yellow"></i> Advanced Leaves :<text id="advancedLeavesText">0</text></li>
                                    <li><i class="fa fa-circle-o text-aqua"></i> Work from Home :<text id="wfhText">0</text></li>
                                    <li><i class="fa fa-circle-o text-light-blue"></i> Applied Leaves :<text id="appliedLeavesText">0</text></li>
                                </ul>
                            </div>
                            <!-- /.col -->
                        </div>
                        <!-- /.row -->

                </div>
                <!-- /.box-body-->
            </div>
        </div>
    </div>

    <!-- /.row -->
</section>

<script src="../../plugins/select2/select2.full.min.js"></script>
<script src="~/plugins/daterangepicker/moment.min.js"></script>
@*<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.11.2/moment.min.js"></script>*@
<script src="../../plugins/daterangepicker/daterangepicker.js"></script>
<script src="~/plugins/chartjs/Chart.min.js"></script>
<!-- FLOT CHARTS -->
<script src="../../plugins/flot/jquery.flot.min.js"></script>
<!-- FLOT PIE PLUGIN - also used to draw donut charts -->
<script src="~/plugins/flot/jquery.flot.pie.min.js"></script>

<script src="../../plugins/Toastr/toastr.js"></script>
<script>
    var reportFromDate;
    var reportToDate;
    var date = new Date();
    var year = date.getFullYear();
    $(document).ready(function () {
        $('#reports').parent().addClass('active');
        $(function () {
            var pieChartCanvas = $("#pieChart").get(0).getContext("2d");
            var pieChart = new Chart(pieChartCanvas);
            var PieData = [
                              {
                                  value: 1,
                                  color: "#d7d9dd",
                                  highlight: "#d7d9dd",
                                  label: "No Data"
                              },                           
                            
            ];
            var pieOptions = {
                //Boolean - Whether we should show a stroke on each segment
                segmentShowStroke: true,
                //String - The colour of each segment stroke
                segmentStrokeColor: "#fff",
                //Number - The width of each segment stroke
                segmentStrokeWidth: 1,
                //Number - The percentage of the chart that we cut out of the middle
                percentageInnerCutout: 50, // This is 0 for Pie charts
                //Number - Amount of animation steps
                animationSteps: 100,
                //String - Animation easing effect
                animationEasing: "easeOutBounce",
                //Boolean - Whether we animate the rotation of the Doughnut
                animateRotate: true,
                //Boolean - Whether we animate scaling the Doughnut from the centre
                animateScale: false,
                //Boolean - whether to make the chart responsive to window resizing
                responsive: true,
                // Boolean - whether to maintain the starting aspect ratio or not when responsive, if set to false, will take up entire container
                maintainAspectRatio: false,
                //String - A legend template
                legendTemplate: "<ul class=\"<%=name.toLowerCase()%>-legend\"><% for (var i=0; i<segments.length; i++){%><li><span style=\"background-color:<%=segments[i].fillColor%>\"></span><%if(segments[i].label){%><%=segments[i].label%><%}%></li><%}%></ul>",
                //String - A tooltip template
                tooltipTemplate: "<%=label%>"
            };
            //Create pie or douhnut chart
            // You can switch between pie and douhnut using the method below.
            pieChart.Doughnut(PieData, pieOptions);
            $(".ddlEmployeeSelect").select2().on('change', function (e) {
                var empId = $("#ddlEmployeeId").val();
                if (empId != 0) {
                    $.ajax({
                        cache: false,
                        type: 'post',
                        url: '/HR/GetChartDetails?employeeId=' + empId,
                        dataType: "json",
                        processData: false,
                        success: function (data) {
                            $("#lopText").html(data.result.LossofPayCount);
                            $("#wfhText").html(data.result.WorkFromHomeCount);
                            $("#advancedLeavesText").html(data.result.AdvancedLeavesCount);
                            $("#appliedLeavesText").html(data.result.AppliedLeavesCount);
                            $("#compOffText").html(data.result.CompOffCount);
                            if (data.result.LossofPayCount == 0 && data.result.WorkFromHomeCount == 0 && data.result.AdvancedLeavesCount == 0 && data.result.AppliedLeavesCount == 0 && data.result.CompOffCount == 0) {
                                var pieChartContent = document.getElementById('pieChartContent');
                                pieChartContent.innerHTML = '&nbsp;';
                                $('#pieChartContent').append('<canvas id="pieChart" height="220" width="360"><canvas>');
                                var pieChartCanvas = $("#pieChart").get(0).getContext("2d");
                                var pieChart = new Chart(pieChartCanvas);
                                var PieData = [
                                  {
                                      value: 1,
                                      color: "#d7d9dd",
                                      highlight: "#d7d9dd",
                                      label: "No Data"
                                  },
                                ]
                                var pieOptions = {
                                    //Boolean - Whether we should show a stroke on each segment
                                    segmentShowStroke: true,
                                    //String - The colour of each segment stroke
                                    segmentStrokeColor: "#fff",
                                    //Number - The width of each segment stroke
                                    segmentStrokeWidth: 1,
                                    //Number - The percentage of the chart that we cut out of the middle
                                    percentageInnerCutout: 50, // This is 0 for Pie charts
                                    //Number - Amount of animation steps
                                    animationSteps: 100,
                                    //String - Animation easing effect
                                    animationEasing: "easeOutBounce",
                                    //Boolean - Whether we animate the rotation of the Doughnut
                                    animateRotate: true,
                                    //Boolean - Whether we animate scaling the Doughnut from the centre
                                    animateScale: false,
                                    //Boolean - whether to make the chart responsive to window resizing
                                    responsive: true,
                                    // Boolean - whether to maintain the starting aspect ratio or not when responsive, if set to false, will take up entire container
                                    maintainAspectRatio: false,

                                    //String - A legend template
                                    legendTemplate: "<ul class=\"<%=name.toLowerCase()%>-legend\"><% for (var i=0; i<segments.length; i++){%><li><span style=\"background-color:<%=segments[i].fillColor%>\"></span><%if(segments[i].label){%><%=segments[i].label%><%}%></li><%}%></ul>",
                                    //String - A tooltip template
                                    tooltipTemplate: "<%=label%>"
                                };
                                pieChart.Doughnut(PieData, pieOptions);
                            }
                            else {
                                var pieChartContent = document.getElementById('pieChartContent');
                                pieChartContent.innerHTML = '&nbsp;';
                                $('#pieChartContent').append('<canvas id="pieChart" height="220" width="360"><canvas>');
                                var pieChartCanvas = $("#pieChart").get(0).getContext("2d");
                                var pieChart = new Chart(pieChartCanvas);
                                var PieData = [
                                  {
                                      value: data.result.LossofPayCount,
                                      color: "#f56954",
                                      highlight: "#f56954",
                                      label: "Loss Of Pay"
                                  },
                                  {
                                      value: data.result.CompOffCount,
                                      color: "#00a65a",
                                      highlight: "#00a65a",
                                      label: "Comp Off"
                                  },
                                  {
                                      value: data.result.AdvancedLeavesCount,
                                      color: "#f39c12",
                                      highlight: "#f39c12",
                                      label: "Advanced Leaves"
                                  },
                                  {
                                      value: data.result.WorkFromHomeCount,
                                      color: "#00c0ef",
                                      highlight: "#00c0ef",
                                      label: "Work From Home"
                                  },
                                  {
                                      value: data.result.AppliedLeavesCount,
                                      color: "#3c8dbc",
                                      highlight: "#3c8dbc",
                                      label: "Applied Leaves"
                                  }
                                ];
                                var pieOptions = {
                                    //Boolean - Whether we should show a stroke on each segment
                                    segmentShowStroke: true,
                                    //String - The colour of each segment stroke
                                    segmentStrokeColor: "#fff",
                                    //Number - The width of each segment stroke
                                    segmentStrokeWidth: 1,
                                    //Number - The percentage of the chart that we cut out of the middle
                                    percentageInnerCutout: 50, // This is 0 for Pie charts
                                    //Number - Amount of animation steps
                                    animationSteps: 100,
                                    //String - Animation easing effect
                                    animationEasing: "easeOutBounce",
                                    //Boolean - Whether we animate the rotation of the Doughnut
                                    animateRotate: true,
                                    //Boolean - Whether we animate scaling the Doughnut from the centre
                                    animateScale: false,
                                    //Boolean - whether to make the chart responsive to window resizing
                                    responsive: true,
                                    // Boolean - whether to maintain the starting aspect ratio or not when responsive, if set to false, will take up entire container
                                    maintainAspectRatio: false,

                                    //String - A legend template
                                    legendTemplate: "<ul class=\"<%=name.toLowerCase()%>-legend\"><% for (var i=0; i<segments.length; i++){%><li><span style=\"background-color:<%=segments[i].fillColor%>\"></span><%if(segments[i].label){%><%=segments[i].label%><%}%></li><%}%></ul>",
                                    //String - A tooltip template
                                    tooltipTemplate: "<%=value %> <%=label%>"
                                };
                                //Create pie or douhnut chart
                                // You can switch between pie and douhnut using the method below.
                                pieChart.Doughnut(PieData, pieOptions);
                            }
                        }
                    });
                }
                else
                {
                    var pieChartContent = document.getElementById('pieChartContent');
                    pieChartContent.innerHTML = '&nbsp;';
                    $('#pieChartContent').append('<canvas id="pieChart" height="220" width="360"><canvas>');
                    var pieChartCanvas = $("#pieChart").get(0).getContext("2d");
                    var pieChart = new Chart(pieChartCanvas);
                    var PieData = [
                      {
                          value: 1,
                          color: "#d7d9dd",
                          highlight: "#d7d9dd",
                          label: "No Data"
                      },   
                      ]
                    var pieOptions = {
                        //Boolean - Whether we should show a stroke on each segment
                        segmentShowStroke: true,
                        //String - The colour of each segment stroke
                        segmentStrokeColor: "#fff",
                        //Number - The width of each segment stroke
                        segmentStrokeWidth: 1,
                        //Number - The percentage of the chart that we cut out of the middle
                        percentageInnerCutout: 50, // This is 0 for Pie charts
                        //Number - Amount of animation steps
                        animationSteps: 100,
                        //String - Animation easing effect
                        animationEasing: "easeOutBounce",
                        //Boolean - Whether we animate the rotation of the Doughnut
                        animateRotate: true,
                        //Boolean - Whether we animate scaling the Doughnut from the centre
                        animateScale: false,
                        //Boolean - whether to make the chart responsive to window resizing
                        responsive: true,
                        // Boolean - whether to maintain the starting aspect ratio or not when responsive, if set to false, will take up entire container
                        maintainAspectRatio: false,
             
                        //String - A legend template
                        legendTemplate: "<ul class=\"<%=name.toLowerCase()%>-legend\"><% for (var i=0; i<segments.length; i++){%><li><span style=\"background-color:<%=segments[i].fillColor%>\"></span><%if(segments[i].label){%><%=segments[i].label%><%}%></li><%}%></ul>",
                        //String - A tooltip template
                        tooltipTemplate: "<%=label%>"
                    };
                    pieChart.Doughnut(PieData, pieOptions);
                }
            });
            //Initialize Select2 Elements
            $(".ddlEmployee").select2().on('change', function (e) {
                if ($("#ddlEmployeeName").val() == "0" || $.inArray("0", $("#ddlEmployeeName").val()) != -1) {

                    if ($("#ddlEmployeeName option:selected").length > 1) {
                        $("#ddlEmployeeName").val('0').trigger("change");
                    };


                    var allOptions = $("#ddlEmployeeName option");
                    for (var i = 1; i < allOptions.length; i++) {
                        //var id = $(allOptions[i]).id;
                        $("#ddlEmployeeName").find('option[value=' + $(allOptions[i]).val() + ']').attr('disabled', 'disabled');
                    }

                } else {
                    $("#ddlEmployeeName > option").removeAttr("disabled");
                }
                $('.ddlEmployee').select2();
            });

            $(".ddlLeave").select2().on('change', function (e) {
                if ($("#ddlLeaveType").val() == "0" || $.inArray("0", $("#ddlLeaveType").val()) != -1) {

                    if ($("#ddlLeaveType option:selected").length > 1) {
                        $("#ddlLeaveType").val('0').trigger("change");
                    };


                    var allOptions = $("#ddlLeaveType option");
                    for (var i = 1; i < allOptions.length; i++) {
                        //var id = $(allOptions[i]).id;
                        $("#ddlLeaveType").find('option[value=' + $(allOptions[i]).val() + ']').attr('disabled', 'disabled');
                    }

                } else {
                    $("#ddlLeaveType > option").removeAttr("disabled");
                }
                $('.ddlLeave').select2();
            });

            $('#reportDatepicker').daterangepicker(
                  {
                      //locale: {
                      //    format: "MMM YYYY"
                      //}
                  });
            $('#reportDatepicker').on('change.daterangepicker', function (ev, picker) {
                var date = ev.target.value;
                var dates = [];
                dates = date.split('-');
                var start = dates[0].trim();
                var startDate = new Date(start);
                var startMonth = startDate.getMonth() + 1;
                reportFromDate = startDate.getFullYear() + "-" + startMonth + "-" + startDate.getDate();
                var end = dates[1].trim();
                var endDate = new Date(end);
                var endMonth = endDate.getMonth() + 1;
                reportToDate = endDate.getFullYear() + "-" + endMonth + "-" + endDate.getDate();
            });
            $('#reportDatepicker').on('apply.daterangepicker', function (ev, picker) {

                var start = picker.startDate;
                reportFromDate = start.format('YYYY-MM-DD');
                var end = picker.endDate;
                reportToDate = end.format('YYYY-MM-DD');

            });
        });
    });


    $(document).on('click', '#btnSendMail', function (e) {
        var employeeId = $("#ddlEmployeeName").val();
        var leaveType = $("#ddlLeaveType").val();
        //var exportAs = $("#ddlExportType").val();
        var exportAs = $(this).data("content");
        var fromDate = reportFromDate;
        var toDate = reportToDate;
        var data = "";
        var leaveData = "";
        for (var i = 0; i < employeeId.length; i++) {
            data += employeeId[i] + ":";
        }
        for (var i = 0; i < leaveType.length; i++) {
            leaveData += leaveType[i] + ":";
        }
        $.ajax({
            cache: false,
            type: 'post',
            url: '/HR/GenerateReports',
            data: { employeeId:data,leaveType:leaveData,exportAs: exportAs,fromDate:fromDate,toDate:toDate },
            dataType: "json",
            success: function (data) {
                showMessage("Mail sent successfully", "1", true);

            }
        });
    }
    );
    $(document).on('click', '#btnExportDetails', function (e) {
        var exportAs = $(this).data("content");
        if ($("#ddlEmployeeName").val() == null && $("#ddlLeaveType").val() == null && reportFromDate == undefined && reportToDate == undefined) {
            showMessage("Select Employee Name,Leave Type and Date Range", "2", true);
            $(".ddlEmployee").select2({
                containerCssClass: "error"
            });
            return false;
        }
        var employeeId = $("#ddlEmployeeName").val();
        var leaveType = $("#ddlLeaveType").val();
        //var exportAs = $("#ddlExportType").val();
        var fromDate = reportFromDate;
        var toDate = reportToDate;
        var data = "";
        var leaveData = "";
        for (var i = 0; i < employeeId.length; i++) {
            data += employeeId[i] + ":";
        }
        for (var i = 0; i < leaveType.length; i++) {
            leaveData += leaveType[i] + ":";
        }
        window.location.href = "/HR/GenerateReports/?employeeId=" + data + "&leaveType=" + leaveData + "&exportAs=" + exportAs + "&fromDate=" + fromDate + "&toDate=" + toDate;
    })

    $(document).on('click', '#btnExportIndividualReport', function (e) {
         if ($("#ddlEmployeeId").val() == null) {
             showMessage("Select Employee Name", "2", true);
        }
         var employeeId = $("#ddlEmployeeId").val();      
         window.location.href = "/HR/GenerateIndividualReport/?employeeId=" + employeeId;
    })
    function labelFormatter(label, series) {
        return '<div style="font-size:13px; text-align:center; padding:2px; color: #fff; font-weight: 600;position:absolute">'
            + label
            + "<br>"
            + Math.round(series.percent) + "%</div>";
    }

    function showMessage(message, Type, fadeOut) {
        //To clear existing toastr
        toastr.clear();
        //fadeOut = false;
        var position = "bottom-full-width";
        toastr.options.positionClass = 'toast-' + position;
        if (typeof fadeOut !== "undefined" && fadeOut == false) { toastr.options.timeOut = 0; }
        else {
            toastr.options.timeOut = 5000;
        }
        switch (Type) {
            case "1":
                toastr.success(message);
                break;
            case "2":
                toastr.error(message);
                break;
        }
    }
</script>