@model List<LMS_WebAPP_Domain.EmployeeDetailsModel>
@{
    ViewBag.Title = "Reports";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="../../plugins/select2/select2.min.css">
<link rel="stylesheet" href="../../dist/css/AdminLTE.min.css">
<!-- Morris chart -->
<link rel="stylesheet" href="../plugins/morris/morris.css">

<section class="content-header" style="height:41px">
    <h1 class="col-md-9" style="padding-left:0px">
      Reports
    </h1>
    <div style="float:right;padding-right:0px" class="col-md-2">
        <button type="button" id="btnaddleave" class="btn btn-block bg-black" data-toggle="modal" data-target=".bs-generate-report-modal" style="background-color:#222d32 !important"><i class="fa fa-plus"></i>&nbsp;Generate Report</button>

    </div>
</section>
<section class="content">
    <div class="row">

        <div class="col-md-12">
            <div class="box box-solid bg-teal-gradient">
                <div class="box-header">
                    <i class="fa fa-th"></i>
                    <h3 class="box-title">Leave Report</h3>
                </div>
                <div class="box-body border-radius-none">
                    <div class="chart" id="line-chart" style="height: 250px;"></div>
                </div>
                <!-- /.box-body -->

            </div>
        </div>
    </div>

    <!-- /.row -->
</section>
<div class="modal bs-generate-report-modal" id="GenerateReportModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Generate Report</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label>Employee Name</label>
                    <select class="form-control ddlEmployee" multiple="multiple" style="width: 100%;" id="ddlEmployeeName">
                        <option value="0">All</option>
                        @foreach (var m in Model)
                        {
                            <option id="@m.Id" value="@m.Id">@m.FirstName</option>
                        }
                    </select>
                </div>
                <div class="form-group">
                    <div>
                        <label>Date range:</label>
                    </div>

                    <div class="input-group">
                        <div class="input-group-addon">
                            <i class="fa fa-calendar"></i>
                        </div>
                        <input type="text" class="form-control pull-right" id="reportDatepicker">
                    </div>
                </div>
                <div class="form-group">
                    <label>Leave Type</label>
                    <select class="form-control ddlLeave" multiple="multiple" style="width: 100%;" id="ddlLeaveType">
                        <option value="0">All</option>
                        <option value="1">Earned Leaves</option>
                        <option value="2">Applied Leaves</option>
                        <option value="3">Work from Home</option>               
                        <option value="4">Loss of Pay</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="txtlastname">Export As</label>
                    <select class="form-control select2" style="width: 100%;" id="ddlExportType">
                        <option value="0">Select</option>
                        <option value="1">Excel</option>
                        <option value="2">Share as Attachment</option>

                    </select>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" id="btnGenerateReport" style="background-color:#222d32 !important" class="btn btn-primary">Submit</button>
                <button type="button" class="btn btn-default pull-right" data-dismiss="modal">Cancel</button>

            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- Morris.js charts -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
<script src="../plugins/morris/morris.min.js"></script>
<!-- jQuery Knob Chart -->
<script src="../plugins/knob/jquery.knob.js"></script>

<script src="../../plugins/select2/select2.full.min.js"></script>
<script src="~/plugins/daterangepicker/moment.min.js"></script>
@*<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.11.2/moment.min.js"></script>*@
<script src="../../plugins/daterangepicker/daterangepicker.js"></script>

<script>
    var reportFromDate;
    var reportToDate;
    var date=new Date();
    var year=date.getFullYear();
    $(document).ready(function () {
        $(function () {
            var line = new Morris.Line({
                element: 'line-chart',
                resize: true,
                data: [
                  { y:year+'-1', item1:@Model[0].LeaveDetails.Jan },
                  { y: year+'-2', item1: @Model[0].LeaveDetails.Feb },
                  { y: year+'-3', item1: @Model[0].LeaveDetails.Mar },
                  { y: year+'-4', item1: @Model[0].LeaveDetails.Apr },
                  { y: year+'-5', item1: @Model[0].LeaveDetails.May },
                  { y: year+'-6', item1: @Model[0].LeaveDetails.Jun },
                  { y: year+'-7', item1: @Model[0].LeaveDetails.Jul },
                  { y: year+'-8', item1: @Model[0].LeaveDetails.Aug },
                  { y: year+'-9', item1: @Model[0].LeaveDetails.Sep },
                  { y: year+'-10', item1: @Model[0].LeaveDetails.Oct },
                  { y: year+'-11', item1: @Model[0].LeaveDetails.Nov },
                  { y: year+'-12', item1: @Model[0].LeaveDetails.Dec }
                ],
                xkey: 'y',
                ykeys: ['item1'],
                labels: ['Leave Count'],
                lineColors: ['#efefef'],
                lineWidth: 2,
                hideHover: 'auto',
                gridTextColor: "#fff",
                gridStrokeWidth: 0.4,
                pointSize: 4,
                pointStrokeColors: ["#efefef"],
                gridLineColor: "#efefef",
                gridTextFamily: "Open Sans",
                gridTextSize: 10
            });

            //Initialize Select2 Elements
            $(".ddlEmployee").select2().on('change', function (e) {
                if ($("#ddlEmployeeName").val() == "0" || $.inArray("0", $("#ddlEmployeeName").val()) != -1) {

                    if ($("#ddlEmployeeName option:selected").length > 1) {
                        $("#ddlEmployeeName").val('0').trigger("change");
                    };


                    var allOptions = $("#ddlEmployeeName option");
                    for (var i = 1; i < allOptions.length; i++) {
                        //var id = $(allOptions[i]).id;
                        $("#ddlEmployeeName").find('option[value=' + $(allOptions[i]).val() + ']').attr('disabled', 'disabled');
                    }

                } else {
                    $("#ddlEmployeeName > option").removeAttr("disabled");
                }
                $('.ddlEmployee').select2();
            });

            $(".ddlLeave").select2().on('change', function (e) {
                if ($("#ddlLeaveType").val() == "0" || $.inArray("0", $("#ddlLeaveType").val()) != -1) {

                    if ($("#ddlLeaveType option:selected").length > 1) {
                        $("#ddlLeaveType").val('0').trigger("change");
                    };


                    var allOptions = $("#ddlLeaveType option");
                    for (var i = 1; i < allOptions.length; i++) {
                        //var id = $(allOptions[i]).id;
                        $("#ddlLeaveType").find('option[value=' + $(allOptions[i]).val() + ']').attr('disabled', 'disabled');
                    }

                } else {
                    $("#ddlLeaveType > option").removeAttr("disabled");
                }
                $('.ddlLeave').select2();
            });

            $('#reportDatepicker').daterangepicker(
                  {
                  });
            $('#reportDatepicker').on('change.daterangepicker', function (ev, picker) {
                var date = ev.target.value;
                var dates = [];
                dates = date.split('-');
                var start = dates[0].trim();
                var startDate = new Date(start);
                var startMonth = startDate.getMonth() + 1;
                reportFromDate = startDate.getFullYear() + "-" + startMonth + "-" + startDate.getDate();
                var end = dates[1].trim();
                var endDate = new Date(end);
                var endMonth = endDate.getMonth() + 1;
                reportToDate = endDate.getFullYear() + "-" + endMonth + "-" + endDate.getDate();
            });
            $('#reportDatepicker').on('apply.daterangepicker', function (ev, picker) {

                var start = picker.startDate;
                reportFromDate = start.format('YYYY-MM-DD');
                var end = picker.endDate;
                reportToDate = end.format('YYYY-MM-DD');

            });
        });
    });

    
    $(document).on('click', '#btnGenerateReport', function (e) {
        var employeeId=$("#ddlEmployeeName").val();
        var leaveType=$("#ddlLeaveType").val();
        var exportAs=$("#ddlExportType").val();
        window.location.href = "/HR/GenerateReports/?employeeId=" + employeeId + "&leaveType=" + leaveType + "&exportAs=" + exportAs;

    }
    );
</script>