@model IList<LMS_WebAPP_Domain.WorkFromHomeModel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var dateList = (from n in Model select n.Date).ToList();
}

<link href="~/plugins/Toastr/toastr.css" rel="stylesheet" />
<link rel="stylesheet" href="~/plugins/datatables/dataTables.bootstrap.css">
<link rel="stylesheet" href="~/plugins/iCheck/all.css">
<!-- Bootstrap 3.3.6 -->
@*<link rel="stylesheet" href="../../bootstrap/css/bootstrap.min.css">*@

<section class="content-header" style="height:41px">
    <h1 class="col-md-9">
        Add Work From Home
    </h1>
    <div style="float:right;padding-right:0px" class="col-md-2">
        <button type="button" id="btnAddNewWorkFromHome" class="btn btn-block bg-black" data-toggle="modal" data-target="#exampleModal"><i class="fa fa-plus"></i>Add New</button>
    </div>
</section>

<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-body" id="DataTablebody">
                    <table id="example1" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Date</th>
                                <th>Reason</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (LMS_WebAPP_Domain.WorkFromHomeModel m in Model)
                            {
                                <tr>
                                    <td>@m.FormattedDate</td>
                                    <td>@m.Reason</td>
                                </tr>
                            }
                        </tbody>

                    </table>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="exampleModalLabel">Add Work From Home</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label>Date:</label>
                        <div class="input-group date">
                            <div class="input-group-addon">
                                <i class="fa fa-calendar"></i>
                            </div>
                            <input type="text" class="form-control pull-right" id="datepicker" readonly="readonly">
                        </div>
                        <!-- /.input group -->
                    </div>
                    <div class="form-group">
                        <label>Select Reason:</label>
                        <select class="form-control" id="SelectReason">
                            @*<select class="form-control select2" style="width: 100%;" id="ddlLevel">*@
                            <option value="">Select</option>
                            <option value="@Convert.ToInt16(LMS_WebAPP_Utils.WorkFormHomeReasons.Maintanace)">@LMS_WebAPP_Utils.CommonMethods.Description((LMS_WebAPP_Utils.WorkFormHomeReasons.Maintanace))</option>
                            <option value="@Convert.ToInt16(LMS_WebAPP_Utils.WorkFormHomeReasons.AvoidTravel)">@LMS_WebAPP_Utils.CommonMethods.Description((LMS_WebAPP_Utils.WorkFormHomeReasons.AvoidTravel))</option>
                            @*</select>*@
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="btnAddWorkFromHome" style="background-color:#222d32 !important">Add </button>
                <button type="button" class="btn btn-default" id="btnClose" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- bootstrap datepicker -->
<script src="~/plugins/datepicker/bootstrap-datepicker.js"></script>
<script src="~/plugins/iCheck/icheck.min.js"></script>
<script src="~/plugins/Toastr/toastr.js"></script>
<script src="~/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="~/plugins/datatables/dataTables.bootstrap.min.js"></script>
<script type="text/javascript">
    $('#exampleModal').on('show.bs.modal', function (event) {
    });

    var totalDate = @Html.Raw(Json.Encode(dateList));
    var loop = [];
    for (i = 0; i < totalDate.length; i++) {
        loop.push(new Date(parseInt(totalDate[i].substr(6, 13))).getTime());
    }
   
    $('#datepicker').datepicker({autoclose: true})
   .on('changeDate', function(ev){
       var date = ev.date;
       console.log(ev.date);
       var newDate = new Date(date).getTime();
       console.log(newDate);
          if ($.inArray(newDate, loop) > -1)
          {
              showMessage("The selected date is already existing.Please select new date!!", "2", true);
              $('#datepicker').datepicker('hide');
              $('#datepicker').val("");
          }
     
  });

    $(function () {
        $('#example1').DataTable({
            "paging": true,
            "lengthChange": true,
            "searching": false,
            "ordering": true,
            "info": true,
            "autoWidth": false,
        });
    });
    //Add WorkFromHome


    $(document).on('click', '#btnAddWorkFromHome ', function (e) {
        debugger;
        if (formValidate() == true) {
           
                $.ajax({
                    cache: false,
                    type: 'post',
                    url: '/WorkFromHome/AddWorkFromHomes',
                    data: { date: $('#datepicker').val(), reason: $('#SelectReason').val() },
                    dataType: "json",
                    success: function (data) {
                        loop.push( new Date($('#datepicker').val()).getTime());
                        $('#exampleModal').modal('hide');
                        $.ajax({
                            cache: false,
                            type: 'get',
                            url: '/WorkFromHome/GetWorkFromHomeList',
                            dataType: "json",
                            success: function (data) {
                                debugger;
                                $('#exampleModal').modal('hide');
                                updateDatatable(data, true);
                                showMessage("New WorkFromHome added successfully", "1", true);
                                $('#datepicker').val("");
                                $('#SelectReason').val("");
                            }
                        });
                        $('#datepicker').val("");
                        $('#datepicker').datepicker();
                        $('#SelectReason').val("");
                    }
                });
        }
        else {
            showMessage("Fields cannot be empty!!", "2", true);
        }
    }
    );

    $(document).on('click', '#btnClose,.close', function (e) {
        debugger;
        $('#datepicker').val("");
        $('#SelectReason').val("");
    });

    //Show error Message
    function showMessage(message, Type, fadeOut) {
        //To clear existing toastr
        toastr.clear();
        //fadeOut = false;
        var position = "bottom-full-width";
        toastr.options.positionClass = 'toast-' + position;
        if (typeof fadeOut !== "undefined" && fadeOut == false) { toastr.options.timeOut = 0; }
        else {
            toastr.options.timeOut = 3000;
        }
        switch (Type) {
            case "1":
                toastr.success(message);
                break;
            case "2":
                toastr.error(message);
                break;
        }
    }




    

    //Form validate
    
    function formValidate() {
        if (

        $('#datepicker').val() != "" &&
        $('#SelectReason').val() != "") {
            return true;
        }
        else { return false; }
    }



    // Edit WorkFromHome
    var Id = 0;
    function updateDatatable(data, fromAdd) {
        debugger;
        $('#DataTablebody').html('');
        var fixedCartItemsHtml = "<table id='example1' class='table table-bordered table-striped'>" + " <thead> <tr>  <th>Date</th><th>Reason</th>" +
                               " </tr></thead><tbody>";

        for (var i = 0; i < data.result.length; i++) {
            //date
            fixedCartItemsHtml = fixedCartItemsHtml +
                                 "<tr>" +
                                 "<td>" + data.result[i].FormattedDate +
                                 "</td>";
            //Description
            fixedCartItemsHtml = fixedCartItemsHtml +

                                 "<td>" + data.result[i].Reason +
                                 "</td></tr>";
        }
        fixedCartItemsHtml = fixedCartItemsHtml + "</tbody></table>";
        $('#DataTablebody').html(fixedCartItemsHtml);

        $('#example1').DataTable({
            "paging": true,
            "lengthChange": true,
            "searching": false,
            "ordering": true,
            "info": true,
            "autoWidth": false,
        });

        $('#datepickerYear').val("");
        $('#datepicker').val("");
        $('#Description').val("");
    }
</script>

<!-- /.modal -->
<!-- /.content -->
<!-- ./wrapper -->
