@model List<LMS_WebAPP_Domain.EmployeeDetailsModel>
@{
    ViewBag.Title = "EmployeeDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var roleId = ((LMS_WebAPP_Domain.UserAccount)Session[LMS_WebAPP_Utils.Constants.SESSION_OBJ_USER]).RefRoleId;
    var userRole = LMS_WebAPP_Utils.CommonMethods.Description((LMS_WebAPP_Utils.EmployeeRole)roleId);
}
<link href="~/plugins/Toastr/toastr.css" rel="stylesheet" />
<link rel="stylesheet" href="../../plugins/datatables/dataTables.bootstrap.css">
<section class="content-header" style="height:41px">
    <h1 class="col-md-9">
     Employee Details
    </h1>
  @if (roleId == (int)LMS_WebAPP_Utils.EmployeeRole.HR)
  {
<div style = "float:right;padding-right:0px" class="col-md-2">
        <button type = "button" id="btnAddEmployee" onclick="AddEmployeeDetails()" class="btn btn-block bg-black" style="background-color:#222d32 !important"><i class="fa fa-plus"></i>&nbsp; Add Employee</button>
    </div>
  }
</section>

<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-body">
                    <table id = "example1" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Employee Name</th>
                                <th>Employee Id</th>
                                <th>Date Of Joining</th>
                                <th>Role</th>
                                <th>Manager</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (LMS_WebAPP_Domain.EmployeeDetailsModel m in Model)
                            {
                                

                                <tr>
                                    <td><a href="@Url.Action("ProfileDetails","Account",new { @id = m.Id })"> @m.FirstName @m.LastName</a></td>
                                    <td>@m.EmployeeNumber</td>
                                    <td>@m.DateOfJoining.Date.ToString("dd/MM/yyyy")</td>
                                    <td>@m.RoleName </td>
                                    <td>@m.ManagerName</td>
                                </tr>


                            }
                        </tbody>
                        <tfoot>
                        </tfoot>
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>
<script src="../../plugins/Toastr/toastr.js"></script>
<script src="../../plugins/datatables/jquery.dataTables.min.js"></script>
<script src="../../plugins/datatables/dataTables.bootstrap.min.js"></script>
<script>
    $(document).ready(function () {
        $('#employeeDetails').parent().addClass('active');
        if (localStorage.getItem("EmployeeAdded") == 1) {
            showSuccessMessage("Employee Added Successfully");
            localStorage.removeItem("EmployeeAdded");
        }
        $('#example1').DataTable({
            "paging": true,
            "lengthChange": true,
            "searching": true,
            "ordering": true,
            "info": true,
            "autoWidth": false,
        });
    });
    function AddEmployeeDetails() {
        window.location.href = "/HR/AddEmployeeDetails";
    }

    function showSuccessMessage(message, fadeOut) {
        //To clear existing toastr
        toastr.clear();
        //fadeOut = false;
        var position = "bottom-full-width";
        toastr.options.positionClass = 'toast-' + position;
        if (typeof fadeOut !== "undefined" && fadeOut == false) { toastr.options.timeOut = 0; }
        toastr.success(message);
    }
</script>