@model List<LMS_WebAPP_Domain.LeaveTransaction>
@{
    ViewBag.Title = "LeaveTransaction";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="../../plugins/datatables/dataTables.bootstrap.css">
  <!-- Select2 -->
<link rel="stylesheet" href="../../plugins/select2/select2.min.css">
        <!-- Content Wrapper. Contains page content -->
    <section class="content-header" style="height:41px">
        <h1 class="col-md-9" style="padding-left:0px">
            Leave Transactions
        </h1>
    </section>
            <!-- Main content -->
            <section class="content">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="box">

                            <div class="col-md-4" style="padding-bottom:10px;padding-top:10px">
                                <label>Leave Type</label>
                                <select class="form-control ddlLeave" id="ddlLeaveType">
                                    <option value="">All</option>
                                    @foreach (var value in Enum.GetValues(typeof(LMS_WebAPP_Utils.LeaveType)))
                                    {
                                        <option value="@Convert.ToInt16((LMS_WebAPP_Utils.LeaveType)value)">@(LMS_WebAPP_Utils.CommonMethods.Description((LMS_WebAPP_Utils.LeaveType)Convert.ToInt16((LMS_WebAPP_Utils.LeaveType)value))) </option>


                                    }
                                </select>
                            </div>
                            <div class="col-md-4" style="padding-bottom:10px;padding-top:10px">
                                <label>Month</label>
                                <select class="form-control ddlMonth" id="ddlMonthName">
                                    <option value="">All</option>
                                    <option value="1">Jan</option>
                                    <option value="2">Feb</option>
                                    <option value="3">Mar</option>
                                    <option value="4">Apr</option>
                                    <option value="5">May</option>
                                    <option value="6">Jun</option>
                                    <option value="7">Jul</option>
                                    <option value="8">Aug</option>
                                    <option value="9">Sep</option>
                                    <option value="10">Oct</option>
                                    <option value="11">Nov</option>
                                    <option value="12">Dec</option>
                                </select>

                            </div>
                            <div class="col-md-4" style="padding-top:10px">
                                <label>Transaction Type</label>
                                <select class="form-control ddlTransaction" id="ddlTransactionType">
                                    <option value="">All</option>
                                    @foreach (var value in Enum.GetValues(typeof(LMS_WebAPP_Utils.TransactionType)))
                                    {
                                        <option value="@Convert.ToInt16((LMS_WebAPP_Utils.TransactionType)value)">@(LMS_WebAPP_Utils.CommonMethods.Description((LMS_WebAPP_Utils.TransactionType)Convert.ToInt16((LMS_WebAPP_Utils.TransactionType)value))) </option>


                                    }
                                </select>

                            </div>

                            <div class="box-body" id="tblLeaveTransaction">
                              
                                <table id="example2" class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th>From Date</th>
                                            <th>To Date</th>
                                            <th>Submitted Date</th>
                                            <th>Status</th>
                                            <th style="width:160px">Number of working Days</th>
                                            <th>Leave Type</th>
                                            <th>Transaction Type</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (LMS_WebAPP_Domain.LeaveTransaction m in Model)
                                        {

                                            <tr role="row">
                                                <td>@m.FromDate.Date.ToString("dd/MM/yyyy")</td>
                                                <td>@m.ToDate.Date.ToString("dd/MM/yyyy")</td>
                                                <td>@m.CreatedDate.Date.ToString("dd/MM/yyyy")</td>
                                                <td>@(LMS_WebAPP_Utils.CommonMethods.Description((LMS_WebAPP_Utils.LeaveStatus)m.RefStatus))</td>
                                                <td>@m.NumberOfWorkingDays</td>
                                                <td>@(LMS_WebAPP_Utils.CommonMethods.Description((LMS_WebAPP_Utils.LeaveType)m.RefLeaveType))</td>
                                                <td>@(LMS_WebAPP_Utils.CommonMethods.Description((LMS_WebAPP_Utils.TransactionType)m.RefTransactionType))</td>

                                            </tr>


                                        }
                                    </tbody>
                                </table>
                            </div>
                            <!-- /.box-body -->
                        </div>
                        <!-- /.box -->
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
            </section>
            <!-- /.content -->
    <!-- ./wrapper -->
    <!-- DataTables -->

    <!-- page script -->
<script src="../../plugins/datatables/jquery.dataTables.min.js"></script>
<script src="../../plugins/datatables/dataTables.bootstrap.min.js"></script>
<script src="../../plugins/select2/select2.full.min.js"></script>
    <script>
        $(function () {
            $('#leaveTransaction').parent().addClass('active');
            $(".ddlLeave").select2();
            $(".ddlMonth").select2();
            $(".ddlTransaction").select2();
            $('#example2').DataTable({
                "paging": true,
                "lengthChange": true,
                "searching": false,
                "ordering": true,
                "info": true,
                "autoWidth": false,
            });
            setTimeout($("#example2").DataTable(), 5000);
   
        });
        function GetEmployeeLeavetransactionList()
        {
            var leaveType = $("#ddlLeaveType").val() != "" ? $("#ddlLeaveType").val() : 0;
            var transactionType = $("#ddlTransactionType").val() != "" ? $("#ddlTransactionType").val() : 0;
            var month = $('#ddlMonthName').val() != "" ? $('#ddlMonthName').val() : 0;
            $.ajax({
                cache: false,
                type: 'post',
                url: '/LeaveTransaction/GetEmployeeLeaveTransactionList',
                data: { leaveType: leaveType, month: month, transactionType, transactionType },
                //contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {
                    $("#tblLeaveTransaction").html("");
                    var refStatus = 0;
                    var html = "<table id='example2' class='table table-bordered table-striped'><thead>" +
                            "<tr><th>From Date</th><th>To Date</th><th>Submitted Date</th><th>Status</th>" +
                                "<th style=width:160px'>Number of working Days</th><th>Leave Type</th><th>Transaction Type</th></tr></thead><tbody>";
                    for (var i = 0; i < data.result.length; i++) {
                        html += "<tr><td>" + data.result[i].FormattedDate + "</td><td>" + data.result[i].FormattedToDate + "</td>" +
                           "<td>" + data.result[i].FormattedCreated + "</td>" +
                                   "<td>" + data.result[i].StatusName + "</td><td>"+data.result[i].NumberOfWorkingDays + "</td><td>" + data.result[i].LeaveTypeName + "</td><td>" + data.result[i].RefTransactionType + "</td>";
                        html += " </tr>";
                    }
                    html += "</tbody></table>";
                    $("#tblLeaveTransaction").html(html);
                    $('#example2').DataTable({
                        "paging": true,
                        "lengthChange": true,
                        "searching": false,
                        "ordering": true,
                        "info": true,
                        "autoWidth": false,
                    });
                }
            });
        };
        $(document).on('change', "#ddlLeaveType", function () {
            GetEmployeeLeavetransactionList();
        });
        $(document).on('change', "#ddlMonthName", function () {
            GetEmployeeLeavetransactionList();
        });
        $(document).on('change', "#ddlTransactionType", function () {
            GetEmployeeLeavetransactionList();
        });
    </script>