@{
    ViewBag.Title = "RewardLeaveTransaction";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Styles.Render("~/bundles/Content/css")
<section class="content-header" style="height:41px">
    <h1 class="col-md-9">
        Reward Leave
    </h1>
</section>
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-body">
                    <div class="row">
                        <div class="form-group col-md-4 col-sm-6" id="projects">
                            <label>From Project</label>
                            <select class="form-control" style="width: 100%;" id="projectsSelect">
                                @if (null != Model && null != Model.Projects)
                                {
                                    foreach (var project in Model.Projects)
                                    {
                                        <option value="@project.Id">@project.Name</option>
                                    }
                                }
                            </select>
                        </div>
                        @*<div class="form-group col-md-4 col-sm-6" id="projects">
                       <label>From Project</label>
                        </div>
                            @foreach (var project in Model.Projects)
                            {
                                <div class="col-md-4">

                                </div>
                            }
                    </div>*@

                    <div class="form-group col-md-4 col-sm-6" id="employee">
                        <label>Employee</label>
                        <select class="form-control" style="width: 100%;" id="employeesSelect">
                            @if (null != Model && null != Model.Employees)
                            {
                                foreach (var employee in Model.Employees)
                                {
                                    <option value="@employee.Id" data-emlpoyeeName="@employee.Name">@employee.Name</option>
                                }
                            }
                        </select>
                    </div>
                    <div class="form-group col-md-4 col-sm-6" id="noOfDays">
                        <label>Number of Days</label>
                        <input type="number" min="1" max="20" class="form-control" id="noOfRewardedDays">
                    </div>
                    <div class="form-group col-md-4 col-sm-6" id="comment">
                        <label>Enter comments</label>
                        <textarea class="form-control textAreaCommentRewardLeave" id="txtComment" maxlength="200" placeholer="Message"></textarea>
                    </div>
                </div>
                <div class="box-footer pad-left0 pad-bottom0">
                    <div class="form-group col-md-6 margin-bottom-0 btn-backgroundColor-dark pad-left0">
                        <button type="submit" id="confirmRewardLeave"  class="btn btn-backgroundColor-cinder text-color-white">Reward Leave</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
        </div>
</section>

<div class="modal rewardLeaveConfirmation-modal" id="RewardLeaveConfirmationModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content mar-left50-right50 border-radius-modalBottom">
            <div class="modal-header modalHeaderStyle">
                <button type="button" class="close text-color-white btnCancelReward" id="" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h3 class="modal-title">Reward Leave Confirmation</h3>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="paddingtopBottom10-leftRight15">
                        <div class="col-md-12 padding-bottom-10">
                            <label class="rewardConfirmTitle"></label>
                        </div>
                        <div class="col-md-12 padding-bottom-10">
                            <div class="col-md-6 text-align_center">
                                <div class="btn-group">
                                    <button type="button" id="" class="btn btn-danger width-100 btnCancelReward" aria-haspopup="true" aria-expanded="false">
                                        No
                                    </button>
                                </div>
                            </div>
                            <div class="col-md-6 text-align_center">
                                <div class="btn-group">
                                    <button type="button" id="btnRewardLeave" class="btn btn-success width-100" aria-haspopup="true" aria-expanded="false">
                                        Yes
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<script src="~/Content/Scripts/Common.js"></script>
@Scripts.Render("~/bundles/Content/js")
<script>
    $('#rewardLeave').parent().addClass('active');
    $("#btnRewardLeave").on("click", function () {
        var project = parseInt($("#projectsSelect option:selected").val());
        var employee = parseInt($("#employeesSelect option:selected").val());
        var noofDays = $("#noOfRewardedDays").val();
        var comment = $("#txtComment").val();
        if (project == "" || employee == "" || noofDays <= 0 || noofDays == "" || comment == "") {
            showMessage("Please select appropriate values", "2", true);
            return false;
        }
        noofDays = parseInt(noofDays);
        var model = {
            ProjectId: project,
            EmplooyeeId: employee,
            NumberofDays: noofDays,
            Comment: comment
        };
        $.ajax({
            cache: false,
            type: 'post',
            url: '/LeaveTransaction/RewardLeave',
            data: JSON.stringify(model),
            contentType: "application/json",
            dataType: "json",
            success: function (data) {
                if (data.rewarded) {
                    $("#noOfRewardedDays").val("");
                    $("#txtComment").val("");
                    $("#RewardLeaveConfirmationModal").modal("hide");
                    showMessage("Leave rewarded successfully", "1", true);
                }
                else {
                    showMessage("Leave could not be rewarded", "2", true);
                }
            }
        });
    });

    $("#confirmRewardLeave").on("click", function () {
        var project = parseInt($("#projectsSelect option:selected").val());
        var employee = parseInt($("#employeesSelect option:selected").val());
        var employeeName = $("#employeesSelect option:selected").attr("data-emlpoyeeName");
        var noofDays = $("#noOfRewardedDays").val();
        var comment = $("#txtComment").val();
        if (project == "" || employee == "" || noofDays <= 0 || noofDays == "" || comment == "") {
            showMessage("Please select appropriate values", "2", true);
            return false;
        }
        $(".rewardConfirmTitle").html("Are you sure you want to reward " + employeeName + " with " + noofDays + " day(s) of leave?");
        $("#RewardLeaveConfirmationModal").modal("show");
    });

    $(".btnCancelReward").on("click", function () {
        $("#noOfRewardedDays").val("");
        $("#txtComment").val("");
        $("#RewardLeaveConfirmationModal").modal("hide");
    });

</script>



